.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;

  mat-toolbar.breadcrumbs {
    background: transparent;
    margin: 30px 0 10px 0;
    min-height: auto;

    mat-toolbar-row.heading {
      height: auto;
    }

    mat-toolbar-row.subheading {
      height: auto;

      mat-icon {
        font-size: 16px;
        height: 16px;
        width: 16px;
      }

      .mat-h4 {
        font-size: 14px;
        margin: 0;
        text-decoration: none;
        color: #0076be;
      }
    }
  }
}

.flex-col-9 {
  flex: 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  pros-admin-tile {
    margin: 16px;
    flex: 1 1 30%;
  }
}

.flex-col-3 {
  flex: 1 25%;

  mat-card.latest-value {
    border-radius: 0;

    mat-card {
      padding: 0;
      margin-top: 16px;

      mat-card-title {
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 0;
      }

      .valuecommon-row {
        background: #f5f8fc;
        padding: 16px;
        margin-top: 10px;

        mat-card-subtitle {
          color: #0076be;
        }
      }
    }
  }
}
