div.root {
  user-select: none;
  height: 100%;
  overflow: hidden;
  width: 900px;

  .breadcrum-toolbar {
    padding: 8px 16px;
  }

  .sidesheetcontent-listing {
    height: calc(100% - 52px);
    overflow: auto;

    .mdo-justify {
      margin: 0 16px;

      .mdo-form-field {
        margin: 8px 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  div.root {
    .breadcrum-toolbar {
      .mdo-constrained-right {
        margin-right: 50px;
      }
    }

    .sidesheetcontent-listing {
      .mdo-justify {
        margin: 0 66px;
      }
    }
  }
}
