.root {
  display: flex;
  height: 100%;

  mat-card.secondary-card {
    border-radius: 0;
    padding: 0;
    height: 100%;
    user-select: none;
    overflow: hidden;
    width: 100%;

    .display-heading-large {
      font-size: 1.2rem;
      align-items: center;
      padding: 0 16px;

      > div {
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    pros-search-input {
      display: block;
      padding: 0 16px;
    }

    .nav-tree {
      height: calc(100% - 40px - 36px - 40px);
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0 16px;

      mat-accordion.mat-accordion {
        mat-expansion-panel {
          .mat-expansion-panel-header {
            padding: 0 0 0 16px;
            font-size: 0.9rem;

            mat-panel-title {
              width: 100%;
              margin-right: 0;

              .expand-title {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }

              .badge {
                margin: 0 8px;
              }
            }
          }

          mat-nav-list {
            mat-list-item {
              div.mat-line {
                padding-left: 48px;
              }
            }
          }
        }

        .heading-title {
          font-size: 0.9rem;
        }
      }
    }

    .section-header {
      font-size: 12px;
      overflow: hidden;
      text-align: center;

      &::after,
      &::before {
        background-color: #e4ebf3;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
      }

      &::before {
        right: 0.5em;
        margin-left: -50%;
      }

      &::after {
        left: 0.5em;
        margin-right: -50%;
      }
    }
  }

  .split-col {
    height: 100%;
    width: 1px;
    cursor: col-resize;
    position: absolute;
    right: 0;

    mat-icon.split-arrow {
      border-width: 1px;
      border-style: solid;
      border-radius: 50%;
      position: absolute;
      left: -10px;
      top: 22px;
      cursor: pointer;
      z-index: 2;
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
}
