.filter-header {
  border-bottom: 1px solid;
  align-items: center;
  padding: 8px 0;
}

mat-nav-list {
  padding-top: 0;
  overflow: auto;
  height: 100%;

  mat-list-item {
    font-size: 0.8rem;
  }
}
