div.root {
  user-select: none;
  height: 100%;
  overflow: hidden;
  margin: 0 -16px;

  .breadcrum-toolbar {
    padding: 8px 16px;

    .mdo-constrained-right {
      align-items: center;
      width: 100%;
      margin-right: 0;

      .breadcrum-head {
        width: 100%;
      }
    }
  }

  .sidesheetcontent-listing {
    height: calc(100% - 52px);
    overflow: auto;

    .mdo-justify {
      margin: 0 16px;

      .field-label {
        margin-bottom: 6px;
      }

      .slider-row {
        flex: 1;

        .lib-slider {
          height: 48px;
          width: 100%;
        }

        .percentage {
          width: 36px;
        }
      }

      .mat-error {
        margin-top: 6px;
      }

      .user-defined-set {
        position: relative;
        margin: 0 0 12px 0;

        &::before {
          display: block;
          content: "";
          height: 100%;
          width: 1px;
          position: absolute;
          top: 0;
          left: 50px;
        }

        .defined-row {
          border-width: 1px;
          border-style: solid;
          align-items: center;
          height: 54px;
          margin: 0 0 16px 0;

          div.col {
            display: block;
            flex: 1;
            min-width: 0;
            overflow: hidden;
            padding: 0 8px;

            &:first-of-type,
            &:last-of-type {
              min-width: auto;
              flex: 0 0 auto;
              padding: 0;
            }

            &.select-col {
              width: 68px;
              padding: 0 16px;
              height: 54px;
              align-items: center;
              display: flex;
              z-index: 1;
              justify-content: center;
              text-align: center;
            }
          }

          &.add-col {
            margin-bottom: 0;
            width: 100px;
          }
        }

        .sub-defined {
          padding-left: 100px;
          margin-top: -17px;
        }
      }

      .field-chip-list {
        flex-wrap: wrap;

        .lib-chip {
          display: flex;
          flex-direction: row;
          width: auto;
          padding: 2px;
        }

        .mat-input {
          width: auto;
          flex: 1;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  div.root {
    .breadcrum-toolbar {
      .mdo-constrained-right {
        margin-right: 50px;
      }
    }

    .sidesheetcontent-listing {
      .mdo-justify {
        margin: 0 66px;
      }
    }
  }
}
