mat-card.root {
  user-select: none;
  width: 600px;
  padding: 0 16px;

  .breadcrum-toolbar {
    position: sticky;
    padding-top: 16px;
    top: 0;
    z-index: 2;

    .mdo-constrained-right {
      width: 100%;

      .breadcrum-head {
        align-items: center;
        width: 100%;

        .display-heading-large {
          font-size: 1.2rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

  mat-card.check-list {
    padding: 0;

    .checkedall {
      display: flex;
      padding: 16px 0 12px 50px;
    }
  }
}

.colunm-list {
  overflow: hidden;
  display: block;

  .colunm-box {
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .mdo-constrained-right {
    margin-right: 52px;
  }
}
