.root {
  .custom-expansion {
    border-width: 1px;
    border-style: solid;
    margin: 16px 0;
    border-radius: 6px !important;

    .mat-expansion-panel-header {
      height: 60px !important;

      mat-panel-title {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      }
    }

    .duplicatedata-table {
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
      border-bottom: none;

      .mat-row {
        align-items: initial;
      }

      .mat-header-cell,
      .mat-cell {
        padding: 0 8px;
        border-left-width: 1px;
        border-left-style: solid;
        flex: 4;
        line-height: 16px;
      }

      .mat-header-cell:first-of-type,
      .mat-cell:first-of-type {
        border-left: none;
        flex: 1;
        justify-content: center;
      }

      .duplicatvalue {
        color: #dd9000;
      }

      .masteractive {
        color: #008040;
      }
    }

    .datatable-action {
      justify-content: flex-end;
      margin-top: 16px;
    }

    .duplirecord-container {
      .records-labels {
        flex: 1;
        padding: 16px 0;

        mat-list {
          padding-top: 50px;

          mat-list-item {
            height: 49px;
            font-size: 14px;
            font-weight: 400;
            cursor: default;

            mat-icon.show-icon {
              font-size: 18px;
            }
          }
        }
      }

      .mergerecords-conatiner {
        flex: 4;
        display: grid;
        padding: 16px;
        grid-template-columns: repeat(auto-fill, minmax(28%, 1fr));
        grid-gap: 1rem 2rem;
        grid-auto-columns: 28%;
        grid-auto-flow: column;
        overflow: auto;
        height: 100%;

        .record-cols {
          padding: 0;
          border-style: solid;
          border-width: 1px;

          mat-toolbar {
            min-height: 50px;
            font-size: 16px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;

            mat-toolbar-row {
              height: 50px;

              .master-active {
                color: #008040;
              }
            }
          }

          mat-list {
            padding-top: 0;

            .item-list {
              flex: 1;
              border-top-width: 1px;
              border-top-style: solid;
              font-size: 14px;

              .records-value-ell {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre-line;
                word-break: break-word;
              }

              mat-chip-list {
                mat-chip {
                  font-size: 12px;
                  width: 106px;
                  justify-content: center;
                }
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .custom-expansion {
      .duplirecord-container {
        .records-labels {
          flex: 2;
        }

        .mergerecords-conatiner {
          grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
          grid-auto-columns: 48%;
        }
      }
    }
  }

  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .custom-expansion {
      .duplirecord-container {
        .records-labels {
          flex: 3;
        }

        .mergerecords-conatiner {
          grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
          grid-auto-columns: 350px;
        }
      }
    }
  }
}
