div.root {
  user-select: none;
  height: 100%;
  overflow: hidden;
  width: 850px;

  .breadcrum-toolbar {
    padding: 8px 16px;

    .mdo-constrained-right {
      align-items: center;
      width: 100%;
      margin-right: 0;

      .breadcrum-head {
        width: 100%;
      }
    }
  }

  .sidesheetcontent-listing {
    height: calc(100% - 52px);
    overflow: hidden;

    .mdo-justify {
      margin: 0 16px;
      height: 100%;
      overflow: hidden;

      .field-label {
        margin-bottom: 6px;
      }

      .filter-section {
        align-items: flex-start;
        height: 100%;
        overflow: auto;

        .filter-list {
          width: 240px;
          height: 100%;
          border-right-width: 1px;
          border-right-style: solid;

          .lib-search {
            margin: 0 8px 8px 0;
          }

          .filter-scroll {
            height: 100%;
            overflow: auto;
            padding-right: 12px;

            .mat-panel-title {
              display: flex;
              align-items: center;
              width: 100%;
              margin: 0 0 0 8px;
            }
          }
        }

        .lib-checkbox {
          margin-bottom: 12px;
        }

        .dynamic-container {
          flex: 1;
          padding-left: 12px;

          .mdo-chip-list {
            margin-bottom: 16px;
          }

          .date-picker-section {
            align-items: flex-start;

            .date-picker-list {
              width: 49%;
            }
          }
        }

        .hide {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  div.root {
    .breadcrum-toolbar {
      .mdo-constrained-right {
        margin-right: 50px;
      }
    }

    .sidesheetcontent-listing {
      .mdo-justify {
        margin: 0 66px;
      }
    }
  }
}
