<div class="root">

  <div class="breadcrumb-wrapper">
    <pros-breadcrumb [crumbs]="breadcrumb"></pros-breadcrumb>
  </div>

  <pros-schema-tile class="tile" *ngFor="let schema of schemaGroups" (click)="showSchemaList(schema);"
    color="#1c90ff" icon="dashboard" title="{{schema.groupName | titlecase }}" totalValue="{{schema.runCount.total}}"
    thisWeekProgress="N/A" enableProgressBar=true successValue="{{schema.runCount.successPercentage}}"
    errorValue="{{schema.runCount.errorPercentage}}" enableEditButton=true enableDeleteButton=true groupId="{{schema.groupId}}"
    groupName="{{schema.groupName}}" (editTrigger)="editSchemaGroup($event)"></pros-schema-tile>

  <pros-schemabadge-tile class="tile" showAddNewTitle="Add a new group" routerLink="/home/schema/group/new"></pros-schemabadge-tile>
</div>