.root {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  .breadcrumb-wrapper {
    flex: 1 100%;
  }

  .tile {
    flex: 0 1 22.33333%;
    margin: 16px;
  }

  @media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .tile {
      flex: 1 1 22.33333%;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .tile {
      flex: 1 44%;
    }
  }

  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .tile {
      flex: 1 100%;
    }
  }
}
