mat-card.root {
  padding: 0 16px;
  user-select: none;
  width: 700px;

  .breadcrum-toolbar {
    align-items: center;
    padding-top: 16px;
    position: sticky;
    top: 0;
    z-index: 2;
    min-height: 40px;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .mdo-constrained-right {
      align-items: center;
      width: 100%;

      button.mat-flat-button {
        min-width: auto;
      }
    }
  }

  .mdo-justify {
    .mdo-form-field {
      margin: 8px 0;

      mat-label {
        font-weight: 500;
        font-size: 0.8rem;
      }
    }

    mat-divider.mat-divider {
      position: relative;
      margin: 16px 0;
      border-top-style: dashed;
    }

    .user-defined-set {
      position: relative;
      margin-top: 8px;

      &::before {
        display: block;
        content: "";
        height: 100%;
        width: 1px;
        position: absolute;
        top: 0;
        left: 50px;
      }

      .defined-row {
        border-width: 1px;
        border-style: solid;
        align-items: center;
        height: 54px;
        margin: 0 0 16px 0;

        div.col {
          display: block;
          flex: 1;
          min-width: 0;
          overflow: hidden;
          padding: 0 8px;

          &:first-of-type,
          &:last-of-type {
            min-width: auto;
            flex: 0 0 auto;
            padding: 0;
          }

          button.mat-button:hover {
            background: transparent;
          }

          button.mat-flat-button {
            height: 54px;
            border-radius: 0;
          }

          &.select-col {
            width: 68px;
            padding: 0 16px;
            height: 54px;
            align-items: center;
            display: flex;
            z-index: 1;
          }
        }

        &.add-col {
          margin-bottom: 0;
          width: 100px;
        }
      }

      .sub-defined {
        padding-left: 100px;
        margin-top: -17px;
      }
    }
  }
}

.fields-menu {
  padding: 12px;
  height: 100%;

  mat-nav-list {
    padding-top: 0;
    margin: 8px -12px;
    overflow: auto;
    // height: calc(100% - 36px - 16px * 2 - 8px * 2 - 36px);
    max-height: 180px;
  }
}

.col-inner-icon {
  font-size: 20px;
  height: 20px;
  width: 20px;
}

@media (min-width: 1200px) {
  .mdo-justify {
    margin: 0 54px;
  }

  .mdo-constrained-right {
    margin-right: 54px;
  }
}
