div.root {
  user-select: none;
  height: 100%;
  overflow: hidden;
  width: 768px;

  .mat-error {
    font-size: 11.2px;
    margin-top: 6px;
    line-height: 12px;
  }

  .breadcrum-toolbar {
    padding: 8px 16px;

    .mdo-constrained-right {
      align-items: center;
      width: 100%;
      margin-right: 0;

      .breadcrum-head {
        align-items: center;
        width: 100%;

        .display-heading-large {
          font-size: 1.2rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

  .sidesheetcontent-listing {
    height: calc(100% - 52px);
    overflow: auto;

    .mdo-justify {
      margin: 0 16px;

      .mdo-form-field {
        margin: 8px 0;

        mat-label {
          font-weight: 500;
          font-size: 0.8rem;
        }

        .slider-row {
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          flex: 1;

          .lib-slider {
            flex: 1;
            height: 48px;
          }
        }
      }

      mat-divider.mat-divider {
        position: relative;
        margin: 16px 0;
        border-top-style: dashed;
      }

      .user-defined-set {
        position: relative;
        margin-top: 8px;

        &::before {
          display: block;
          content: "";
          height: 100%;
          width: 1px;
          position: absolute;
          top: 0;
          left: 50px;
        }

        .defined-row {
          border-width: 1px;
          border-style: solid;
          align-items: center;
          height: 54px;
          margin: 0 0 16px 0;

          div.col {
            display: block;
            flex: 1;
            min-width: 0;
            overflow: hidden;
            padding: 0 8px;

            &:first-of-type,
            &:last-of-type {
              min-width: auto;
              flex: 0 0 auto;
              padding: 0;
            }

            &.range-col {
              flex: 2;
            }

            button.mat-button:hover {
              background: transparent;
            }

            button.mat-flat-button {
              height: 54px;
              border-radius: 0;
              width: 100px;
            }

            &.select-col {
              width: 68px;
              padding: 0 16px;
              height: 54px;
              align-items: center;
              display: flex;
              background: whitesmoke;
              z-index: 1;
            }
          }

          &.add-col {
            margin-bottom: 0;
            width: 100px;
          }
        }

        .sub-defined {
          padding-left: 100px;
          margin-top: -17px;
        }
      }
      .tarns-root{
        height: 100%;
        overflow: hidden;
        width: 100%;

        .colunm-box {
          padding: 6px 0;

          .col {
            display: flex;
            flex: 1 0 auto;
            width: 1px;
            align-items: center;
            flex-wrap: wrap;

            &.col-x4 {
              flex: 4;
            }

            &.mat-item-end {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}

.skeleton-loading {
  width: 100%;
  margin-right: 50px;

  > div {
    flex-grow: 1;
  }
}

.add-block {
  text-align: center;
  width: 100%;
}

.fields-menu {
  padding: 12px;
  height: 100%;

  mat-nav-list {
    padding-top: 0;
    margin: 8px -12px;
    overflow: auto;
    // height: calc(100% - 36px - 16px * 2 - 8px * 2 - 36px);
    max-height: 180px;
  }
}

@media (min-width: 1024px) {
  div.root {
    .breadcrum-toolbar {
      .mdo-constrained-right {
        margin-right: 50px;
      }
    }

    .sidesheetcontent-listing {
      .mdo-justify {
        margin: 0 66px;
      }
    }
  }
}
