mat-card.root {
  height: 100%;
  user-select: none;
  padding: 16px 0;

  .breadcrum-toolbar {
    align-items: center;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .content-text {
    margin-bottom: 42px;
  }
}
