.root {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-around;

  .crumbrow {
    align-items: center;
    margin-left: -15px;
  }

  .tiles-container {
    margin: 0 16px;
    width: 100%;

    mat-form-field {
      flex: 1;
    }

    .f-row {
      flex-wrap: wrap;
      flex: 1 100%;
    }

    .flex-row-container {
      flex-wrap: wrap;
      flex: 1 100%;
      padding: 24px 0;
      border-bottom-width: 1px;

      .flex-col-1 {
        flex: 0 1 22.33333%;
        margin: 16px 16px 0 0;
      }
    }
  }
}
