div.root {
  height: 100%;
  user-select: none;
  padding: 0;

  .breadcrum-toolbar {
    align-items: center;
    padding-top: 16px;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .palette-list {
    height: calc(100% - 52px - 16px * 3 - 36px);
    overflow: auto;

    mat-list.mat-list {
      mat-list-item.mat-list-item {
        border-bottom-style: solid;
        border-bottom-width: 1px;

        .colorpalettebox {
          width: 36px;
          height: 36px;
          cursor: pointer;
        }
      }
    }
  }
}
