.root {
  height: auto;

  mat-toolbar-row {
    height: auto;

    mat-icon {
      font-size: 14px;
      height: 14px;
      width: 14px;
      cursor: pointer;
    }
  }

  .spacer {
    height: 6px;
  }
}
