div.root {
  user-select: none;
  height: 100%;
  padding: 0 16px;

  .task-inbox {
    height: calc(100% - 42px - 36px * 2 - 8px * 5);

    table.mat-table {
      width: 100%;
      overflow: auto;

      td.mat-cell {
        border-right: none;

        .labels {
          margin-right: 8px;
        }
      }

      .mat-column-select {
        width: 36px;
      }

      .mat-column-setting {
        width: 112px;
      }

      .mat-column-sent,
      .mat-column-dueby,
      .mat-column-requestby,
      .mat-column-sentby {
        // text-align: right;

        .lib-avatar {
          float: right;
        }
      }
    }
  }
}

.height-zero-mat-menu-item {
  height: 0;
}
