div.nav-root {
  padding-right: 12px;
  align-items: center;
  height: 60px;

  .primarynav-logo {
    min-width: 220px;
    align-items: center;

    pros-svg-icon {
      height: 36px;
    }
  }

  mat-nav-list.primary-nav-list {
    mat-list-item.link-items {
      padding: 8px;
      font-size: 0.9rem;
      display: inline-block;
      height: auto;
      width: auto;

      &.selected::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
      }
    }
  }

  .global-menu {
    align-items: center;

    .lib-search {
      width: 213px;
    }

    .cursor {
      cursor: pointer;
    }
  }
}
