div.root {
  padding: 0 16px;
  user-select: none;

  .breadcrum-toolbar {
    align-items: center;
    padding-top: 8px;
    margin-bottom: 8px;
    position: sticky;
    top: 0;
    z-index: 2;
    min-height: 40px;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .message {
    display: flex;
    padding: 8px;
    align-items: center;
  }

  mat-list {
    position: relative;

    mat-list-item {
      padding: 8px 0;

      .short-line {
        font-size: 0.8rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  div.root {
    width: 62%;
    margin: 0 auto;
  }
}
