div.root {
  padding: 0 16px;
  user-select: none;

  .breadcrum-toolbar {
    padding-top: 8px;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  table.table-vertical {
    .mat-row {
      &.mat-row:nth-child(odd) {
        background: transparent;
      }
    }

    .mat-header-cell,
    .mat-cell {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-right: none;

      &.align-end {
        text-align: right;
        width: 300px;
      }
    }
  }
}
