.tasks-container {
  padding: 16px;
  position: relative;

  .ac-setting {
    position: absolute;
    right: 16px;
  }

  pros-columnsetting {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 30px;
  }

  mat-table {
    background: transparent;

    .mat-header-row {
      min-height: 36px;
      border: none;

      .mat-header-cell {
        font-size: 14px;
      }
    }

    .mat-row {
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
      margin: 8px 0;

      .mat-cell {
        font-size: 13px;

        .describe-text {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: pre-line;
          word-break: break-word;
          line-height: 16px;
        }

        .mat-button {
          font-size: 13px;
          font-weight: 400;
          padding: 0 0 0 8px;

          mat-icon {
            font-size: 22px;
          }
        }

        mat-chip {
          font-size: 13px;
          font-weight: normal;
          padding: 6px 10px;
          min-height: 28px;
        }

        .additiontags {
          margin-left: 8px;
          font-size: 13px;
          font-weight: 500;
          cursor: pointer;
        }
      }

      .mat-cell:first-of-type {
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
}

.split {
  border-right-width: 1px;
  border-right-style: solid;

  .hand-control {
    width: 7px;
    height: 26px;
    z-index: 1;
    position: absolute;
    right: -5px;
    top: 48%;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    cursor: col-resize;
  }
}
