div.root {
  user-select: none;
  height: 100%;
  overflow: hidden;
  width: 768px;

  .breadcrum-toolbar {
    padding: 8px 16px;
    z-index: 2;

    .mdo-constrained-right {
      width: 100%;

      .breadcrum-head {
        align-items: center;
        width: 100%;

        .display-heading-large {
          font-size: 1.2rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      pros-search-input {
        min-width: 213px;
      }
    }
  }

  .sidesheetcontent-listing {
    height: calc(100% - 103px);
    overflow: auto;

    .mdo-justify {
      .colunm-box {
        align-items: center;
        box-sizing: border-box;
        min-height: 48px;

        .col {
          display: flex;
          flex: 1 0 auto;
          width: 1px;
          align-items: center;
          margin: 0 0 0 16px;
          flex-wrap: wrap;

          &.col-x4 {
            flex: 4;
          }

          &.col-x8 {
            flex: 8;
          }

          strong {
            align-items: center;
          }

          mat-form-field {
            width: 100%;
          }

          .mat-line {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre-line;
            word-break: break-word;
          }

          pros-noun-modifier-autocomplete {
            flex: 1;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .mdo-constrained-right {
    margin-right: 50px;
  }

  .mdo-justify {
    margin: 0 66px;
  }
}
