.root {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;

  .breadcrumb-wrapper {
    flex: 1 100%;
  }

  mat-toolbar {
    min-height: 50px;
    font-size: 16px;

    mat-toolbar-row {
      height: 50px;
    }
  }

  mat-form-field {
    flex: 1;
  }

  mat-card-actions {
    text-align: right;
    margin: 0;
  }

  .addrule {
    width: 100%;

    .mat-h3 {
      margin: 0 16px;
    }

    .f-row {
      width: 100%;
      display: grid;
      grid-gap: 0;
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }

    .rules {
      margin: 8px 16px;

      .f-row {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0;

        .mat-h4 {
          margin: 0;
        }

        p {
          font-size: 12px;
          line-height: 16px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .rulesfields {
    width: 100%;
    margin: 16px;
    padding: 0;

    .f-col {
      margin: 16px;

      .fieldselection {
        width: 100%;
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
      }
    }
  }

  .condition-col {
    width: 332px;
    padding: 0;

    mat-accordion {
      .condition-division {
        text-align: center;
      }

      mat-expansion-panel {
        margin: 8px 0;

        mat-panel-title {
          -webkit-box-align: start;
          align-items: center;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .nullstate {
    align-items: center;

    .mat-fab {
      width: 110px;
      height: 110px;

      mat-icon {
        font-size: 50px;
        width: 50px;
        height: 50px;
      }
    }

    button {
      margin: 8px;
    }
  }

  .selectedblock-col {
    width: calc(100% - 332px - 6 * 16px);
  }

  @media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .addrule {
      .f-row {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      }
    }

    .rulesfields {
      .f-col {
        .fieldselection {
          grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        }
      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .addrule {
      .f-row {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      }
    }

    .rulesfields {
      .f-col {
        .fieldselection {
          grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        }
      }
    }
  }

  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .addrule {
      .f-row {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      }
    }

    .rulesfields {
      .f-col {
        .fieldselection {
          grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        }
      }
    }

    .condition-flex {
      flex-direction: column;
    }
  }
}
