mat-label {
  font-weight: 500;
  font-size: 0.8rem;
}

mat-form-field {
  .mat-input {
    margin-top: 0;
  }

  .input-actions {
    mat-divider.mat-divider {
      height: 40px;
    }

    button {
      border-radius: 0;
      height: 40px;
      width: 40px;

      mat-icon {
        font-size: 16px;
        width: 16px;
        height: 18px;
      }
    }
  }
}

mat-hint {
  font-size: 0.7rem;
}
