.root {
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;

  .f-col {
    align-items: center;
  }

  .mat-fab {
    width: 150px;
    height: 150px;
    font-size: 4em;
    position: relative;
    box-shadow: none;
  }

  .mat-mini-fab {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: none;
    background-color: #89c540;
  }

  .mat-h2 {
    margin: 32px 0 0 0;
  }

  .f-row {
    justify-content: space-around;
    margin-top: 32px;
  }
}
