mat-card.check-list {
  padding: 0;

  .checkedall {
    display: flex;
  }

  .colunm-list {
    overflow: hidden;
    display: block;
  }

  .colunm-box {
    align-items: center;
    box-sizing: border-box;
  }
}
