mat-card.root {
  border-radius: 0;
  padding: 0 12px;
  height: 100%;
  max-width: 180px;
  overflow: hidden;
  background-color: #324358;
  color: #b7bfce;
  user-select: none;

  .col-space {
    margin-left: 16px;
    white-space: nowrap;
  }

  .primarynav-logo {
    height: 40px;

    pros-svg-icon {
      height: 40px;
      display: inline-block;
    }
  }

  .create-new {
    align-items: center;
    cursor: pointer;
  }

  .primary-nav-list {
    height: calc(100% - 40px - 36px - 40px - 38px - 16px * 6);
    overflow: hidden;
    margin: 0 -12px;
    padding-top: 0;

    mat-nav-list {
      height: calc(100% - 48px - 16px);
      overflow: auto;
      overflow-x: hidden;

      mat-list-item {
        color: #b7bfce;
        font-size: 0.9rem;

        mat-icon {
          width: 16px;
          height: 16px;
          margin: 0 10px;
        }
      }
    }

    .primary-admin {
      align-items: center;
      height: 48px;
      padding: 0 16px;
      cursor: pointer;

      .admin-badge {
        margin: 0 10px;
      }
    }

    .mat-list-item.selected::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 5px;
    }
  }

  .nav-profile {
    cursor: pointer;
    align-items: center;
  }
}
