.mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  line-break: unset;
  white-space: nowrap;
  overflow: hidden;
}

mat-card.widget {
  box-sizing: border-box;
  padding: 8px;
  height: 100%;

  .f-row {
    align-items: center;
  }

  mat-card-content {
    height: calc(100% - 36px - 46px);
    overflow: auto;

    .root-table {
      table.mat-table {
        width: 100%;

        .mat-header-cell:first-of-type,
        .mat-cell:first-of-type {
          max-width: 40px;
          min-width: 40px;
        }
      }
    }

    mat-paginator {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
