mat-card.widget {
  border-radius: 6px;
  padding: 0;

  .widgettoolbar {
    height: 50px;
    padding: 16px;

    .mat-h3 {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-line;
      word-break: break-word;
      font-weight: 400;
      font-size: 16px;
      margin: 0;
    }
  }

  mat-card-content {
    padding: 16px;
  }

  .root-AdminTable {
    height: 500px;
    overflow: auto;

    table {
      width: 100%;
      z-index: 0;
      position: relative;

      td.mat-column-star {
        width: 22px;
        padding-left: 8px;
      }

      .mat-header-cell,
      .mat-cell {
        padding: 0 8px;
      }

      .mat-table-sticky:first-child {
        border-right: 1px solid #e0e0e0;
      }
    }
  }
}
