mat-card.root {
  height: 100%;
  user-select: none;
  padding: 0;

  .breadcrum-toolbar {
    align-items: center;
    margin-bottom: 32px;
    padding-top: 16px;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
