mat-accordion {
  margin-bottom: 12px;
}

.colunm-box {
  box-sizing: border-box;
  min-height: 48px;

  .col {
    display: flex;
    flex: 1 0 auto;
    width: 1px;
    align-items: center;

    &.col-x4 {
      flex: 4;
    }

    &.mat-item-end {
      justify-content: flex-end;
    }

    .mat-head-icon {
      font-size: 12px;
      width: 12px;
    }

    .cursor {
      cursor: pointer;
    }
  }
}

.fields-menu {
  padding: 12px 12px 0 12px;
  height: 100%;

  mat-nav-list {
    padding-top: 0;
    margin: 8px -12px 0 -12px;
    overflow: auto;
    min-height: 112px;
    max-height: 192px;
  }
}
