div.root {
  user-select: none;
  height: 100%;
  overflow: hidden;
  width: 800px;

  .breadcrum-toolbar {
    padding: 8px 16px;

    .mdo-constrained-right {
      width: 100%;
      margin-right: 0;

      .breadcrum-head {
        width: 100%;
      }
    }
  }

  .sidesheetcontent-listing {
    height: 100%;

    .lib-tab {
      height: 100%;

      .notification-list {
        overflow: auto;
        height: 100%;
      }

      mat-list-item.mat-list-item {
        height: auto;

        .notification-listing {
          width: 100%;
          padding: 8px 0;

          .notify-row {
            padding: 0 12px;
            width: calc(100% - 104px);

            .timetext {
              margin-top: 4px;
            }

            .mat-expand-icon {
              font-size: 8px;
              height: 8px;
              width: 8px;
              cursor: pointer;
            }
          }

          .job-row {
            width: calc(100% - 300px);
            padding: 0 12px;
          }

          .notify-content {
            &.expand-content {
              -webkit-line-clamp: inherit;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  div.root {
    .breadcrum-toolbar {
      .mdo-constrained-right {
        margin-right: 50px;
      }
    }
  }
}
