div.root {
  user-select: none;
  height: 100%;
  overflow: hidden;
  width: 800px;

  .breadcrum-toolbar {
    padding: 8px 16px;

    .mdo-constrained-right {
      align-items: center;
      width: 100%;
      margin-right: 0;

      .breadcrum-head {
        align-items: center;
        width: 100%;
        min-height: 36px;

        .display-heading-large {
          font-size: 1.2rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

  .sidesheetcontent-listing {
    height: 100%;

    mat-list-item.mat-list-item {
      height: auto;

      .job-line {
        font-size: 0.9rem;
        padding-left: 8px;
      }

      .time-icon {
        font-size: 12px;
        height: 10px;
      }

      .notification-listing {
        width: 100%;
        padding: 8px;

        .mat-line {
          font-size: 0.8rem;
          margin: 0;
          font-weight: 600;
        }

        .notify-row {
          align-items: center;

          .notify-message-row {
            align-items: baseline;
            flex: 20;

            .mat-expand-icon {
              font-size: 8px;
              height: 8px;
              width: 8px;
              cursor: pointer;
            }
          }
        }

        .notify-content {
          font-size: 0.7rem;
          line-height: 14px;
          margin-bottom: 4px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  div.root {
    .breadcrum-toolbar {
      .mdo-constrained-right {
        margin-right: 50px;
      }
    }
  }
}
