div.root {
  padding: 0 16px;
  user-select: none;
  width: 800px;
  height: 100%;

  .breadcrum-toolbar {
    align-items: center;
    padding-top: 16px;
    position: sticky;
    top: 0;
    z-index: 2;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .mdo-constrained-right {
      align-items: center;
      width: 100%;
    }
  }

  mat-nav-list {
    mat-list-item {
      height: auto;
      font-size: 0.7rem;
      padding: 8px 0;

      .mat-line {
        strong {
          font-weight: 500;
          font-size: 0.8rem;
        }
      }

      .notification-data {
        align-items: flex-start;
      }

      mat-card-header {
        margin-left: 24px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .mdo-justify {
    margin: 0 54px;
  }

  .mdo-constrained-right {
    margin-right: 54px;
  }
}
