<mat-card class="table-root">
    <mat-toolbar>
        <mat-toolbar-row>
            <span>Stocking Rule Check Listing</span>
            <span class="flex-spacer"></span>
            <button mat-flat-button (click)="openStatusInfoDialog();">Status Info</button>
            <button mat-flat-button>Business Rules</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider>

    <div class="mat-elevation-z8 bxshadow-variant-1 root-schemalisting">
        <mat-tab-group dynamicHeight selectedIndex="{{selectedTabIndex}}"
            (selectedIndexChange)="loadSchameDataByStatus($event);">
            <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
                <div class="schematable-filters">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                    <span class="flex-spacer"></span>


                    <!-- 
                    <button mat-button color="primary" (click)="openChooseColumnDialog();">Choose Column</button>
                    -->
                    <mat-form-field>
                        <mat-select (selectionChange)="chooseColumns($event);" [formControl]="chooseColumnCtrl" placeholder="Choose Column" [multiple]="true">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="chooseColumnFilterCtrl" placeholderLabel="Search"></ngx-mat-select-search>
                            </mat-option>                       
                            <ng-template ngFor let-column [ngForOf]="allDisplayedColumnsObservable | async">
                                <ng-template [ngIf]="column !== 'row_action'">
                                    <ng-template [ngIf]="column !== 'row_selection_check2box'">
                                        <mat-option  [value]="column">                                            
                                            {{allDisplayedColumnsDesc[column]}}
                                        </mat-option>
                                    </ng-template>                                    
                                </ng-template>                                
                            </ng-template>

                        </mat-select>
                    </mat-form-field>

                    <button mat-button color="primary" (click)="downloadErrorData($event);">Download Error(s)</button>
                </div>
                <div class="root-AdminTable">
                    <table mat-table [dataSource]="dataTableDataSource" matSort>
                        <!-- ADD DATA AND COLUMN -->
                        <ng-container *ngFor="let columnId of allDisplayedColumns" matColumnDef="{{columnId}}">

                         <ng-template [ngIf]="columnId === 'row_action'">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header matColumnDef="row_action"></th>
                        <td mat-cell *matCellDef="let element" [matMenuTriggerFor]="actiontable">
                            <mat-icon mat-icon-button>more_vert</mat-icon>
                            <mat-menu #actiontable="matMenu">
                                <button mat-menu-item *ngFor="let action of matMenu">{{action}}</button>
                                <ng-template [ngIf]="element.hasError">
                                    <button mat-menu-item (click)="element.startEdit();">Edit</button>
                                    <button mat-menu-item>Update</button>
                                </ng-template>
                            </mat-menu>
                        </td>
                        </ng-template>   

                        <ng-template [ngIf]="columnId === 'row_selection_check2box'">   
                        <th mat-header-cell *matHeaderCellDef class="checkbox-colunm" matColumnDef="row_selection_check2box">
                            <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row" class="checkbox-colunm">
                            <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                        </ng-template>



                        <ng-template [ngIf]="columnId !== 'row_selection_check2box' || columnId !== 'row_action'">   
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{allDisplayedColumnsDesc[columnId]}}</th>

                            <td mat-cell *matCellDef="let element">
                                {{element[columnId].fieldData}}
                            </td>
                        </ng-template>

                        </ng-container>

                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="statusColumn">
                            Status</th>
                        <td mat-cell *matCellDef="let element" style="width: 300px;">
                            <!--  <mat-chip-list aria-label="Status selection">      
                                    <ng-template *ngFor="let status of element[columnId].all_status; let idx=index" [ngIf]="manageChips(idx)" [ngIfElse]="countChips">
                                        <mat-chip class="custom-chip" [color]="status.color" selected>{{status.status}}</mat-chip>                                           
                                    </ng-template> 
                                    <ng-template #countChips>
                                        {{getHideStatusCount(element[columnId].all_status)}}
                                    </ng-template>
                                </mat-chip-list> -->
                        </td>


                        <tr mat-header-row *matHeaderRowDef="allDisplayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: allDisplayedColumns;"></tr>
                    </table>
                    <mat-paginator class="schema-pagination" [length]="dynamicRecordCount" [pageSize]="40"
                        [pageSizeOptions]="[40, 60, 100]" showFirstLastButtons (page)="doPagination($event);">
                    </mat-paginator>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-card>