<mat-card class="table-root">
    <mat-toolbar>
        <mat-toolbar-row>
            <span>Stocking Rule Check Listing</span>
            <span class="f-spacer"></span>
            <button mat-flat-button (click)="openStatusInfoDialog();">Status Info</button>
            <button mat-flat-button>Business Rules</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider>
    
    <div class="mat-elevation-z8 bxshadow-variant-1 root-schemalisting">
        <mat-tab-group dynamicHeight selectedIndex="{{selectedTabIndex}}"
            (selectedIndexChange)="loadSchameDataByStatus($event);">
            <mat-tab *ngFor="let tab of tabs; let index = index">
                <ng-template mat-tab-label>
                    {{tab}}
                    <mat-chip-list aria-label="Count">
                        <mat-chip>{{ matChipCountLabel(index) }}</mat-chip>                         
                    </mat-chip-list>
                 </ng-template>
                </mat-tab>
            </mat-tab-group>

                <div class="schematable-filters-fields">
                    <button mat-button color="primary">Header</button>
                    <mat-button-toggle-group [value]="selectedHeiField" appearance="legacy">
                        <mat-button-toggle (change)="applyHeirarchyField($event)" color="primary" *ngFor="let heirarchyField of allMetaDataFields.hierarchy" value="{{  heirarchyField.heirarchyId }}" aria-label="{{ heirarchyField.heirarchyText }}">
                          {{ heirarchyField.heirarchyText }}
                        </mat-button-toggle>
                    </mat-button-toggle-group>

                    <mat-button-toggle-group [value]="selectedGridId" appearance="legacy">
                        <mat-button-toggle (change)="applyGridField($event)" color="primary" *ngFor="let grdFld of allMetaDataFields.grids | keyvalue" value="{{  grdFld.key }}" aria-label="{{ grdFld.value.fieldDescri }}">
                          {{ grdFld.value.fieldDescri }}
                        </mat-button-toggle>
                    </mat-button-toggle-group>     
                </div>
                <mat-divider></mat-divider>
                <div class="schematable-filters">
                    <mat-form-field>
                        <input matInput  placeholder="Filter">
                    </mat-form-field>
                    <span class="f-spacer"></span> 
                    <mat-form-field>
                        <mat-label>Choose Column</mat-label>
                        <mat-select [formControl]="chooseColumnCtrl" multiple (selectionChange)="chooseColumns($event);">
                            <!-- <mat-select-trigger>
                            {{chooseColumnCtrl.value ? chooseColumnCtrl.value[0].fieldDescri : ''}}
                            <span *ngIf="chooseColumnCtrl.value?.length > 1" class="example-additional-selection">
                                (+{{chooseColumnCtrl.value.length - 1}} {{chooseColumnCtrl.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                            </mat-select-trigger> -->
                            <mat-option *ngFor="let field of allMetaDataFields.headers  | keyvalue; trackBy: chooseColumnTrackBy" [value]="field.key">{{field.value.fieldDescri}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-button color="primary">Download Error(s)</button>
                  
                </div>
                <div class="root-AdminTable">
                    <table mat-table [dataSource]="dataTableDataSource" matSort>
                        <!-- ADD DATA AND COLUMN -->
                        
                        <ng-container matColumnDef="row_more_action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                            <td mat-cell *matCellDef="let element" [matMenuTriggerFor]="actiontable">
                                <mat-icon mat-icon-button>more_vert</mat-icon>
                                <mat-menu #actiontable="matMenu">
                                    <button mat-menu-item *ngFor="let action of matMenu">{{action}}</button>
                                    <ng-template [ngIf]="element.hasError">
                                        <button mat-menu-item (click)="element.startEdit();">Edit</button>
                                        <button mat-menu-item>Update</button>
                                    </ng-template>
                                </mat-menu>
                            </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="row_selection_check2box">
                            <th mat-header-cell *matHeaderCellDef class="checkbox-colunm">
                                <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row" class="checkbox-colunm">
                                <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                    [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="OBJECTNUMBER">
                            <th mat-header-cell *matHeaderCellDef >
                                Object Number
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{ row['OBJECTNUMBER'] ? row['OBJECTNUMBER'].fieldData : '' }}
                            </td>
                        </ng-container>
                         

                        <ng-container *ngFor="let header of allMetaDataFields.headers | keyvalue; trackBy: dataTableTrackByFun" matColumnDef="{{ header.key }}">
                            <th mat-header-cell *matHeaderCellDef="header.key" mat-sort-header>
                                {{ header.value.fieldDescri }}
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{ row[header.key] ? row[header.key].fieldData : '' }}
                            </td>                        
                        </ng-container>
                          

                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="statusColumn">
                            Status</th>
                        <td mat-cell *matCellDef="let element" style="width: 300px;">
                            <!--  <mat-chip-list aria-label="Status selection">      
                                    <ng-template *ngFor="let status of element[columnId].all_status; let idx=index" [ngIf]="manageChips(idx)" [ngIfElse]="countChips">
                                        <mat-chip class="custom-chip" [color]="status.color" selected>{{status.status}}</mat-chip>                                           
                                    </ng-template> 
                                    <ng-template #countChips>
                                        {{getHideStatusCount(element[columnId].all_status)}}
                                    </ng-template>
                                </mat-chip-list> -->
                        </td>


                        <tr mat-header-row *matHeaderRowDef="selectedFields; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: selectedFields;"></tr>

                        <!-- Group header -->
                        <ng-container matColumnDef="groupHeader">
                            <td colspan="999" mat-cell *matCellDef="let groupBy">{{ groupBy.objectNumber }}</td>
                        </ng-container>

                        <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"> </tr>

                    </table>
                    <mat-paginator class="schema-pagination" [length]="dynamicPageSize" [pageSize]="40"
                        [pageSizeOptions]="[40, 60, 100]" showFirstLastButtons (page)="doPagination($event);">
                    </mat-paginator>
                </div>            
    </div>
</mat-card>