mat-card.root {
  margin: 0 auto;
  padding: 0 16px;
  user-select: none;
  height: 100%;

  .breadcrum-toolbar {
    padding-top: 16px;
    margin-bottom: 48px;
  }

  mat-list {
    position: relative;

    mat-list-item {
      padding: 16px 0;

      .mat-list-icon {
        width: 32px;
        height: 32px;

        mat-icon {
          font-size: 32px;
        }
      }

      .short-line {
        font-size: 0.8rem;
      }

      button {
        min-width: 110px;
      }
    }
  }
}

@media (min-width: 1240px) {
  mat-card.root {
    width: 62%;
  }
}
