mat-card.root {
  padding: 0 16px;
  user-select: none;

  .breadcrum-toolbar {
    align-items: center;
    padding-top: 16px;
    margin-bottom: 32px;
    position: sticky;
    top: 0;
    z-index: 2;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .paragraph-text {
    text-align: justify;
    margin-right: 16px;
  }

  mat-list {
    position: relative;

    mat-list-item {
      padding: 16px 0;

      .short-line {
        font-size: 0.8rem;
      }

      button {
        min-width: 110px;
      }
    }
  }
}

@media (min-width: 1200px) {
  mat-card.root {
    width: 62%;
    margin: 0 auto;
  }
}
