.matform--control{
    margin:16px 0;
    .label{
        font-family: roboto;
        font-size: 16px;
        opacity: 0.5;
        margin-right:10px;
        line-height: 14px;
    }
    .textarecontrol{
        width:100%;
    }
    .matradio--control{
            font-size:14px;
            .mat-radio-button{
                margin: 0 16px;
            }
        }
}  
.flex-col-12{ 
    flex:1 100%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 0px;
    pros-schema-tile{
        margin: 16px;
        flex: 1 1 30%;
    }
    .valuefields{
        margin:0 32px;
    }
    .mat-mini-fab{
        font-size: 20px;
        font-weight: bold;
    }
}
.mat-dialog-actions{
    float: right;
}