<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="row">
      <div class="col-10">
        <ion-title>
          Employees
        </ion-title>
        
      </div>
      <div class="col-2" (click)="addNewEmployee()">
        <ion-tab-button>
          <ion-icon name="person-add-outline"></ion-icon>
        </ion-tab-button>
        
      </div>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Employees</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class=" container-fluid emp-container">
    <router-outlet></router-outlet>
    <!-- <app-list ></app-list> -->
  </div>
</ion-content>
