::ng-deep {
  lib-radio-group.mdo-schedule-segment {
    mat-radio-group {
      display: flex;
      flex-wrap: wrap;
  
      mat-radio-button {
        flex: 0 0 25%;
        margin-bottom: 8px;
      }
    }
  }
}

div.root {
  user-select: none;
  height: 100%;
  overflow: hidden;
  margin: 0 -16px;

  .breadcrum-toolbar {
    padding: 8px 16px;

    .mdo-constrained-right {
      align-items: center;
      width: 100%;
      margin-right: 0;

      .breadcrum-head {
        align-items: center;
        width: 100%;

        .display-heading-large {
          font-size: 1.2rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

  .sidesheetcontent-listing {
    height: calc(100% - 52px);
    overflow: auto;

    .mdo-justify {
      margin: 0 16px;

      .mdo-form-field {
        padding: 8px 0;

        mat-label {
          font-weight: 500;
          font-size: 0.8rem;
        }

        &.every-field {
          align-items: center;

          lib-input {
            flex: 2;
          }

          .week-label {
            padding-top: 20px;
            flex: 3;
          }
        }
      }

      .panel-title {
        font-weight: 500;
      }

      .summary-rowlist {
        mat-list-item.mat-list-item {
          border-bottom-width: 1px;
          border-bottom-style: solid;
          font-size: 0.8rem;

          .row-heading {
            font-size: 0.9rem;
          }
        }
      }

      mat-divider {
        position: relative;
        margin: 16px 0;

        &.divider-dashed {
          border-top-style: dashed;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  div.root {
    .breadcrum-toolbar {
      .mdo-constrained-right {
        margin-right: 50px;
      }
    }

    .sidesheetcontent-listing {
      .mdo-justify {
        margin: 0 66px;
      }
    }
  }
}
