div.root {
  user-select: none;
  height: 100%;
  overflow: hidden;
  width: 900px;

  .breadcrum-toolbar {
    padding: 8px 16px 12px 16px;

    .mdo-constrained-right {
      align-items: center;
      width: 100%;
      margin-right: 0;

      .breadcrum-head {
        width: 100%;
      }
    }
  }

  .cnt-banner {
    padding: 0 65px;
  }

  .sidesheetcontent-listing {
    height: calc(100% - 52px);
    overflow: auto;

    .message {
      display: flex;
      padding: 8px;
      align-items: center;
    }

    .mdo-justify {
      margin: 0 16px;

      .field-label {
        margin-bottom: 6px;

        mat-icon.mat-icon {
          width: 12px;
          font-size: 12px;
          height: 14px;
        }
      }

      .panel-title {
        font-weight: 500;
      }
    }
  }
}

.colunm-box {
  box-sizing: border-box;
  min-height: 48px;

  .col {
    display: flex;
    flex: 1 0 auto;
    width: 1px;
    align-items: center;
    margin: 0 6px;
    flex-wrap: wrap;

    &.col-x4 {
      flex: 4;
    }

    &.col-x8 {
      flex: 8;
    }

    &.col-x16 {
      flex: 16;
    }

    &.mat-item-center {
      justify-content: center;
    }

    &.mat-item-end {
      justify-content: flex-end;
    }
  }
}

.lib-slider {
  height: 40px;
  flex: 1;
  display: inline-table;
}

.colunm-box .col.br-action {
  max-width: 72px;
  min-width: 72px;
  margin-right: initial;
}

@media (min-width: 1024px) {
  div.root {
    .breadcrum-toolbar {
      .mdo-constrained-right {
        margin-right: 50px;
      }
    }

    .sidesheetcontent-listing {
      .mdo-justify {
        margin: 0 66px;
      }
    }
  }
}
