mat-card.root {
  user-select: none;
  padding: 0 16px;
  height: 100%;

  .breadcrum-toolbar {
    align-items: center;
    padding-top: 16px;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      line-height: 36px;
    }

    button.mat-flat-button {
      margin-right: 1px;
      min-width: 80px;
    }
  }

  pros-dashboard-container {
    width: calc(100% - 32px);
  }
}
