div.root {
  user-select: none;
  padding: 0 16px;
  height: 100%;
  overflow: hidden;

  .breadcrum-toolbar {
    min-width: 0;
    flex: 10;
  }

  pros-null-state {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 48px - 16px * 2);
  }
}
