.root {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;

  .breadcrum-toolbar {
    align-items: center;
    padding: 16px;

    .display-heading-large {
      font-size: 1.2rem;
    }
  }

  .f-row {
    flex-wrap: wrap;
    flex: 1 100%;
  }

  pros-dashboard-container {
    width: calc(100% - 32px);
  }
}
