mat-card.widget {
  border-radius: 6px;
  padding: 0;

  .widgettoolbar {
    height: 50px;
    padding: 16px;

    .mat-h3 {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-line;
      word-break: break-word;
      font-weight: 400;
      font-size: 16px;
      margin: 0;
    }
  }

  mat-card-content {
    padding: 16px;
    overflow: auto;
  }

  .count {
    font-size: 36px;
    word-break: break-word;
    font-weight: 700;
    line-height: 36px;
  }
}
