mat-card.widget {
  box-sizing: border-box;
  padding: 8px;
  height: 100%;

  .lib-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  mat-card-content {
    height: calc(100% - 36px - 16px);
    overflow: auto;
  }
}
