mat-card.root {
  user-select: none;
  width: 600px;
  height: 100%;
  padding: 0 16px;

  .header-toolbar {
    align-items: center;
    width: 100%;

    .display-heading-large {
      font-size: 1.2rem;
    }
  }

  mat-card.check-list {
    padding: 0;

    .checkedall {
      display: block;
      padding-left: 16px;
      padding-top: 16px;

      .checkboxlabel {
        margin-left: 26px;
      }
    }

    mat-nav-list {
      mat-list-item {
        border-top-width: 1px;
        border-top-style: solid;
      }
    }
  }
}

@media (min-width: 1200px) {
  .mdo-justify {
    margin: 0 54px;
  }

  .mdo-constrained-right {
    margin-right: 54px;
  }
}
