div.root {
  user-select: none;
  height: 100%;
  overflow: hidden;
  width: 668px;

  .breadcrum-toolbar {
    padding: 8px 16px;
    z-index: 2;

    .mdo-constrained-right {
      width: 100%;

      .breadcrum-head {
        align-items: center;
        width: 100%;

        .display-heading-large {
          font-size: 1.2rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      pros-search-input {
        flex: 1;
      }
    }
  }

  .sidesheetcontent-listing {
    height: calc(100% - 103px);
    overflow: auto;
  }
}

.colunm-box {
  align-items: center;
  box-sizing: border-box;
  padding: 10px 0;

  .col {
    display: flex;
    flex: 1 0 auto;
    width: 1px;
    align-items: center;
    margin: 0 8px;

    &.col-x4 {
      flex: 4;
    }

    strong {
      align-items: center;
    }
  }
}

@media (min-width: 1200px) {
  .mdo-constrained-right {
    margin-right: 50px;
  }

  .mdo-justify {
    margin: 0 66px;
  }
}
