div.root {
  user-select: none;
  height: 100%;
  overflow: hidden;
  width: 700px;

  .breadcrum-toolbar {
    padding: 8px 16px;

    .mdo-constrained-right {
      align-items: center;
      width: 100%;
      margin-right: 0;

      .breadcrum-head {
        width: 100%;
      }
    }
  }

  .sidesheetcontent-listing {
    height: calc(100% - 52px);
    overflow: auto;

    .mdo-justify {
      margin: 0 16px;

      .field-label {
        margin-bottom: 6px;
      }
    }
  }
}

.colunm-box {
  box-sizing: border-box;
  padding: 6px 0;
  min-height: 48px;

  .col {
    display: flex;
    flex: 1 0 auto;
    width: 1px;
    align-items: center;
    margin: 0 4px;

    &.col-x4 {
      flex: 4;
    }

    &.col-x8 {
      flex: 8;
    }

    &.mat-item-end {
      justify-content: flex-end;
    }

    .mat-head-icon {
      font-size: 12px;
      height: 14px;
      width: 12px;
      margin-left: 4px;
    }

    .editablevalue {
      border-bottom-width: 1px;
      border-bottom-style: dashed;
    }
  }
}

@media (min-width: 1024px) {
  div.root {
    .breadcrum-toolbar {
      .mdo-constrained-right {
        margin-right: 50px;
      }
    }

    .sidesheetcontent-listing {
      .mdo-justify {
        margin: 0 66px;
      }
    }
  }
}
