mat-card.root {
  height: 100%;
  user-select: none;
  padding: 0;

  .breadcrum-toolbar {
    padding: 12px 0;
  }

  mat-horizontal-stepper {
    display: block;
    height: calc(100% - 76px - 6px - 16px * 4);
    overflow: auto;

    .upload-col {
      padding: 6rem 0;
      align-items: center;
      position: relative;

      .drag-input {
        position: absolute;
        width: 100%;
        height: 240px;
        opacity: 0;
      }
    }

    .dashed-divider {
      position: relative;
      margin: 16px 0;
      border-top-style: dashed;
    }

    .field-label {
      margin-bottom: 6px;
    }

    .schedule-row {
      align-items: center;

      mat-slide-toggle {
        padding-left: 8px;
      }
    }
  }

  .bottom-actions {
    align-items: center;
  }

  .cursor {
    cursor: pointer;
  }
}

.colunm-box {
  box-sizing: border-box;
  padding: 4px 0;
  min-height: 48px;
  font-size: 0.8rem;

  .col {
    display: flex;
    flex: 1 0 auto;
    width: 1px;
    align-items: center;
    margin: 0 2px;
    flex-wrap: wrap;

    .lib-input {
      width: 80%;
    }

    &.col-x2 {
      flex: 2;
    }

    &.col-x4 {
      flex: 4;
    }

    &.col-x8 {
      flex: 8;
    }

    &.col-x16 {
      flex: 16;
    }

    &.mat-item-center {
      justify-content: center;
    }

    &.mat-item-end {
      justify-content: flex-end;
    }

    mat-icon {
      font-size: 12px;
      width: 16px;
      height: 12px;
    }

    pros-form-input,
    pros-map-mdo-field,
    pros-form-input-autoselect,
    .mat-form-item {
      width: 100%;
    }

    .mat-line {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-line;
      word-break: break-word;
    }

    button.mat-stroked-button {
      margin-right: 4px;
      min-width: auto;
    }
  }

  .mdo-auto-complete {
    width: 100%;
  }
}

.slider-row {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;

  .lib-slider {
    flex: 1;
    height: 48px;
  }
}

.br-rules-list,
.br-dep-rules-list {
  width: 100%;
  height: 100%;
}
