mat-card.root {
  height: 100%;
  user-select: none;
  padding: 0;

  .breadcrum-toolbar {
    align-items: center;
    margin-bottom: 24px;
    padding-top: 8px;
    min-height: 40px;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      .step-weight {
        font-weight: 500;
      }
    }
  }

  mat-horizontal-stepper {
    display: block;
    height: calc(100% - 76px - 6px - 16px * 5);
    overflow: auto;

    .upload-col {
      padding: 6rem 0;
      align-items: center;
      position: relative;

      .drag-input {
        position: absolute;
        width: 100%;
        height: 240px;
        opacity: 0;
      }
    }

    .mat-radio-button {
      margin: 8px 0;
    }

    .dashed-divider {
      position: relative;
      margin: 16px 0;
      border-top-style: dashed;
    }

    .temp-field {
      mat-label {
        font-weight: 500;
        font-size: 0.8rem;
      }
    }

    .empty-state {
      align-items: center;

      .empty-heading {
        font-size: 1.2rem;
        margin-bottom: 24px;
      }

      .label-text {
        z-index: 1;
        margin-bottom: 24px;
      }

      button.mat-flat-button {
        z-index: 1;
      }
    }

    .schedule-row {
      align-items: center;

      mat-slide-toggle {
        padding-left: 8px;
      }
    }
  }

  .bottom-actions {
    align-items: center;
  }
}

.colunm-box {
  align-items: center;
  box-sizing: border-box;
  padding: 4px 0;
  min-height: 48px;
  font-size: 0.8rem;

  .col {
    display: flex;
    flex: 1 0 auto;
    width: 1px;
    align-items: center;
    margin: 0 16px;

    &.col-x4 {
      flex: 4;
    }

    &.col-x8 {
      flex: 8;
    }

    &.col-x16 {
      flex: 16;
    }

    &.mat-item-center {
      justify-content: center;
    }

    &.mat-item-end {
      justify-content: flex-end;
    }

    .info-link {
      align-items: center;
      font-size: 0.9rem;
      cursor: pointer;

      mat-icon {
        font-size: 12px;
        width: 16px;
        height: 12px;
      }
    }

    strong {
      align-items: center;
    }

    pros-form-input,
    pros-map-mdo-field,
    pros-form-input-autoselect,
    .mat-form-item {
      width: 100%;
    }

    .mat-line {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-line;
      word-break: break-word;
    }

    .slider-row {
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      flex: 1;

      mat-slider.mat-slider {
        flex: 1;
      }
    }

    button.mat-stroked-button {
      margin-right: 4px;
      min-width: auto;
    }
  }

  .mdo-auto-complete {
    width: 100%;
  }
}
