.general-container {
  padding: 0;
  height: 380px;
  overflow: auto;

  mat-card-content {
    margin-bottom: 0;

    .summary-datarows {
      .f-row {
        align-items: center;

        .summary-item-toggle {
          border-radius: 0;
          width: 100%;
          text-align: left;
          padding: 0 8px;
          font-size: 16px;
        }
      }

      .data-tile {
        flex: 3;
        padding: 0 8px;

        .data-topaction {
          .mat-h4 {
            margin: 0;
            font-weight: 600;
          }

          mat-chip {
            font-size: 12px;
          }
        }

        .summary-grid {
          mat-grid-tile {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .f-col {
              flex: 1;

              mat-label {
                font-weight: 500;
              }
            }
          }
        }

        .subchild-grid {
          margin: 0 8px 16px 8px;
        }
      }

      .comment-infobox {
        flex: 1;
        margin: 16px;

        .mat-line {
          margin-bottom: 4px;
          align-items: center;
          display: flex;
        }
      }
    }
  }
}

.page-actions {
  display: flex;
  padding: 8px 0;

  button {
    margin: 0 8px;
  }
}
