.general-container {
  padding: 0;
  max-height: 380px;
  overflow: auto;

  mat-card-content {
    margin-bottom: 0;

    .summary-datarows {
      .f-row {
        align-items: center;

        .summary-item-toggle {
          border-radius: 0;
          width: 100%;
          text-align: left;
          padding: 0 8px;
          font-size: 16px;
        }
      }

      .data-tile {
        flex: 3;
        padding: 0 8px;

        .data-topaction {
          .mat-h4 {
            margin: 0;
            font-weight: 600;
          }

          mat-chip {
            font-size: 12px;
          }
        }

        .summary-grid {
          mat-grid-tile {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .f-col {
              flex: 1;

              mat-label {
                font-weight: 500;
              }
            }
          }
        }

        .subchild-grid {
          margin: 0 8px 16px 8px;
        }

        .summarygrid-fields {
          mat-form-field {
            width: 100%;
            margin: 0 8px;
          }
        }

        .grid-table {
          border: 1px solid #e1e1e1;
          width: 70%;
          margin: 0 8px;
          border-left: none;
          border-bottom: none;

          mat-header-cell,
          mat-cell {
            padding: 0 8px;
            font-size: 14px;
            border-left: 1px solid #e1e1e1;
          }

          .cell-width-first {
            flex: 3;
          }

          .cell-width-second {
            flex: 2;
          }

          mat-header-cell:last-of-type,
          mat-cell:last-of-type {
            flex: 1;
            justify-content: center;
          }

          mat-form-field {
            width: 100%;
            height: 29px;
          }
        }
      }

      .comment-infobox {
        flex: 1;
        margin: 16px;

        .mat-line {
          margin-bottom: 4px;
          align-items: center;
          display: flex;
        }
      }
    }
  }
}

.page-actions {
  display: flex;
  padding: 8px 0;

  button {
    margin: 0 8px;
  }
}

.full-grid {
  height: auto;
}

.grid-min-width {
  height: 77px;
}

.custom-component-parent {
  width: 95%;
}
