.lib-input {
  height: 36px;
}

.rangeslider {
  .menu-spacing {
    padding: 12px;
    position: relative;
  }

  .selectrange {
    padding: 0 12px;
    min-height: 50px;
  }
}

.clear {
  position: absolute;
  right: 8px;
}
