.lib-input {
  height: 36px;
}

.rangeslider {
  .menu-spacing {
    padding: 12px;
  }

  .selectrange {
    padding: 0 12px;
    min-height: 50px;
  }
}

// .description {
//    padding: 8px 0;
//   .menu-spacing {
//      padding: 4px 12px;
//    }
//    .textarea {
//      padding: 0 12px;
//    }
//    .filter-button-wrapper {
//       padding: 0 12px;
//     }
//  }
