div.root {
  padding: 0 16px;
  user-select: none;
  height: 100%;
  overflow: hidden;

  .breadcrum-toolbar {
    align-items: center;
    min-height: 40px;
    padding: 8px 0;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      line-height: 40px;
      display: flex;
      align-items: center;
    }

    button.mat-flat-button,
    button.mat-fab {
      margin-left: 1px;
    }
  }

  .data-container {
    height: 100%;
    overflow: hidden;

    .dataset-grid {
      height: 100%;

      .dataset-grid-navigation {
        height: 100%;
        width: 308px;
        padding-right: 12px;
      }

      .nav-tree {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        mat-accordion.mat-accordion {
          mat-expansion-panel {
            .mat-expansion-panel-header {
              padding: 0 0 0 16px;

              mat-panel-title {
                width: 100%;
                margin-right: 0;

                .expand-title {
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                  font-size: 0.9rem;
                }
              }
            }

            .undertree-expansion-panel {
              margin-left: 26px;
            }

            mat-nav-list {
              mat-list-item {
                font-size: 0.9rem;
                height: 48px;

                .mat-list-icon {
                  height: 38px;
                  border-radius: 3px;
                  line-height: 36px;
                }
              }
            }
          }
        }
      }

      .badge {
        margin: 0 6px;
        font-size: 0.8rem;

        &.success {
          color: #51cf67;
          background-color: #ebfcee;
        }

        &.warning {
          color: #ff922b;
          background-color: #fff4e6;
        }

        &.error {
          color: #ff6b6b;
        }

        &.deletable {
          background-color: white;
        }
      }

      .dataset-grid-listing {
        padding: 0 12px;
        height: 100%;
        width: calc(100% - 320px - 1px);

        pros-search-input {
          min-width: 213px;
        }

        .data {
          overflow: auto;
          height: calc(91% - 36px - 16px * 2 - 8px);

          mat-table.mat-table {
            overflow-x: auto;
            width: 100vw;
            max-width: 100%;
            display: table;
            border-collapse: collapse;

            .text-correction {
              color: red;
            }

            .row-deletable {
              text-decoration: line-through;
            }

            .not-master-row {
              background-color: #fafafa;
            }
          }
        }
      }
    }
  }
}
