div.root {
  padding: 0 16px;
  user-select: none;
  height: 100%;
  overflow: hidden;

  .breadcrum-toolbar {
    padding-top: 8px;
  }

  .mat-divider {
    height: 100%;
  }

  .mdo-filter-matchip {
    margin: 0 4px 4px 0;
  }

  .dataset-grid {
    height: 100%;
    overflow: hidden;
    align-items: flex-start;

    .dataset-grid-navigation {
      height: 100%;
      width: 340px;

      pros-group-data-table {
        height: calc(100% - 96px);
        overflow-y: auto;
        overflow-x: hidden;
      }
    }

    .dataset-grid-listing {
      padding-left: 12px;
      height: 100%;
      width: calc(100% - 340px - 13px);

      .lib-search {
        width: 213px;
        margin: 0 4px 4px 0;
      }

      .data {
        overflow: auto;
        height: calc(100% - 44px - 24px - 40px - 44px);

        mat-table.mat-table {
          overflow-x: auto;
          width: 100%;
          max-width: 100%;
          display: table;
          border-collapse: collapse;

          .text-correction {
            text-decoration: line-through;
          }

          .mat-header-cell,
          .mat-cell {
            min-width: 160px;
          }

          .mat-column-action {
            min-width: 260px;
          }

          .mat-column-select {
            min-width: 38px;
          }

          .action-button {
            margin: 0 .5px;
        
            mat-icon.mat-icon {
              font-size: 14px;
              height: 18px;
            }
          }
        }
      }
    }
  }
}
