div.root {
  padding: 0 16px;
  user-select: none;
  height: 100%;
  overflow: hidden;

  .breadcrum-toolbar {
    align-items: center;
    min-height: 40px;
    padding: 8px 0;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      line-height: 40px;
      display: flex;
      align-items: center;
    }

    button.mat-flat-button,
    button.mat-fab {
      margin-left: 1px;
    }
  }

  .data-container {
    height: 100%;
    overflow: hidden;

    .dataset-grid {
      height: 100%;
      overflow: hidden;

      .dataset-grid-navigation {
        height: 100%;
        width: 340px;
        padding-right: 12px;

        pros-group-data-table {
          height: calc(100% - 50px - 24px - 32px);
          overflow-y: auto;
          overflow-x: hidden;
        }
      }

      .dataset-grid-listing {
        padding-left: 12px;
        height: 100%;
        width: calc(100% - 340px - 1px);

        pros-search-input {
          min-width: 213px;
        }

        button.mat-flat-button {
          margin-right: 1px;
        }

        .data {
          overflow: auto;
          height: calc(100% - 156px);

          mat-table.mat-table {
            overflow-x: auto;
            width: 100%;
            max-width: 100%;
            display: table;
            border-collapse: collapse;

            .text-correction {
              text-decoration: line-through;
            }

            .row-deletable {
              text-decoration: line-through;
            }
          }

          pros-null-state {
            position: fixed;
            margin: 0 16%;
          }
        }
      }
    }
  }
}
