div.root {
  user-select: none;
  height: 100%;
  padding: 0 16px;
  overflow: hidden;

  button.mat-flat-button {
    margin-left: 1px;
  }

  .breadcrum-toolbar {
    align-items: center;
    min-height: 40px;
    padding: 8px 0;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      line-height: 40px;
      display: flex;
      align-items: center;
    }

    button.mat-flat-button,
    button.mat-fab {
      margin-left: 1px;
    }
  }

  .filter-container {
    flex-wrap: wrap;
    margin: 16px 0;

    pros-search-input {
      width: 213px;
    }
  }

  .data {
    overflow: auto;
    height: calc(100% - 181px);

    mat-table.mat-table {
      overflow-x: auto;
      width: 100%;
      max-width: 100%;
      display: table;
      border-collapse: collapse;

      .progress-cell {
        flex: 1;
        align-items: center;

        mat-progress-bar {
          flex: 3;
        }

        .countscore {
          flex: 1;
          font-weight: 500;
        }
      }

      .mat-cell {
        .mdo-form-input {
          flex: 1;
        }
      }

      button.mat-flat-button {
        margin-right: 1px;
      }
    }
  }
}
