div.root {
  user-select: none;
  height: 100%;
  padding: 0 16px;
  overflow: hidden;

  .filter-container {
    flex-wrap: wrap;
    margin: 8px 0;

    .lib-search {
      width: 213px;
      margin-right: 4px;
    }

    .mdo-filter-matchip {
      margin: 0 4px;
    }
  }

  .listing-container {
    height: calc(100% - 56px - 35px - 8px * 2);
    overflow: hidden;

    .listset-navigation {
      height: 100%;
      width: 292px;
      padding-right: 12px;
      margin-right: 12px;
      border-right-width: 1px;
      border-right-style: solid;
      position: relative;

      .nav-tree {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        mat-accordion.mat-accordion {
          mat-expansion-panel {
            .mat-expansion-panel-header {
              padding: 0 0 0 8px;

              mat-panel-title {
                width: 100%;
                margin-right: 0;

                .expand-title {
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                  font-size: 0.9rem;
                }
              }
            }

            .undertree-expansion-panel {
              padding-left: 42px;
            }

            mat-nav-list {
              mat-list-item {
                font-size: 0.9rem;
                height: 48px;
              }
            }
          }
        }

        .default-badge {
          margin: 0 8px;
          min-width: 24px;
          text-align: right;
        }
      }

      .split-panel-mark {
        border-radius: 50%;
        position: absolute;
        right: -10px;
        top: 36px;
        cursor: pointer;
        z-index: 2;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 16px;

        mat-icon.mat-icon {
          width: 9px;
          font-size: 8px;
        }
      }
    }

    .listset-grid {
      width: calc(100% - 292px - 24px);
      height: 100%;
      overflow: hidden;

      .datasource {
        overflow-x: auto;
        height: calc(100% - 16px);
        display: inline-block;

        table.mat-table {
          border-collapse: separate;

          .mat-row,
          .mat-header-row {
            border: none;
          }

          .mat-header-cell,
          .mat-cell {
            min-width: 170px;
            max-width: 170px;

            .collapse-icon {
              padding: 4px;
              border-radius: 50%;
              cursor: pointer;
              position: absolute;
              text-align: center;
              width: 12px;
              height: 12px;
              font-size: 10px;
              line-height: 12px;
              right: 6px;
              bottom: -10px;
            }
          }

          .mat-column-_row_actions {
            min-width: 36px;
            max-width: 200px;
            border-right: none;
          }

          .mat-column-_select_columns,
          .mat-column-_assigned_buckets {
            min-width: 36px;
            max-width: 36px;
            border-right: none;
          }

          .mat-column-___header__collapsible {
            min-width: 48px;
            max-width: 48px;
            padding: 0;
            vertical-align: top;

            .verticalsub-text {
              text-orientation: mixed;
              writing-mode: vertical-lr;
              height: 100%;
              border-right-width: 1px;
              border-right-style: solid;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding-top: 32px;
            }
          }

          .mat-column-_score_weightage {
            min-width: 120px;
            border-right: none;

            .progress-cell {
              width: 120px;

              mat-progress-bar {
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
}
