.sum-collection {
  margin-left: 3px;
}

.sum-collection::after {
  display: inline-block;
  content: '';
  border-radius: 50%;
  height: 3px;
  width: 3px;
  background-color: #bdbdbd;
  margin-left: 3px;
}

.sum-collection:last-child::after {
  display: none;
}
