.root {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  max-width: 460px;
  position: relative;
  height: 100%;
  width: 460px;

  mat-toolbar {
    min-height: 50px;

    mat-toolbar-row {
      height: 50px;
    }
  }

  mat-form-field {
    width: calc(100% - 32px);
    height: 60px;
    margin: 8px 16px;
  }

  .mat-line {
    margin: 0;
  }

  mat-slide-toggle {
    margin: 4px 8px;
  }

  .collaborators-list {
    height: calc(100% - 50px - 76px - 240px);
    overflow-y: auto;
    width: 100%;
  }

  .chip-enable-coll-list {
    height: calc(100% - 50px - 76px - 274px);
  }

  .collaborators-add {
    width: 428px;
    height: 229px;
    position: fixed;
    bottom: 40px;
    padding: 0 16px;

    .mat-h3 {
      margin: 8px 0 0 0;
      font-weight: 500;
    }

    mat-form-field {
      margin: 0;
      width: 100%;
    }

    .selected-coll-groups {
      margin: 8px 0;
      align-items: center;
      justify-content: space-between;

      mat-chip-list {
        width: calc(100% - 80px);

        mat-chip {
          font-size: 12px;
          display: flex;
          min-width: 120px;
          justify-content: space-between;
          align-items: center;
          max-width: 170px;

          .chip-content {
            width: calc(100% - 36px);
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre-line;
            word-break: break-word;
          }

          .chip-icon {
            font-size: 18px;
            height: 18px;
            width: 18px;
            margin-top: 2px;
            cursor: pointer;
          }

          .icon-user {
            color: #0d66d0;
          }

          .icon-role {
            color: #cb6f10;
          }

          .icon-group {
            color: #12805c;
          }
        }
      }
    }

    .action {
      justify-content: flex-end;
    }
  }

  .chip-enable-coll-add {
    height: 274px;
  }

  .permissions {
    justify-content: space-between;
  }
}
