<div class="root">
  <div class="flex-col-12">
    <pros-breadcrumb [crumbs]="breadcrumb"></pros-breadcrumb>
  </div>
  <div *ngFor="let module of schemaListDetails" class="flex-row-container">
    <h3 class="H3">{{module.moduleDesc}}</h3>
    <pros-schema-tile class="flex-col-1" *ngFor="let schemaLst of module.schemaLists"
      (click)="showSchemaDetails(schemaLst,module.moduleId)" color="#1c90ff" icon="dashboard"
      title="{{schemaLst.schemaDescription}}" totalValue="{{schemaLst.totalCount}}" thisWeekProgress="{{schemaLst.trendingCount}}"
      enableProgressBar="true" successValue="{{schemaLst.successPercentage}}" errorValue="{{schemaLst.errorPercentage}}"
      isSchemaList="true" moduleId="{{module.moduleId}}" schemaId="{{schemaLst.schemaId}}"
      variantCount="{{schemaLst.variantCount}}" schemaCreatedBy="{{schemaLst.createdBy}}"
      createdDate="{{schemaLst.dateModified}}" modifiedBy="{{schemaLst.createdBy}}"
      lastModifiedDate="{{schemaLst.dateModified}}" lastRunTime="{{schemaLst.lr}}" lastRunDuration="{{schemaLst.lr}}"
      colaborators="{{schemaLst.colaborators}}" schemaStructure="{{schemaLst.struc}}" enableEditButton=true groupId="{{schemaGroupId}}"
      (editTrigger)="editSchema($event, schemaLst.schemaDescription);" (showVariantClick)="showVariants($event)" (executeTrigger)="executeSchemaPage($event);">
    </pros-schema-tile>

    <pros-schemabadge-tile class="flex-col-1" showAddNewTitle="Create a new schema" createSchemaBadge=true>
    </pros-schemabadge-tile>

  </div>

</div>