<mat-card class="flex-container">
  <div class="flex-col-12">
    <div class="content-row">
      <pros-breadcrumb [crumbs]="breadcrumb"></pros-breadcrumb>
    </div>
    
    <div *ngFor="let schemaList of schemaLists | keyvalue" class="flex-col-12">
      <h3 class="H3">{{schemaList.key}}</h3>
      <pros-schema-tile *ngFor="let schemaLst of schemaLists[schemaList.key]" (click)="showSchemaDetails(schemaLst)" color="#1c90ff" icon="dashboard" title="{{schemaLst.title}}"  totalValue="{{schemaLst.totalValue}}" thisWeekProgress="{{schemaLst.thisWeekProgress}}" enableProgressBar="{{schemaLst.enableProgressBar}}" successValue="{{schemaLst.successValue}}" errorValue="{{schemaLst.errorValue}}" isSchemaList="true" moduleId="{{schemaList.key}}" schemaId="{{schemaLst.schema_id}}" variantCount="{{schemaLst.variants.total_variants}}"></pros-schema-tile>
    </div>
    <!--  (click)="showSchemaDetails(schemaLst)"  -->

   
    

  </div>    
</mat-card>







<!--
<button class="btn btn-success" (click)="showChart();">Show Chart</button>
-->
