.global-search {
  width: 600px;
  height: auto;
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
  top: 95px;
  left: 20px;
  z-index: 110;

  .filter-button {
    align-items: flex-start;

    .filter-table {
      overflow: hidden;
      height: 100%;
    }
  }
}
