mat-sidenav-container {
  position: fixed;
  width: 100%;
  height: calc(100% - 40px); // remove the fixed footer height
}

mat-toolbar.footer {
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  z-index: 2;
  min-height: 40px;
  max-height: 40px;

  mat-toolbar-row {
    min-height: 40px;
    max-height: 40px;

    a {
      color: #fff;
    }
  }
}

.palette {
  padding: 5px 8px;

  .primary {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 120px;
    height: 16px;
    cursor: pointer;
    border-radius: 8px;

    div {
      width: 50px;
      height: 16px;
      border-radius: 8px;
    }

    mat-icon {
      font-size: 16px;
      height: 16px;
      width: 16px;
      color: #fff;
      margin-right: 40px;
    }
  }
}

.palette:nth-of-type(odd) {
  background-color: rgba($color: #000, $alpha: 0.25);
}

.palette:nth-of-type(even) {
  background-color: rgba($color: #fff, $alpha: 0.25);
}
