.root {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  .breadcrumb-wrapper {
    flex: 1 100%;
  }

  .flex-row-container {
    flex-wrap: wrap;
    flex: 1 100%;

    .mat-headline {
      display: flex;
      flex: 0 1 100%;
      margin: 8px 16px;
    }
  }

  .flex-col-1 {
    flex: 0 1 22.33333%;
    margin: 16px;
  }

  @media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .flex-col-1 {
      flex: 1 1 22.33333%;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .flex-col-1 {
      flex: 1 44%;
    }
  }

  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .flex-col-1 {
      flex: 1 100%;
    }
  }
}
