.filter-slider {
  display: flex;
  flex-flow: wrap;
  margin: 8px;
  padding: 0;

  mat-card-content {
    width: 100%;
    padding: 8px 16px;
    margin: 0;

    .mat-h4 {
      font-size: 14px;
      display: flex;
      margin: 0;
      align-items: center;
    }

    .module-actions {
      flex-wrap: wrap;

      button {
        margin: 0 8px 8px 0;
        flex-shrink: 0;
      }
    }

    .fields-action {
      flex-wrap: wrap;

      mat-form-field {
        height: 50px;
        border-radius: 4px;
        margin: 8px 8px 8px 0;
      }

      .custom-input {
        height: 51px;
      }
    }
  }

  .adv-filter-section {
    border-radius: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    .f-col {
      flex: 1;

      .mat-line {
        margin: 8px 16px 0 16px;
      }
    }

    .nav-setting {
      height: 170px;
      overflow: auto;
      padding: 0;

      .mat-list-item {
        font-size: 14px;
        height: 36px;
      }
    }

    .nav-checked {
      height: 210px;
      overflow: auto;
      padding: 8px 16px 0 16px;
      flex: 3;

      mat-checkbox {
        margin: 4px 0;
      }
    }

    .info-filters-cont {
      align-items: center;
      padding: 0 8px;

      .selected-filters {
        flex: 5;
        padding: 8px;

        mat-chip {
          .datachip {
            font-size: 12px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre-line;
            word-break: break-word;
            width: 84%;
          }

          mat-icon {
            font-size: 16px;
            height: 16px;
            width: 16px;
            margin-left: 4px;
          }
        }
      }

      .filter-action {
        display: flex;
        flex: 1;
        justify-content: flex-end;

        button {
          margin: 8px;
        }
      }
    }
  }
}
