<mat-toolbar class="toolbar-spacer">
    <mat-toolbar-row>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar color="primary" class="root">
    <mat-toolbar-row>
      <img src="assets/images/mdo.png" alt="MDO"/>
      <button mat-stroked-button color="primary">Search Platform Setting&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon matSuffix>search</mat-icon></button>
      <span class="flex-spacer"></span>
      <mat-icon>person</mat-icon>
      <span class="mat-h4">User Name</span>
      <mat-divider vertical="true"></mat-divider>
      <a>
        <mat-icon>power_settings_new</mat-icon>
        Logout
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <mat-toolbar class="footer">
    <mat-toolbar-row>
      <p class="mat-caption">© 2019 Prospecta Software Pvt. Ltd.. All Rights Reserved.</p>
      <span class="flex-spacer"></span>
      <a mat-button class="mat-caption">Privacy Policy</a>
      <a mat-button class="mat-caption">Terms of Use</a>
    </mat-toolbar-row>
  </mat-toolbar>