mat-card.root {
  mat-card-header {
    height: 36px;
    max-height: 36px;
    line-height: 24px;

    mat-card-title {
      font-size: 16px;
      margin: 0 -16px;
    }

    mat-card-actions {
      margin-top: -10px;
      padding-top: 0;
      padding-bottom: 0;

      button,
      a {
        color: #9fa9af;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-top: 5px;
      }

      display: flex;

      mat-icon {
        font-size: 20px;
      }
    }
  }

  .mat-card-actions-footer {
    display: flex;

    .vt--col {
      display: inline-block;
      padding: 0 10px;
      cursor: pointer;

      mat-card-title {
        font-size: 14px;
        margin: 0;
        line-height: 20px;
      }

      mat-card-subtitle {
        font-size: 12px;
        margin: 0;
      }
    }
  }

  mat-card-content {
    margin-top: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    .H2 {
      font-size: 40px;
      display: inline;
      margin-right: 8px;
    }

    small {
      font-size: 14px;
      opacity: 0.5;
      font-weight: 500;
    }

    .trendhigh {
      width: 100%;
      font-size: 20px;
      color: #c30000;
      font-weight: 600;
      margin-top: 0;
    }

    .trendlow {
      width: 100%;
      font-size: 20px;
      color: #4caa00;
      font-weight: 600;
      margin-top: 0;
    }

    .countrelation {
      font-style: normal;
      opacity: 0.5;
      font-size: 14px;
    }

    .score-subhead {
      display: grid;
      margin: 10px 0 5px 0;
    }
  }
}
