.root {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  .tasklist-container {
    width: 100%;

    .heading-page {
      font-size: 32px;
      font-weight: 700;
      margin: 16px 0 8px 0;
    }

    .search-action {
      padding: 8px;
      align-items: center;

      mat-form-field {
        width: 500px;
        height: 55px;
      }

      .list-field {
        mat-form-field {
          width: 136px;
        }
      }

      .mat-stroked-button {
        height: 51px;
        margin: 4px 0 0 0;
      }

      .mat-button {
        mat-icon {
          font-size: 20px;
        }
      }
    }

    pros-list-filters-dropdown {
      position: absolute;
      top: 60px;
      width: 100%;
      z-index: 101;
    }

    .list-table {
      padding: 0 8px;
      position: relative;
      max-height: 768px;

      .mat-table {
        width: 100%;

        th.mat-header-cell {
          padding: 0 8px;
          font-size: 14px;
        }

        td.mat-cell {
          padding: 0 8px;
        }

        .highlighted {
          font-weight: 500;
        }

        .ac-setting {
          z-index: 3;
        }
      }
    }

    pros-listcolumnsetting {
      position: absolute;
      z-index: 101;
      right: 4px;
      top: 178px;
    }
  }
}
