.root {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  .tasklist-container {
    width: 100%;

    .Material-List {
      height: 39px;
      font-size: 32px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.81;
      letter-spacing: 0.38px;
      text-align: left;
      color: #086fa1;
    }

    .search-action {
      padding-top: 16px;
      align-items: center;

      mat-form-field {
        width: 500px;
        height: 55px;
      }

      .list-field {
        display: block;
        margin: 0 0 0 20px;

        mat-form-field {
          width: 136px;
        }
      }

      .mat-stroked-button {
        height: 51px;
        margin: 4px 0 0 0;
      }

      .mat-button {
        mat-icon {
          font-size: 20px;
        }
      }
    }

    table {
      width: 100%;
      background: #fcfcfd;
      box-shadow: none;

      .header-color {
        color: #086fa1;
      }
    }

    .btn-list {
      font-size: 12px;
      font-weight: 300;
      line-height: 1.19;
      letter-spacing: 0.96px;
      text-align: left;
      box-shadow: none;
      padding: 10px 10px 10px 20px;
    }

    .list-thead.list-card {
      margin: 0;
      min-height: auto;

      .ac-setting {
        position: absolute;
        right: 22px;
        top: 68px;
        z-index: 3;
      }

      pros-listcolumnsetting {
        position: absolute;
        z-index: 3;
        right: 0;
        top: 60px;
      }
    }
  }
}

.example-container {
  height: 400px;
  overflow: auto;
  z-index: 1;
  position: relative;
  box-shadow: none;
}
