div.root {
  padding: 8px;
  height: 100%;

  mat-nav-list {
    padding-top: 0;
    margin: 8px -8px;
    overflow: auto;
    height: calc(100% - 36px - 8px * 4 - 36px);
    max-height: 139px;
  }
}
