// Padding's
.padd-0 {
  padding: 0;
}

.padd-8 {
  padding: 8px;
}

.padd-16 {
  padding: 16px;
}

.padd-tb-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padd-lr-0 {
  padding-left: 0;
  padding-right: 0;
}

.padd-tb-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padd-lr-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.padd-tb-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padd-lr-16 {
  padding-left: 16px;
  padding-right: 16px;
}

// Margin's
.mar-0 {
  margin: 0;
}

.mar-tb-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mar-lr-0 {
  margin-left: 0;
  margin-right: 0;
}

.mar-tb-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mar-lr-8 {
  margin-left: 8px;
  margin-right: 8px;
}

// Float's
.fl-block {
  float: left;
}

.fr-block {
  float: right;
}

.fn-block {
  float: none;
}

// Display's
.IN_B-display {
  display: inline-block;
}

.F-display {
  display: flex;
  flex-wrap: wrap;
}

.JC-display {
  justify-content: center;
}

//Spacer's
.flex-spacer {
  flex-grow: 1;
}

.col-spacer {
  width: 16px;
}

//Text Justify's
.textcenter {
  text-align: center;
}

//Border Radius
.B_R-top_lr-3 {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

//Background's
.bg-color-0 {
  background: transparent;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-container-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-col-2 {
  flex: 2 40%;
}

.flex-col-1 {
  flex: 1 200px;
}

.mapping-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col-12 {
  flex: 1 100%;
}

.flex-col-9 {
  flex: 1 70%;
}

.flex-col-3 {
  flex: 1 25%;
}
