mat-card.root {
  user-select: none;
  padding: 0;

  .breadcrum-toolbar {
    align-items: center;
    padding-top: 8px;
    position: sticky;
    top: 0;
    z-index: 2;
    line-height: 40px;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .mdo-constrained-right {
      align-items: center;
      width: 100%;
    }
  }

  .mdo-justify {
    .invite-colunm {
      align-items: center;
      margin-bottom: 8px;

      .col-x2 {
        flex: 2;
        margin-right: 16px;

        mat-form-field {
          width: 100%;
        }
      }

      .info-link {
        align-items: center;
        font-size: 0.9rem;
        cursor: pointer;

        mat-icon {
          font-size: 12px;
          width: 16px;
          height: 12px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .mdo-justify {
    margin: 0 54px;
  }

  .mdo-constrained-right {
    margin-right: 54px;
  }
}
