.root {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  .advance-option {
    width: 100%;
    margin: 16px;
    padding: 0;

    mat-toolbar {
      min-height: 50px;
      font-size: 16px;

      mat-toolbar-row {
        height: 50px;
      }
    }

    mat-card-content {
      padding: 16px;
      margin: 0;

      .optionexpansion {
        margin-bottom: 16px;
        border-radius: 6px;

        mat-expansion-panel-header {
          height: 60px !important;
        }

        .expand-description {
          mat-form-field {
            flex: 1;
          }

          .row-first {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
            grid-gap: 0 1rem;
            -webkit-box-align: start;
            align-items: start;
            -ms-flex-align: start;

            .mat-label {
              display: flex;
              font-size: 16px;
            }

            mat-checkbox {
              margin: 8px 0;
            }
          }

          .row-third {
            align-items: start;

            .mat-mini-fab {
              margin: 10px 16px 0 16px;
              font-size: 32px;
            }

            .mat-stroked-button {
              height: 50px;
              margin-left: 16px;
              margin-top: 5px;
            }
          }

          .action-bottom {
            margin-top: 16px;
            justify-content: flex-end;
          }
        }
      }
    }

    .advance-action {
      justify-content: flex-end;
      padding: 16px 16px 16px 0;
    }
  }
}
