.root {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: -24px;

  mat-toolbar {
    mat-toolbar-row {
      font-weight: 400;
    }
  }

  mat-card {
    width: 100%;
  }
}
