div.root {
  padding: 0 16px;
  user-select: none;
  height: 100%;
  overflow: hidden;

  .breadcrum-toolbar {
    align-items: center;
    min-height: 40px;
    padding: 8px 0;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      line-height: 40px;
      display: flex;
      align-items: center;
    }

    button.mat-flat-button,
    button.mat-fab {
      margin-left: 1px;
    }
  }

  .data-container {
    height: 100%;
    overflow: hidden;

    .dataset-grid {
      height: 100%;
      overflow: hidden;

      .dataset-grid-navigation {
        height: 100%;
        width: 340px;
        padding-right: 12px;
      }

      .nav-tree {
        height: calc(100% - 56px - 24px - 48px - 16px * 2);
        overflow-y: auto;
        overflow-x: hidden;

        mat-accordion.mat-accordion {
          mat-expansion-panel {
            .mat-expansion-panel-header {
              padding: 0 0 0 16px;

              mat-panel-title {
                width: 100%;
                margin-right: 0;

                .expand-title {
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                  font-size: 0.9rem;
                }
              }
            }

            .undertree-expansion-panel {
              padding-left: 48px;
            }

            mat-nav-list {
              mat-list-item {
                font-size: 0.9rem;
                height: 48px;

                .mat-list-icon {
                  font-size: 14px;
                  border-radius: 3px;
                  height: 36px;
                }
              }
            }
          }
        }
      }

      .badge {
        margin: 0 8px;
        min-width: 24px;
        text-align: right;
      }

      .dataset-grid-listing {
        padding-left: 12px;
        height: 100%;
        width: calc(100% - 340px - 1px);

        pros-search-input {
          width: 213px;
        }

        button.mat-flat-button {
          margin-right: 1px;
        }

        .data {
          overflow: auto;
          height: calc(100% - 53px - 24px - 48px - 16px * 2);

          mat-table.mat-table {
            overflow-x: auto;
            width: 100%;
            max-width: 100%;
            display: table;
            border-collapse: collapse;
          }
        }
      }
    }
  }
}
