div.root {
  height: 100%;
  user-select: none;
  padding-bottom: 16px;

  .breadcrum-toolbar {
    align-items: center;
    padding-top: 16px;

    .display-heading-large {
      font-size: 1.2rem;
    }
  }

  .middle-content {
    height: calc(100% - 52px - 16px * 3 - 36px);
  }
}
