.column-setting {
  width: 700px;
  padding: 0;

  mat-toolbar {
    min-height: 50px;

    mat-toolbar-row {
      height: 50px;
      font-size: 16px;
    }
  }

  mat-card-content {
    display: flex;

    .f-col {
      flex: 1;
    }

    .nav-setting {
      padding-top: 8px;
      max-height: 300px;
      overflow: auto;

      .mat-list-item {
        font-size: 14px;
        height: 36px;

        .listing-icons {
          font-size: 18px;
          width: 18px;
          height: 18px;
        }

        .check {
          color: #008040;
        }
      }

      .active {
        font-weight: 500;
      }
    }

    .newsetting-add {
      display: flex;
      border-radius: 0;
    }

    .settingadd-col {
      margin: 8px 16px;
    }

    .checked-colunms {
      margin: 8px 16px;

      mat-form-field {
        height: 50px;
      }

      .colunm-list {
        max-height: 300px;
        overflow: auto;

        .f-row {
          align-items: center;
          padding: 0 12px;

          mat-slide-toggle {
            margin: 8px 0;
            text-transform: capitalize;
            position: relative;
          }

          mat-icon {
            width: 18px;
            height: 18px;
            font-size: 18px;
          }
        }
      }

      .setting-actions {
        justify-content: flex-end;

        button {
          margin: 16px 4px;
        }
      }
    }
  }
}
