<mat-card class="flex-container">
    <div class="flex-col-9">
        <div class="content-row"><pros-breadcrumb [crumbs]="breadcrumb"></pros-breadcrumb></div>
        <pros-admin-tile iconColor="black" color="#C0C0C0" icon="build" title="User" text="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout." count = "0" chip=""></pros-admin-tile>
        <pros-admin-tile iconColor="black" color="#C0C0C0" icon="build" title="Role" text="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted by the " count = "4" chip="Fields"></pros-admin-tile>
        <pros-admin-tile iconColor="black" color="#C0C0C0" icon="build" title="Group" text="It is a long established fact that a reader"  count = "1" chip="Logs"></pros-admin-tile>
        <pros-admin-tile iconColor="black" color="#C0C0C0" icon="build" title="Menu" text="It is a long established fact that a reader will be distracted by the readable content of" count = "0" chip=""></pros-admin-tile>
    </div>
</mat-card>
