.root {
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  margin: -24px;

  mat-toolbar {
    min-height: 50px;

    mat-toolbar-row {
      height: 50px;
    }
  }

  mat-list-item {
    padding-bottom: 8px;
    height: auto;

    h4.mat-line {
      font-size: 14px;
      margin-bottom: 8px;
    }

    p.mat-line {
      font-size: 12px;
      white-space: normal;
    }

    .error-status {
      color: #c30000;
    }

    .skipped-status {
      color: #a391c5;
    }

    .success-status {
      color: #12a44a;
    }

    .correction-status {
      color: #478cca;
    }

    .duplicate-status {
      color: #faac53;
    }

    .outdate-status {
      color: #b4b5b4;
    }
  }
}
