.root {
  user-select: none;
  height: 100%;
  width: 900px;
  padding: 0 16px;
  overflow: hidden;

  .system {
    align-items: flex-start;

    .system-fields-col {
      width: 220px;

      .filters-list {
        max-height: 300px;
        overflow-y: auto;

        mat-list-item {
          cursor: pointer;
        }
      }

      .fields-list {
        max-height: 450px;
        overflow-y: auto;

        mat-list-item {
          cursor: pointer;
        }
      }
    }

    .system-values-col {
      width: calc(100% - 220px);
    }

    .date-list {
      flex: 1;
    }

    .mat-tree-node {
      overflow: visible !important;
    }

    mat-tree .mat-tree-node {
      color: #272d37;
      background: #fff;
      font-size: 14px;
      cursor: pointer;
    }

    mat-tree .mat-tree-node:hover {
      background-color: #f2f5f8;
    }

    mat-tree .mat-tree-node mat-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      font-size: 24px;
      line-height: 24px;
      color: #272d37;
    }

    .mat-tree-container {
      max-height: 450px;
      overflow-y: auto;
    }
  }
}
