.root {
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  margin: -24px;

  mat-list-item {
    padding: 8px 0;
    height: auto;

    h4.mat-line {
      font-size: 16px;
      text-transform: uppercase;
    }

    p.mat-line {
      font-size: 12px;
      white-space: normal;
    }

    .error-status {
      color: #e62a10;
    }

    .skipped-status {
      color: #a391c5;
    }

    .success-status {
      color: #259b24;
    }

    .correction-status {
      color: #478cca;
    }

    .duplicate-status {
      color: #faac53;
    }

    .outdate-status {
      color: #b4b5b4;
    }
  }
}
