mat-card.root {
  padding: 0 16px;
  user-select: none;

  .pbase {
    margin-right: 48px;
  }

  pros-svg-icon {
    height: 75px;
  }

  mat-list {
    position: relative;

    mat-list-item {
      padding: 12px 0;

      .short-line {
        font-size: 0.8rem;
      }

      .lib-button {
        min-width: 100px;
        display: flex;
      }
    }
  }
}

@media (min-width: 1200px) {
  mat-card.root {
    width: 62%;
    margin: 0 auto;
  }
}
