.execution-counts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  mat-card {
    min-width: 300px;
    border-width: 1px;
    border-style: solid;
    margin: 0 16px 16px 0;
  }

  strong {
    font-size: 36px;
  }

  .error-status {
    color: #e62a10;
  }

  .success-status {
    color: #259b24;
  }
}

.f-row {
  align-items: center;
}

.execution-summ-process {
  flex: 1;

  strong {
    font-size: 30px;
    margin-right: 8px;
  }

  .subheading {
    margin-bottom: 0;
    font-weight: 500;
  }

  mat-progress-bar {
    height: 10px;
    border-radius: 5px;
    width: 70%;
  }
}

.execution-summ-details {
  flex: 2;
  align-items: flex-start;

  mat-card {
    flex: 1;

    .mat-h3 {
      font-weight: 500;
      margin: 0;
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 768px) {
  .excu-infodetails {
    flex-direction: column;

    .execution-summ-process {
      width: 100%;
    }

    .execution-summ-details {
      width: 100%;
    }
  }
}
