.bpmn-builder {
  .root-container {
    margin: 16px;
    width: calc(100% - 32px);
  }

  .breadcrumb-wrapper {
    flex: 1 100%;
  }

  mat-card {
    padding: 0;

    mat-card-content {
      padding: 16px;
    }
  }

  .modeler-container {
    width: 100%;
  }

  .bpmn-modeler {
    border: solid 2px whitesmoke;
    //border: solid 1px #007bff;
  }

  .bpmn-icon-connection::before { content: '\2B72' !important; }
  .bpmn-icon-connection-back::before { content: '\2B70' !important; }

  a.bjs-powered-by img {
    display: none !important;
  }
}
