.root {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  .tasklist-container {
    width: 100%;

    .nullstate {
      display: block;
      text-align: center;
      margin: 64px 0;

      button {
        width: 110px;
        height: 110px;
        margin-bottom: 16px;

        mat-icon {
          font-size: 72px;
          width: 72px;
          height: 72px;
        }
      }
    }

    .search-action {
      padding: 8px;
      align-items: center;

      mat-form-field {
        width: 500px;
        height: 55px;
      }

      .mat-stroked-button {
        height: 51px;
        margin: 4px 0 0 0;
      }

      .mat-button {
        mat-icon {
          font-size: 20px;
        }
      }
    }

    .action-list {
      align-items: center;
      padding: 0 8px;

      .mat-label {
        margin: 0;
        font-size: 12px;
      }

      .mat-paginator {
        background: none;
      }
    }

    .dynamic-filter {
      position: absolute;
      top: 65px;
      z-index: 3;
      display: flex;
    }

    .list-wrapper {
      .tasks-container {
        padding: 16px 8px;
        position: relative;

        .ac-setting {
          position: absolute;
          right: 16px;
        }

        pros-columnsetting {
          position: absolute;
          z-index: 2;
          right: 0;
          top: 50px;
        }

        mat-table {
          background: transparent;

          .mat-header-row {
            min-height: 36px;
            border: none;

            .mat-header-cell {
              font-size: 14px;
            }
          }

          .mat-row {
            border-width: 1px;
            border-style: solid;
            border-radius: 3px;
            margin: 8px 0;

            .mat-cell {
              font-size: 13px;

              .describe-text {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre-line;
                word-break: break-word;
                line-height: 16px;
              }

              .mat-button {
                font-size: 13px;
                font-weight: 400;
                padding: 0 0 0 8px;

                mat-icon {
                  font-size: 22px;
                }
              }

              mat-chip {
                font-size: 13px;
                font-weight: normal;
                padding: 6px 10px;
                min-height: 28px;
              }

              .additiontags {
                margin-left: 8px;
                font-size: 13px;
                font-weight: 500;
                cursor: pointer;
              }
            }

            .mat-cell:first-of-type {
              font-weight: 500;
              font-size: 14px;
            }
          }
        }
      }

      .split {
        border-right-width: 1px;
        border-right-style: solid;

        .hand-control {
          width: 7px;
          height: 26px;
          z-index: 1;
          position: absolute;
          right: -5px;
          top: 48%;
          border-radius: 6px;
          border-width: 1px;
          border-style: solid;
          cursor: col-resize;
        }
      }

      // // replace task table css
      // .tasklist-table {
      //   width: 100%;
      //   padding: 0 8px;

      //   .list-thead.list-card {
      //     margin: 0;
      //     min-height: auto;

      //     .ac-setting {
      //       position: absolute;
      //       right: 8px;
      //     }

      //     pros-columnsetting {
      //       position: absolute;
      //       z-index: 2;
      //       right: 0;
      //       top: 30px;
      //     }
      //   }

      //   .list-card {
      //     display: flex;
      //     align-items: center;
      //     padding: 10px 16px;
      //     margin: 8px 0;
      //     position: relative;
      //     flex-wrap: nowrap;
      //     border-radius: 4px;
      //     font-size: 13px;
      //     min-height: 36px;

      //     div {
      //       margin: 0 8px;
      //       flex: 1;
      //       display: -webkit-box;
      //       -webkit-line-clamp: 2;
      //       -webkit-box-orient: vertical;
      //       overflow: hidden;
      //       text-overflow: ellipsis;
      //       white-space: pre-line;
      //       word-break: break-word;
      //       line-height: 16px;
      //       flex-shrink: 0;

      //       .st-level {
      //         font-size: 13px;
      //         font-weight: normal;
      //         padding: 0 8px;

      //         mat-icon {
      //           font-size: 20px;
      //         }
      //       }

      //       mat-chip {
      //         font-size: 12px;
      //       }

      //       .moretag {
      //         height: 30px;
      //         width: 30px;
      //         line-height: 30px;
      //       }
      //     }

      //     .f2-cell {
      //       flex: 2;
      //     }
      //   }
      // }
      // //End Replace task Table CSS

      .split-container {
        display: flex;
        flex: 1;

        pros-task-summary {
          flex: 1;
        }
      }
    }
  }
}
