mat-card.widget {
  box-sizing: border-box;
  padding: 0;
  // height: 100%;

  .breadcrum-toolbar {
    align-items: center;
    padding: 8px;

    .display-heading-large {
      font-size: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      line-height: 36px;
    }
  }

  mat-card-content {
    // height: calc(100% - 52px - 16px);
    overflow: auto;
    padding: 8px;

    .datafilter {
      align-items: center;
      flex-wrap: wrap;

      button.mat-stroked-button {
        margin-right: 4px;
        margin-bottom: 4px;
      }

      .input-actions {
        mat-divider.mat-divider {
          height: 40px;
        }
      }
    }
  }
}
