div.root {
  user-select: none;
  height: 100%;
  padding: 0 16px;
  overflow: hidden;

  .lib-search {
    width: 213px;
  }

  .data-listing {
    height: 100%;
    overflow: auto;

    .mat-table {
      &.resizing {
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: col-resize;
      }

      .mat-header-cell {
        &:not(:last-child) {
          &.resizable {
            border-right: 1px solid #e4ebf3;
          }

          .resize-holder {
            cursor: col-resize;
            width: 20px;
            height: 100%;
            position: absolute;
            right: -10px;
            top: 0;
            z-index: 1;
          }
        }
      }
    }
  }

  .pagination-section {
    display: flex;
    align-items: center;
  }

  .loading-result {
    height: calc(100% - 36px - 16px * 3);
    align-items: center;
    justify-content: center;
  }
}

.menu-customdropdown {
  max-height: 50px;
  overflow-y: auto;
}
