.attachment {
  .f-row {
    flex-wrap: wrap;

    button {
      height: 50px;
    }
  }

  .attached-box {
    border-radius: 0;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 16px 16px 0 0;
    width: 165px;

    .attached-file {
      width: 165px;
      height: 165px;
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        width: 50px;
        height: 50px;
        font-size: 50px;
      }

      .attach-image {
        width: 163px;
        height: 163px;
      }
    }

    .attachment-name {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-line;
      word-break: break-word;
    }
  }
}
