mat-card.root {
  user-select: none;
  height: 100%;
  padding: 0 16px;

  .breadcrum-toolbar {
    align-items: center;
    padding-top: 16px;
    position: sticky;
    top: 0;
    z-index: 2;
    min-height: 40px;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    button {
      margin-left: 1px;

      &:first-of-type {
        min-width: 100px;
      }

      mat-icon {
        font-size: 14px;
        width: 14px;
        height: 14px;
      }
    }
  }

  .summary-root {
    padding: 16px 0;

    .temp-field {
      mat-label {
        font-weight: 500;
        font-size: 0.8rem;
      }

      &.every-field {
        align-items: center;

        pros-form-input {
          flex: 2;
        }

        .week-label {
          padding-top: 20px;
          flex: 3;
        }
      }

      mat-radio-group {
        display: flex;
        flex-wrap: wrap;

        mat-radio-button {
          flex: 0 0 25%;
          margin-bottom: 8px;
        }
      }
    }

    .panel-title {
      font-weight: 500;
    }

    .summary-rowlist {
      mat-list-item.mat-list-item {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        font-size: 0.8rem;

        .row-heading {
          font-size: 0.9rem;
        }
      }
    }

    mat-divider {
      margin: 16px 0;
      position: relative;

      &.divider-dashed {
        border-top-style: dashed;
      }
    }
  }
}

.colunm-box {
  align-items: center;
  box-sizing: border-box;
  padding: 4px 0;
  min-height: 48px;
  font-size: 0.8rem;

  .col {
    display: flex;
    flex: 1 0 auto;
    width: 1px;
    align-items: center;
    margin: 0 16px;

    &.col-x4 {
      flex: 4;
    }

    &.col-x8 {
      flex: 8;
    }

    &.text-center {
      justify-content: center;
    }

    .info-link {
      align-items: center;
      font-size: 0.9rem;
      cursor: pointer;

      mat-icon {
        font-size: 12px;
        width: 16px;
        height: 12px;
      }
    }

    mat-slider {
      width: 100%;
    }

    &.col-x16 {
      flex: 16;
    }

    strong {
      align-items: center;
    }

    .mat-head-icon {
      height: 12px;
      width: 14px;
      font-size: 14px;
      margin-left: 4px;
    }

    .mat-line {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-line;
      word-break: break-word;
    }

    button.mat-stroked-button {
      margin-right: 4px;
      min-width: auto;
    }
  }
}

.col-inner-icon {
  font-size: 20px;
  height: 20px;
  width: 20px;
}

@media (min-width: 1200px) {
  .summary-root {
    width: 62%;
    margin: 0 auto;
  }
}
