mat-card.root {
  user-select: none;
  height: 100%;
  padding: 0 16px;

  .breadcrum-toolbar {
    align-items: center;
    padding-top: 16px;
    position: sticky;
    top: 0;
    z-index: 2;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    button {
      margin-left: 1px;

      &:first-of-type {
        min-width: 100px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        mat-spinner {
          margin: 0 auto;
        }
      }

      &:nth-of-type(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 0;
        min-width: 56px;
      }
    }
  }

  .statics-col {
    flex: 1;
    align-items: center;
    font-size: 1.2rem;
    padding: 8px 0;
    border-left-style: solid;
    border-left-width: 1px;

    &:first-of-type {
      border-left: none;
    }

    .metric-row {
      align-items: baseline;

      .statics-count {
        font-size: 6vw;
        font-weight: 400;
        line-height: 7vw;

        .statics-per {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.colunm-box {
  align-items: center;
  box-sizing: border-box;
  padding: 4px 0;
  min-height: 48px;
  border-bottom: 1px solid #e1e1e1;

  .col {
    display: flex;
    flex: 1 0 auto;
    width: 1px;
    align-items: center;
    margin: 0 4px;

    &.col-x4 {
      flex: 4;
    }

    &.col-x8 {
      flex: 8;
    }

    &.col-x16 {
      flex: 16;
    }

    &.mat-item-end {
      justify-content: flex-end;
      margin-right: 0;
    }

    strong {
      font-weight: 500;
    }

    .mat-head-icon {
      height: 16px;
      width: 16px;
      font-size: 16px;
      margin-left: 5px;
    }

    .mat-line {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-line;
      word-break: break-word;
    }
  }
}

div.root {
  padding: 16px 0;

  .temp-field {
    mat-label {
      font-weight: 500;
      font-size: 0.8rem;
    }
  }

  .panel-title {
    font-weight: 500;
  }

  .summary-rowlist {
    mat-list-item.mat-list-item {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      font-size: 0.8rem;
    }
  }
}

@media (min-width: 1200px) {
  div.root {
    width: 62%;
    margin: 0 auto;
  }
}
