<div class="root">
  <div class="breadcrumb-wrapper">
    <pros-breadcrumb [crumbs]="breadcrumb"></pros-breadcrumb>
  </div>

  <mat-card class="container-show" [class.Variant-details]="masterVariant" *ngIf="masterVariant">
    <h2>{{ masterVariant.title }}</h2>
    <div class="f-row">
      <ng-template [ngIf]="showingErrors">
        <mat-icon *ngIf="!masterVariant.errorTrendValue || masterVariant.errorTrendValue === 0" class="err">trending_flat</mat-icon>
        <button *ngIf="masterVariant.totalValue && masterVariant.errorTrendValue && masterVariant.errorTrendValue < 0" prosClickStopPropagation matTooltip="Toggle Error/Success" (click)="toggle();" class="err"><mat-icon>trending_down</mat-icon></button>
        <button *ngIf="masterVariant.totalValue && masterVariant.errorTrendValue && masterVariant.errorTrendValue > 0" prosClickStopPropagation matTooltip="Toggle Error/Success" (click)="toggle();" class="err"><mat-icon>trending_up</mat-icon></button>
      </ng-template>
      <ng-template [ngIf]="!showingErrors">
        <mat-icon *ngIf="!masterVariant.successTrendValue || masterVariant.successTrendValue === 0" class="scs">trending_flat</mat-icon>
        <button *ngIf="masterVariant.successTrendValue && masterVariant.successTrendValue > 0" prosClickStopPropagation matTooltip="Toggle Error/Success" (click)="toggle();" class="scs"><mat-icon>trending_up</mat-icon></button>
        <button *ngIf="masterVariant.successTrendValue && masterVariant.successTrendValue < 0" prosClickStopPropagation matTooltip="Toggle Error/Success" (click)="toggle();" class="scs"><mat-icon>trending_down</mat-icon></button>
      </ng-template>
      <div class="f-col-spacer-half"></div>
      <ng-template [ngIf]="showingErrors">
        <h2>{{ masterVariant.errorTrendValue ? masterVariant.errorTrendValue > 0 ? '+' + masterVariant.errorTrendValue : masterVariant.errorTrendValue : 0 }}</h2>
      </ng-template>
      <ng-template [ngIf]="!showingErrors">
        <h2>{{ masterVariant.successTrendValue ? masterVariant.successTrendValue > 0 ? '+' + masterVariant.successTrendValue : masterVariant.successTrendValue : 0 }}</h2>
      </ng-template>
      <div class="f-col-spacer-half"></div>
      <span class="mat-caption week">(This Week)</span>
    </div>
    <div class="row-spacer"></div>
    <div class="f-row">
      <ng-template [ngIf]="masterVariant.totalValue && showingErrors">
        <h2 class="perc err">{{ percentageErrorStr() }}</h2>
        <h2 class="perc-symbol err">%</h2>
        <span class="f-col-spacer-half"></span>
        <span class="mat-caption row1text">Error in last run</span>
      </ng-template>
      <ng-template [ngIf]="masterVariant.totalValue && !showingErrors">
        <h2 class="perc scs">{{ percentageSuccessStr() }}</h2>
        <h2 class="perc-symbol scs">%</h2>
        <span class="f-col-spacer-half"></span>
        <span class="mat-caption row1text">Success in last run</span>
      </ng-template>
      <ng-template [ngIf]="!masterVariant.totalValue">
        <mat-icon class="na">report</mat-icon>
        <span class="f-col-spacer-half"></span>
        <span class="mat-caption row1text">no results to show</span>
      </ng-template>
    </div>
    <div class="row-spacer"></div>
    <div >
      {{ masterVariant.timestamp | date }} Last Run
    </div>
    <div class="row-spacer"></div>
    <div class="f-row">
      <mat-slide-toggle color="primary" prosClickStopPropagation matTooltip="Show unique record counts" (change)="toggleUniqueContainer($event);">Unique Records Count</mat-slide-toggle>
    </div>
    <mat-list>
      <mat-list-item >
        <h4 mat-line>{{ showUnique ? masterVariant.totalUniqueValue : masterVariant.totalValue }}</h4>
        <p mat-line>Total</p>
      </mat-list-item>
      <mat-list-item >
        <h4 mat-line>{{ showUnique ? masterVariant.errorUniqueValue : masterVariant.errorValue }}</h4>
        <p mat-line>Error</p>
      </mat-list-item>
      <mat-list-item >
        <h4 mat-line>{{ showUnique ? masterVariant.successUniqueValue : masterVariant.successValue }}</h4>
        <p mat-line>Success</p>
      </mat-list-item>
      <mat-list-item >
        <h4 mat-line>{{ showUnique ? masterVariant.skippedUniqueValue : masterVariant.skippedValue }}</h4>
        <p mat-line>Skipped</p>
      </mat-list-item>
      <mat-list-item >
        <h4 mat-line>{{masterVariant.correctionValue}}</h4>
        <p mat-line>Corrections</p>
      </mat-list-item>
      <mat-list-item >
        <h4 mat-line>{{masterVariant.duplicateValue}}</h4>
        <p mat-line>Duplicate</p>
      </mat-list-item>
    </mat-list>
    </mat-card>

  <mat-card class="mat-elevation-z3 variants-container">
    <div class="f-col">
      <mat-form-field>
        <mat-label>Search Variants</mat-label>
        <input matInput class="form-control" [formControl]="searchField">
      </mat-form-field>
       <div class="f-row">
        <pros-schema-tile class="tile"  *ngFor = "let vrtdetail of variarantDetailsOb | async"
          [routerLink]="['/home', 'schema', 'schema-list']"
          title="{{ vrtdetail.title }}"
          
          [info]=true
          [edit]=true
          [delete]=true
          bottomRightLabel="{{vrtdetail.isInRunning ? 'Running ...' : vrtdetail.totalValue > 0 ? 'Run Again' : 'Run'}}"
          totalValue="{{ vrtdetail.totalValue }}"
          successValue="{{ vrtdetail.successValue }}"
          errorValue="{{ vrtdetail.errorValue }}"
          skippedValue="{{ vrtdetail.skippedValue }}"
          correctionValue="{{ vrtdetail.correctionValue }}"
          duplicateValue="{{ vrtdetail.duplicateValue }}"

          successTrendValue="{{ vrtdetail.successTrendValue }}"
          errorTrendValue="{{ vrtdetail.errorTrendValue }}"
          totalUniqueValue="{{ vrtdetail.totalUniqueValue }}"
          successUniqueValue="{{ vrtdetail.successUniqueValue }}"
          errorUniqueValue="{{ vrtdetail.errorUniqueValue }}"
          skippedUniqueValue="{{ vrtdetail.skippedUniqueValue }}"

          timestamp="{{ vrtdetail.timestamp | date }}"
          (evtEdit)="edit(schemagrp);"
          (evtDelete)="delete(schemagrp);"></pros-schema-tile>

        <pros-add-tile class="tile" text="Add a new Variant" routerLink="/home/schema/variant/new"></pros-add-tile>
       </div>
    </div>
  </mat-card>

</div>