div.root {
  user-select: none;
  height: 100%;
  overflow: hidden;
  width: 900px;

  .breadcrum-toolbar {
    padding: 8px 16px;

    .mdo-constrained-right {
      align-items: center;
      width: 100%;
      margin-right: 0;

      .breadcrum-head {
        align-items: center;
        width: 100%;
      }
    }
  }

  .sidesheetcontent-listing {
    height: calc(100% - 52px);
    overflow: auto;

    .mdo-justify {
      margin: 0 16px;

      .mdo-form-field {
        margin: 8px 0;

        mat-label {
          font-weight: 500;
          font-size: 0.8rem;
        }

        mat-chip-list {
          width: 100%;
        }
      }
    }

    div.message-area {
      -moz-appearance: textfield-multiline;
      -webkit-appearance: textarea;
      min-height: 80px;
      overflow: auto;
      resize: vertical;
      width: auto;
      background: #ececec;
      border-color: 1px solid #ececec;
      border-radius: 3px;
      padding: 8px;
      font-size: 14px;
    }

    [contentEditable=false]:empty:not(:focus)::before {
      content: attr(data-text);
    }
  }
}

@media (min-width: 1024px) {
  div.root {
    .breadcrum-toolbar {
      .mdo-constrained-right {
        margin-right: 50px;
      }
    }

    .sidesheetcontent-listing {
      .mdo-justify {
        margin: 0 66px;
      }
    }
  }
}
