div.root {
  padding: 0 16px;
  user-select: none;

  .breadcrum-toolbar {
    padding-top: 8px;
    margin-bottom: 8px;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .schema-list {
    padding: 0 16px;
  }

  .colunm-box {
    padding: 4px 0;

    .col {
      display: flex;
      flex: 1 0 auto;
      width: 1px;
      align-items: center;
      margin: 0 16px;
      flex-wrap: wrap;

      &.col-x4 {
        flex: 4;
      }

      &.col-x8 {
        flex: 8;
      }

      &.mat-item-center {
        justify-content: center;
      }

      &.mat-item-end {
        justify-content: flex-end;
      }
    }
  }

  .slider-row {
    width: 100%;

    .lib-slider {
      flex: 1;
      height: 48px;
    }
  }

  mat-icon {
    font-size: 12px;
  }

  .table-vertical {
    tr.mat-row,
    tr.mat-header-row {
      th:nth-child(2),
      td:nth-child(2),
      td:last-child {
        text-align: right;
      }
    }
  }
}

@media (min-width: 1200px) {
  .schema-list {
    width: 62%;
    margin: 0 auto;
  }
}
