/* You can add global styles to this file, and also import other style files */

@import "assets/fonts/_fonts.css";
@import "keyframes.scss";
@import "assets/themes/themes.scss";
// bpmn-js style files
@import '~bpmn-js/dist/assets/diagram-js.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css';
@import '~bpmn-js-properties-panel/dist/assets/bpmn-js-properties-panel.css';
@import '~bpmn-js-bpmnlint/dist/assets/css/bpmn-js-bpmnlint.css';

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

a {
  text-decoration: none;
}

//MDO Flex row and col
.mdo-col-1 {
  flex: 1;
}

.mdo-col-2 {
  flex: 2;
}

.mdo-col-3 {
  flex: 3;
}

.mdo-col-4 {
  flex: 4;
}

.mdo-col-5 {
  flex: 5;
}

.mdo-col-6 {
  flex: 6;
}

.mdo-col-7 {
  flex: 7;
}

.mdo-col-8 {
  flex: 8;
}

.mdo-col-9 {
  flex: 9;
}

.mdo-col-10 {
  flex: 10;
}

.mdo-col-11 {
  flex: 11;
}

.mdo-col-12 {
  flex: 12;
}

// MDO DIV BLOCK
.mdo-mat-card {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 100%;
  position: relative;
  user-select: none;
}

.mdo-vertical {
  display: flex;
  flex-direction: column;
}

.mdo-horizontal {
  display: flex;
  flex-direction: row;
}

.mdo-section {
  overflow: visible !important;
  flex: 0 1 auto !important;
  display: flex !important;
}

.mdo-block {
  background-color: inherit;
  color: inherit;
  display: block;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  position: relative;
}

.mdo-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.mdo-section-scroll {
  overflow: auto;
}

.mdo-contained {
  height: auto;
}

.mdo-fill-height {
  height: 100% !important;
}

.mdo-fill-width {
  width: 100% !important;
}

.mdo-flat {
  line-height: 20px;
  padding: 0;
}

.mdo-atom {
  flex: 0 0 auto;
  min-width: auto;
}

.mdo-icon-contained {
  width: auto !important;
  height: auto !important;
}

// CLICK
.mdo-clickable {
  cursor: pointer;
}

.link {
  color: #068adc;
}

// FIXED WIDTH
.mdo-fixed-button {
  width: 100px !important;
}

.mdo--fixed {
  width: 1px;
}

// BLOCK JUSTIFY
.justify-start {
  justify-content: flex-start !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-end {
  justify-content: flex-end !important;
}

// Item Algin
.item-left {
  align-items: flex-start !important;
}

.item-center {
  align-items: center !important;
}

.item-right {
  align-items: flex-end !important;
}

// BORDER STYLEING
.mdo-border {
  border: 1px solid #e4eaef !important;
}

.mdo-border-top {
  border-bottom: 1px solid #e4eaef !important;
}

.mdo-border-left {
  border-bottom: 1px solid #e4eaef !important;
}

.mdo-border-bottom {
  border-bottom: 1px solid #e4eaef !important;
}

.mdo-border-right {
  border-bottom: 1px solid #e4eaef !important;
}

// MDO TEXT STYLING
.mdo-text {
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 6px 0;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// font-weight
.mdo-text-weight-400 {
  font-weight: 400;
}

.mdo-text-weight-500 {
  font-weight: 500;
}

.mdo-text-weight-600 {
  font-weight: 600;
}

// text-align
.mdo-text-left {
  text-align: left !important;
}

.mdo-text-center {
  text-align: center !important;
}

.mdo-text-right {
  text-align: right !important;
}

.mdo-text-justify {
  text-align: justify !important;
}

// mdo fonts sizes
.mdo-font-tiny {
  font-size: 0.6rem !important;
}

.mdo-font-small {
  font-size: 0.8rem !important;
}

.mdo-font-medium {
  font-size: 1rem !important;
}

.mdo-font-large {
  font-size: 1.2rem !important;
}

.mdo-font-x-large {
  font-size: 1.4rem !important;
}

.mdo-font-xx-large {
  font-size: 1.6rem !important;
}

.mdo-font-xxx-large {
  font-size: 1.8rem !important;
}

.mdo-font-icon-image {
  font-size: 6rem;
}

// MDO SPACING
// Margin All Tiny
.mdo-margin-all-tiny {
  margin: 4px !important;
}

.mdo-margin-all-small {
  margin: 8px !important;
}

.mdo-margin-all-medium {
  margin: 12px !important;
}

.mdo-margin-all-large {
  margin: 16px !important;
}

.mdo-margin-all-xlarge {
  margin: 24px !important;
}

// Margin Tiny
.mdo-margin-top-tiny {
  margin-top: 4px !important;
}

.mdo-margin-right-tiny {
  margin-right: 4px !important;
}

.mdo-margin-bottom-tiny {
  margin-bottom: 4px !important;
}

.mdo-margin-left-tiny {
  margin-left: 4px !important;
}

// Margin Small
.mdo-margin-top-small {
  margin-top: 8px !important;
}

.mdo-margin-right-small {
  margin-right: 8px !important;
}

.mdo-margin-bottom-small {
  margin-bottom: 8px !important;
}

.mdo-margin-left-small {
  margin-left: 8px !important;
}

// Margin Medium
.mdo-margin-top-medium {
  margin-top: 12px !important;
}

.mdo-margin-right-medium {
  margin-right: 12px !important;
}

.mdo-margin-bottom-medium {
  margin-bottom: 12px !important;
}

.mdo-margin-left-medium {
  margin-left: 12px !important;
}

// Margin Large
.mdo-margin-top-large {
  margin-top: 16px !important;
}

.mdo-margin-right-large {
  margin-right: 16px !important;
}

.mdo-margin-bottom-large {
  margin-bottom: 16px !important;
}

.mdo-margin-left-large {
  margin-left: 16px !important;
}

// Margin xLarge
.mdo-margin-right-xlarge {
  margin-right: 24px !important;
}

.mdo-margin-top-xlarge {
  margin-top: 24px !important;
}

.mdo-margin-bottom-xlarge {
  margin-bottom: 24px !important;
}

.mdo-margin-left-xlarge {
  margin-left: 24px !important;
}

// Margin No
.mdo-no-margin-all {
  margin: 0 !important;
}

.mdo-no-margin-top {
  margin-top: 0 !important;
}

.mdo-no-margin-right {
  margin-right: 0 !important;
}

.mdo-no-margin-bottom {
  margin-bottom: 0 !important;
}

.mdo-no-margin-left {
  margin-left: 0 !important;
}

// Padding All Tiny
.mdo-padding-all-tiny {
  padding: 4px !important;
}

.mdo-padding-all-small {
  padding: 8px !important;
}

.mdo-padding-all-medium {
  padding: 12px !important;
}

.mdo-padding-all-large {
  padding: 16px !important;
}

.mdo-padding-all-xlarge {
  padding: 24px !important;
}

// Padding Tiny
.mdo-padding-top-tiny {
  padding-top: 4px !important;
}

.mdo-padding-right-tiny {
  padding-right: 4px !important;
}

.mdo-padding-bottom-tiny {
  padding-bottom: 4px !important;
}

.mdo-padding-left-tiny {
  padding-left: 4px !important;
}

// Padding Small
.mdo-padding-top-small {
  padding-top: 8px !important;
}

.mdo-padding-right-small {
  padding-right: 8px !important;
}

.mdo-padding-bottom-small {
  padding-bottom: 8px !important;
}

.mdo-padding-left-small {
  padding-left: 8px !important;
}

// Padding Medium
.mdo-padding-top-medium {
  padding-top: 12px !important;
}

.mdo-padding-right-medium {
  padding-right: 12px !important;
}

.mdo-padding-bottom-medium {
  padding-bottom: 12px !important;
}

.mdo-padding-left-medium {
  padding-left: 12px !important;
}

// Padding Large
.mdo-padding-top-large {
  padding-top: 16px !important;
}

.mdo-padding-right-large {
  padding-right: 16px !important;
}

.mdo-padding-bottom-large {
  padding-bottom: 16px !important;
}

.mdo-padding-left-large {
  padding-left: 16px !important;
}

// Padding xLarge
.mdo-padding-right-xlarge {
  padding-right: 24px !important;
}

.mdo-padding-top-xlarge {
  padding-top: 24px !important;
}

.mdo-padding-bottom-xlarge {
  padding-bottom: 24px !important;
}

.mdo-padding-left-xlarge {
  padding-left: 24px !important;
}

// Padding No
.mdo-no-padding-all {
  padding: 0 !important;
}

.mdo-no-padding-top {
  padding-top: 0 !important;
}

.mdo-no-padding-right {
  padding-right: 0 !important;
}

.mdo-no-padding-bottom {
  padding-bottom: 0 !important;
}

.mdo-no-padding-left {
  padding-left: 0 !important;
}

// column/row spacer
.mdo-col-spacer-half {
  width: 8px;
}

.mdo-row-spacer-half {
  height: 8px;
}

.mdo-col-spacer {
  width: 16px;
}

.mdo-row-spacer {
  height: 16px;
}

.mdo-spacer {
  flex-grow: 1;
}

// MDO TABLE
.mdo-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  .mat-header-cell,
  .mat-cell {
    line-height: 24px;
    padding: 6px 12px !important;
    white-space: nowrap;
    text-align: left;
    font-size: 0.8rem;
  }
}

// MDO CUSTOM INPUT
.mdo-basic-search {
  border-radius: 100px;
  display: block;
  border: 1px solid #e4eaef;
  padding: 5px 30px;
  line-height: 24px;
  position: relative;

  .input-text {
    background: #fff;
    border: none;
    outline: 0;
    width: 100%;
  }
}

.mdo-basic-search::before {
  position: absolute;
  left: 12px;
}

// MDO CUSTOM PROGRESS
.mdo-progress {
  height: 6px !important;
  border-radius: 10px;
}

// MDO RESPONSIVE
@media (min-width: 1200px) {
  .mdo-constrained {
    margin-left: 48px !important;
    margin-right: 48px !important;
  }

  .mdo-constrained-alt {
    width: 60% !important;
  }

  .mdo-justify {
    margin: 0 auto;
  }
}

// CUSTOM CHIP
.mdo-chip-filter {
  mat-chip {
    font-weight: 400;
    border-radius: 20px;
    height: 30px;
    background-color: #fff !important;
    border: 1px solid #e4eaef;
    line-height: 30px;
    text-align: center;
    font-size: 0.8rem;
    overflow: hidden;
    position: relative;
  }

  mat-chip i {
    font-size: 0.7rem;
    cursor: pointer;
  }
}

// NAME AVATOR
.mdo-avator {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #e4eaef;
  border: 1px solid #e4eaef;
  border-radius: 50%;
  color: #646f79;
  cursor: pointer;
  line-height: 36px;
  text-align: center;
  font-size: 0.8rem;
  overflow: hidden;
}

// MDO ICONS FONT
.mdo-icon-sort::before {
  content: "\e900";
}

.mdo-icon-plus::before {
  content: "\e901";
}

.mdo-icon-multiple-select::before {
  content: "\e902";
}

.mdo-icon-chevron-left::before {
  content: "\e903";
}

.mdo-icon-chevron-right::before {
  content: "\e904";
}

.mdo-icon-search::before {
  content: "\e905";
}

.mdo-icon-close::before {
  content: "\e906";
}

.mdo-icon-close-alt::before {
  content: "\e907";
}

.mdo-icon-location-pin::before {
  content: "\e908";
}

.mdo-icon-location-person::before {
  content: "\e909";
}

.mdo-icon-check::before {
  content: "\e90a";
}

.mdo-icon-list-item-drag::before {
  content: "\e90b";
}

.mdo-icon-pencil::before {
  content: "\e90c";
}

.mdo-icon-padlock::before {
  content: "\e90d";
}

.mdo-icon-cog::before {
  content: "\e90e";
}

.mdo-icon-medal1::before {
  content: "\e90f";
}

.mdo-icon-up-down::before {
  content: "\e910";
}

.mdo-icon-question-mark::before {
  content: "\e911";
}

.mdo-icon-designer::before {
  content: "\e912";
}

.mdo-icon-menu-arrow::before {
  content: "\e913";
}

.mdo-icon-sub-menu-arrow::before {
  content: "\e914";
}

.mdo-icon-map::before {
  content: "\e915";
}

.mdo-icon-event::before {
  content: "\e916";
}

.mdo-icon-messaging::before {
  content: "\e917";
}

.mdo-icon-duplicate::before {
  content: "\e918";
}

.mdo-icon-wand::before {
  content: "\e919";
}

.mdo-icon-zoom-in::before {
  content: "\e91a";
}

.mdo-icon-zoom-out::before {
  content: "\e91b";
}

.mdo-icon-target::before {
  content: "\e91c";
}

.mdo-icon-home::before {
  content: "\e91d";
}

.mdo-icon-filter-expand::before {
  content: "\e91e";
}

.mdo-icon-filter-collapse::before {
  content: "\e91f";
}

.mdo-icon-palette::before {
  content: "\e920";
}

.mdo-icon-folder::before {
  content: "\e921";
}

.mdo-icon-chevron-up::before {
  content: "\e922";
}

.mdo-icon-chevron-down::before {
  content: "\e923";
}

.mdo-icon-filter::before {
  content: "\e924";
}

.mdo-icon-eye::before {
  content: "\e925";
}

.mdo-icon-expand::before {
  content: "\e926";
}

.mdo-icon-more::before {
  content: "\e927";
}

.mdo-icon-designer2::before {
  content: "\e928";
}

.mdo-icon-layout-1::before {
  content: "\e929";
}

.mdo-icon-layout-2::before {
  content: "\e92a";
}

.mdo-icon-layout-3::before {
  content: "\e92b";
}

.mdo-icon-layout-4::before {
  content: "\e92c";
}

.mdo-icon-layout-5::before {
  content: "\e92d";
}

.mdo-icon-layout-6::before {
  content: "\e92e";
}

.mdo-icon-layout-7::before {
  content: "\e92f";
}

.mdo-icon-layout-8::before {
  content: "\e930";
}

.mdo-icon-chart-table::before {
  content: "\e931";
}

.mdo-icon-chart-line::before {
  content: "\e932";
}

.mdo-icon-chart-area::before {
  content: "\e933";
}

.mdo-icon-chart-pie::before {
  content: "\e934";
}

.mdo-icon-chart-bar::before {
  content: "\e935";
}

.mdo-icon-chart-donut::before {
  content: "\e936";
}

.mdo-icon-chart-scatter::before {
  content: "\e937";
}

.mdo-icon-chart-complex::before {
  content: "\e938";
}

.mdo-icon-circle::before {
  content: "\e939";
}

.mdo-icon-circle-empty::before {
  content: "\e93a";
}

.mdo-icon-task::before {
  content: "\e93b";
}

.mdo-icon-warning::before {
  content: "\e93c";
}

.mdo-icon-document::before {
  content: "\e93d";
}

.mdo-icon-information::before {
  content: "\e93e";
}

.mdo-icon-play::before {
  content: "\e93f";
}

.mdo-icon-pause::before {
  content: "\e940";
}

.mdo-icon-restart::before {
  content: "\e941";
}

.mdo-icon-dispatch::before {
  content: "\e942";
}

.mdo-icon-alert::before {
  content: "\e943";
}

.mdo-icon-briefcase::before {
  content: "\e944";
}

.mdo-icon-minimize::before {
  content: "\e945";
}

.mdo-icon-assign-group::before {
  content: "\e946";
}

.mdo-icon-assign-first::before {
  content: "\e947";
}

.mdo-icon-assign-least::before {
  content: "\e948";
}

.mdo-icon-assign-idle::before {
  content: "\e949";
}

.mdo-icon-high::before {
  content: "\e94a";
}

.mdo-icon-low::before {
  content: "\e94b";
}

.mdo-icon-request-person::before {
  content: "\e94c";
}

.mdo-icon-request-zip::before {
  content: "\e94d";
}

.mdo-icon-request-auto::before {
  content: "\e94e";
}

.mdo-icon-crisis::before {
  content: "\e94f";
}

.mdo-icon-trend-down::before {
  content: "\e950";
}

.mdo-icon-trend-up::before {
  content: "\e951";
}

.mdo-icon-call::before {
  content: "\e952";
}

.mdo-icon-edit-note::before {
  content: "\e953";
}

.mdo-icon-primary-event::before {
  content: "\e954";
}

.mdo-icon-check-mark::before {
  content: "\e955";
}

.mdo-icon-download::before {
  content: "\e956";
}

.mdo-icon-prev::before {
  content: "\e957";
}

.mdo-icon-next::before {
  content: "\e958";
}

.mdo-icon-plug::before {
  content: "\e959";
}

.mdo-icon-attachment::before {
  content: "\e95a";
}

.mdo-icon-attach::before {
  content: "\e95b";
}

.mdo-icon-folder-filter::before {
  content: "\e95c";
}

.mdo-icon-folder-manual::before {
  content: "\e95d";
}

.mdo-icon-resize-handle::before {
  content: "\e95e";
}

.mdo-icon-conference::before {
  content: "\e95f";
}

.mdo-icon-camera::before {
  content: "\e960";
}

.mdo-icon-calendar::before {
  content: "\e961";
}

.mdo-icon-tentative::before {
  content: "\e962";
}

.mdo-icon-declined::before {
  content: "\e963";
}

.mdo-icon-arrow-right::before {
  content: "\e964";
}

.mdo-icon-connection::before {
  content: "\e965";
}

.mdo-icon-lookup::before {
  content: "\e966";
}

.mdo-icon-context-help::before {
  content: "\e967";
}

.mdo-icon-context-help-alt::before {
  content: "\e968";
}

.mdo-icon-crisis-team::before {
  content: "\e969";
}

.mdo-icon-issue::before {
  content: "\e96a";
}

.mdo-icon-arrow-right-alt::before {
  content: "\e96b";
}

.mdo-icon-arrow-back::before {
  content: "\e96c";
}

.mdo-icon-new-role::before {
  content: "\e96d";
}

.mdo-icon-undo-arrow::before {
  content: "\e96e";
}

.mdo-icon-redo-arrow::before {
  content: "\e96f";
}

.mdo-icon-view-mode::before {
  content: "\e970";
}

.mdo-icon-asterisk::before {
  content: "\e971";
}

.mdo-icon-text::before {
  content: "\e972";
}

.mdo-icon-form-video::before {
  content: "\e973";
}

.mdo-icon-form-image::before {
  content: "\e974";
}

.mdo-icon-form-file::before {
  content: "\e975";
}

.mdo-icon-form-button::before {
  content: "\e976";
}

.mdo-icon-form-currency::before {
  content: "\e977";
}

.mdo-icon-form-chart::before {
  content: "\e978";
}

.mdo-icon-form-table::before {
  content: "\e979";
}

.mdo-icon-form-map::before {
  content: "\e97a";
}

.mdo-icon-form-multiple-choice::before {
  content: "\e97b";
}

.mdo-icon-form-single-choice::before {
  content: "\e97c";
}

.mdo-icon-form-location::before {
  content: "\e97d";
}

.mdo-icon-form-address::before {
  content: "\e97e";
}

.mdo-icon-form-time::before {
  content: "\e97f";
}

.mdo-icon-form-date-time::before {
  content: "\e980";
}

.mdo-icon-form-date::before {
  content: "\e981";
}

.mdo-icon-form-phone::before {
  content: "\e982";
}

.mdo-icon-form-email::before {
  content: "\e983";
}

.mdo-icon-form-number::before {
  content: "\e984";
}

.mdo-icon-form-text::before {
  content: "\e985";
}

.mdo-icon-form-option-list::before {
  content: "\e986";
}

.mdo-icon-form-header::before {
  content: "\e987";
}

.mdo-icon-form-tab::before {
  content: "\e988";
}

.mdo-icon-form-subform::before {
  content: "\e989";
}

.mdo-icon-form-step::before {
  content: "\e98a";
}

.mdo-icon-context-check::before {
  content: "\e98b";
}

.mdo-icon-action-user::before {
  content: "\e98c";
}

.mdo-icon-recycle-bin::before {
  content: "\e98d";
}

.mdo-icon-mobile-phone::before {
  content: "\e98e";
}

.mdo-icon-history::before {
  content: "\e98f";
}

.mdo-icon-facebook::before {
  content: "\e990";
}

.mdo-icon-twitter::before {
  content: "\e991";
}

.mdo-icon-google-plus::before {
  content: "\e992";
}

.mdo-icon-board::before {
  content: "\e993";
}

.mdo-icon-two-lines::before {
  content: "\e994";
}

.mdo-icon-action-timer::before {
  content: "\e995";
}

.mdo-icon-picture::before {
  content: "\e996";
}

.mdo-icon-not-permitted::before {
  content: "\e997";
}

.mdo-icon-more-alt::before {
  content: "\e998";
}

.mdo-icon-contact-user::before {
  content: "\e999";
}

.mdo-icon-broadcast::before {
  content: "\e99a";
}

.mdo-icon-menu::before {
  content: "\e99b";
}

.mdo-icon-arrow-left-alt::before {
  content: "\e99c";
}

.mdo-icon-company::before {
  content: "\e99d";
}

.mdo-icon-expand-alt::before {
  content: "\e99e";
}

.mdo-icon-collapse-alt::before {
  content: "\e99f";
}

.mdo-icon-heart::before {
  content: "\e9a0";
}

.mdo-icon-filter-add::before {
  content: "\e9a1";
}

.mdo-icon-heart-filled::before {
  content: "\e9a2";
}

.mdo-icon-inbox-alt::before {
  content: "\e9a3";
}

.mdo-icon-outbox-alt::before {
  content: "\e9a4";
}

.mdo-icon-incoming::before {
  content: "\e9a5";
}

.mdo-icon-outgoing::before {
  content: "\e9a6";
}

.mdo-icon-bell::before {
  content: "\e9a7";
}

.mdo-icon-home-channel::before {
  content: "\e9a8";
}

.mdo-icon-rss-logo::before {
  content: "\e9a9";
}

.mdo-icon-home-channel1::before {
  content: "\e9aa";
}

.mdo-icon-home-channel2::before {
  content: "\e9ab";
}

.mdo-icon-greek-temple::before {
  content: "\e9ac";
}

.mdo-icon-edit-history::before {
  content: "\e9ad";
}

.mdo-icon-upload-to-cloud::before {
  content: "\e9ae";
}

.mdo-icon-csv::before {
  content: "\e9af";
}

.mdo-icon-xls::before {
  content: "\e9b0";
}

.mdo-icon-repeat::before {
  content: "\e9b1";
}

.mdo-icon-forward::before {
  content: "\e9b2";
}

.mdo-icon-repeat-alt::before {
  content: "\e9b3";
}

.mdo-icon-card-note::before {
  content: "\e9b4";
}

.mdo-icon-card-note-2::before {
  content: "\e9b5";
}

.mdo-icon-card-note-3::before {
  content: "\e9b6";
}

.mdo-icon-card-note-4::before {
  content: "\e9b7";
}

.mdo-icon-card-note-5::before {
  content: "\e9b8";
}

.mdo-icon-stock-lookup::before {
  content: "\e9b9";
}

.mdo-icon-trolley::before {
  content: "\e9ba";
}

.mdo-icon-assign-user::before {
  content: "\e9bb";
}

.mdo-icon-assign-user-alt::before {
  content: "\e9bc";
}

.mdo-icon-shield::before {
  content: "\e9bd";
}

.mdo-icon-arrow-button::before {
  content: "\e9be";
}

.mdo-icon-menu-category::before {
  content: "\e9bf";
}

.mdo-icon-multiple-users::before {
  content: "\e9c0";
}

.mdo-icon-price-history::before {
  content: "\e9c1";
}

.mdo-icon-speech-bubble::before {
  content: "\e9c2";
}

.mdo-icon-csv-file-format::before {
  content: "\e9c3";
}

.mdo-icon-add-group::before {
  content: "\e9c4";
}

.mdo-icon-happiness::before {
  content: "\e9c5";
}

.mdo-icon-hashtag::before {
  content: "\e9c6";
}

.mdo-icon-bell-alt::before {
  content: "\e9c7";
}

.mdo-icon-send-chat::before {
  content: "\e9c8";
}

.mdo-icon-notebook::before {
  content: "\e9c9";
}

.mdo-icon-ribbon-mark::before {
  content: "\e9ca";
}

.mdo-icon-levels::before {
  content: "\e9cb";
}

.mdo-icon-percentage::before {
  content: "\e9cc";
}

.mdo-icon-add-chat::before {
  content: "\e9cd";
}

.mdo-icon-add-chat-alt::before {
  content: "\e9ce";
}

.mdo-icon-search-more::before {
  content: "\e9cf";
}

.mdo-icon-shopping-basket::before {
  content: "\e9d0";
}

.mdo-icon-add-to-cart::before {
  content: "\e9d1";
}

.mdo-icon-editor-bold::before {
  content: "\e9d2";
}

.mdo-icon-editor-italic::before {
  content: "\e9d3";
}

.mdo-icon-editor-number::before {
  content: "\e9d4";
}

.mdo-icon-editor-bullet-list::before {
  content: "\e9d5";
}

.mdo-icon-editor-strikethrough::before {
  content: "\e9d6";
}

.mdo-icon-editor-paperclip::before {
  content: "\e9d7";
}

.mdo-icon-editor-picture::before {
  content: "\e9d8";
}

.mdo-icon-push-pin::before {
  content: "\e9d9";
}

.mdo-icon-editor-cart::before {
  content: "\e9da";
}

.mdo-icon-product::before {
  content: "\e9db";
}

.mdo-icon-identification::before {
  content: "\e9dc";
}

.mdo-icon-more-alt2::before {
  content: "\e9dd";
}

.mdo-icon-more-alt3::before {
  content: "\e9de";
}

.mdo-icon-more-alt4::before {
  content: "\e9df";
}

.mdo-icon-circular-links::before {
  content: "\e9e0";
}

.mdo-icon-find::before {
  content: "\e9e1";
}

.mdo-icon-chat-section::before {
  content: "\e9e2";
}

.mdo-icon-folder-lookup::before {
  content: "\e9e3";
}

.mdo-icon-share::before {
  content: "\e9e4";
}

.mdo-icon-expand-row::before {
  content: "\e9e5";
}

.mdo-icon-menu-alt::before {
  content: "\e9e6";
}

.mdo-icon-price-history1::before {
  content: "\e9e7";
}

.mdo-icon-delivery-truck::before {
  content: "\e9e8";
}

.mdo-icon-email-unread::before {
  content: "\e9e9";
}

.mdo-icon-email-read::before {
  content: "\e9ea";
}

.mdo-icon-integration::before {
  content: "\e9eb";
}

.mdo-icon-view-more::before {
  content: "\e9ec";
}

.mdo-icon-hide-chat-panel::before {
  content: "\e9ed";
}

.mdo-icon-book::before {
  content: "\e9ee";
}

.mdo-icon-tray::before {
  content: "\e9ef";
}

.mdo-icon-layout-split::before {
  content: "\e9f0";
}

.mdo-icon-layout-full::before {
  content: "\e9f1";
}

.mdo-icon-basic-search::before {
  content: '\e905';
}
