/* You can add global styles to this file, and also import other style files */
@import "assets/themes/themes.scss";
@import "assets/fonts/_fonts.css";
@import '~mdo-ui-library/assets/themes/themes.scss';
@import '~mdo-ui-library/assets/styles.scss';
@import '~mdo-ui-library/assets/fonts/_fonts.css';
@import "keyframes.scss";
// bpmn-js style files
@import '~bpmn-js/dist/assets/diagram-js.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css';
@import '~bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css';
@import '~bpmn-js-properties-panel/dist/assets/bpmn-js-properties-panel.css';
@import '~bpmn-js-bpmnlint/dist/assets/css/bpmn-js-bpmnlint.css';

html,
body {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

a {
  text-decoration: none;
}

//Flex row and col
.f-row {
  display: flex;
  flex-direction: row;
}

.f-col {
  display: flex;
  flex-direction: column;
}

//Spacer's
.f-col-spacer-half {
  width: 8px;
}

.f-row-spacer-half {
  height: 8px;
}

.col-spacer {
  width: 16px;
}

.row-spacer {
  height: 16px;
}

.f-spacer {
  flex-grow: 1;
}

.global-count-chip-list {

  lib-chip button.mdo-filter-pill.info .filter-value,
  lib-chip button.mdo-filter-pill.info .filter-text {
    color: #3e8dec;
  }

  .info {
    background: #e7f5ff !important;
    border-color: #e7f5ff !important;
  }

  lib-chip button.mdo-filter-pill.warning .filter-value,
  lib-chip button.mdo-filter-pill.warning .filter-text {
    color: #f89b02;
  }

  .warning {
    background: #fff4e6 !important;
    border-color: #fff4e6 !important;
  }

  lib-chip button.mdo-filter-pill.error .filter-value,
  lib-chip button.mdo-filter-pill.error .filter-text {
    color: #d81e22;
  }

  .error {
    background: #fff5f5 !important;
    border-color: #fff5f5 !important;
  }
}
