.root {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  max-width: 400px;
  position: relative;
  height: 100%;
  width: 400px;

  mat-toolbar {
    min-height: 50px;

    mat-toolbar-row {
      height: 50px;
    }
  }

  .executionlogs-list {
    height: calc(100% - 50px);
    overflow-y: auto;
    padding: 0 16px;

    mat-expansion-panel {
      margin: 16px 0;

      .success_run {
        color: #4caa00;
      }

      .failed_run {
        color: #c30000;
      }

      .mat-expansion-panel-header {
        padding: 0 16px;
      }

      mat-panel-description {
        justify-content: space-between;
        align-items: center;
        margin: 0;

        .logs-items {
          margin: 0 -8px;
        }
      }
    }
  }
}
