.root {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  max-width: 460px;
  position: relative;
  height: 100%;
  width: 460px;

  mat-toolbar {
    min-height: 50px;

    mat-toolbar-row {
      height: 50px;
    }
  }

  .mat-line {
    margin: 0;
  }

  .executionlogs-list {
    width: 100%;

    .logs-card {
      padding: 8px;
      margin: 4px 16px;

      .f-row {
        align-items: center;
      }

      .f-col {
        padding: 4px 8px;
      }

      .mat-card-avatar {
        display: flex;
        align-items: center;
        justify-content: center;

        mat-icon.success_run {
          color: #4caa00;
        }

        mat-icon.failed_run {
          color: #c30000;
        }
      }

      .mat-expansion-panel-header {
        padding: 0 11px;
      }
    }
  }

  .logs-details {
    justify-content: space-between;
  }
}
