div.root {
  user-select: none;
  padding: 0 16px;
  width: 668px;

  .breadcrum-toolbar {
    align-items: center;
    padding-top: 8px;
    position: sticky;
    top: 0;
    z-index: 2;
    min-height: 40px;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .mdo-constrained-right {
      align-items: center;
      width: 100%;

      button.mat-flat-button {
        min-width: auto;
      }
    }
  }

  .mdo-justify {
    .temp-field {
      margin-bottom: 16px;
    }

    .info-link {
      cursor: pointer;
    }
  }
}

@media (min-width: 1200px) {
  .mdo-justify {
    margin: 0 54px;
  }

  .mdo-constrained-right {
    margin-right: 54px;
  }
}
