<mat-toolbar class="toolbar-spacer">
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary" class="root">
  <mat-toolbar-row>
    <img src="assets/images/mdo.png" alt="MDO"/>
    <button mat-stroked-button color="primary">Search Platform Setting&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon matSuffix>search</mat-icon></button>
    <span class="f-spacer"></span>
    <mat-icon>person</mat-icon>
    <span class="col-spacer"></span>
    <span class="mat-h4">{{userDetails.fullName}}</span>
    <span class="col-spacer"></span>
    <mat-divider vertical="true"></mat-divider>
    <span class="col-spacer"></span>
    <a>
      <mat-icon>power_settings_new</mat-icon>
      Logout
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar *ngIf="loadingSvc.isLoading | async" mode="indeterminate"></mat-progress-bar>
<router-outlet></router-outlet>