<mat-toolbar class="toolbar-spacer">
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary" class="root">
  <mat-toolbar-row>
    <img src="assets/images/mdo.png" alt="MDO"/>
    <button mat-stroked-button color="primary">Search Platform Setting&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon matSuffix>search</mat-icon></button>
    <span class="flex-spacer"></span>
    <mat-icon>person</mat-icon>
    <span class="col-spacer"></span>
    <span class="mat-h4">{{userDetails.fullName}}</span>
    <span class="col-spacer"></span>
    <mat-divider vertical="true"></mat-divider>
    <span class="col-spacer"></span>
    <a>
      <mat-icon>power_settings_new</mat-icon>
      Logout
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-toolbar class="footer">
  <mat-toolbar-row>
    <span class="mat-caption">© 2019 Prospecta Software Pvt. Ltd.. All Rights Reserved.</span>
    <span class="flex-spacer"></span>
    <a href="https://help.masterdataonline.com/privacy-policy-2/" class="mat-caption" target="_blank">Privacy Policy</a>
    <span class="col-spacer"></span>
    <a href="https://help.masterdataonline.com/terms-of-use/" class="mat-caption" target="_blank">Terms of Use</a>
  </mat-toolbar-row>
</mat-toolbar>