mat-toolbar.toolbar-spacer {
  background-color: transparent;

  mat-toolbar-row {
    background-color: transparent;
  }
}

mat-progress-bar {
  position: fixed;
  z-index: 2;
}

mat-toolbar.root {
  position: fixed;
  top: 0;
  z-index: 2;

  mat-toolbar-row {
    img {
      height: calc(100% - 16px);
    }

    button {
      height: 40px;
      margin: 0 50px;
      background-color: rgba($color: #fff, $alpha: 0.75);
    }

    mat-divider {
      height: 100%;
    }

    .mat-h4 {
      margin-top: 16px;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 20px;
      cursor: pointer;
    }
  }
}

mat-toolbar.footer {
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  z-index: 2;
  min-height: 40px;
  max-height: 40px;

  mat-toolbar-row {
    min-height: 40px;
    max-height: 40px;

    a {
      color: #fff;
    }
  }
}
