.root {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  .breadcrumb-wrapper {
    flex: 1 100%;
  }

  .connection-process {
    width: 100%;
    margin: 0 16px;

    mat-form-field {
      flex: 2;
      width: 100%;
    }

    .exist-checkbox {
      font-size: 12px;
    }

    .mat-h2 {
      margin-bottom: 0;
    }

    .daterange {
      flex: 1;
    }

    .proccess-level {
      align-items: center;

      .p-start-level {
        .circle-col {
          border: 2px solid #e0e0e0;
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }

        .middle-bar {
          width: 220px;
          align-items: center;

          mat-divider {
            position: relative;
            border-width: 2px;
          }

          .half-circle-col {
            width: 80px;
            height: 80px;
            border: 2px solid #e0e0e0;
            border-radius: 50%;

            mat-icon {
              width: 48px;
              height: 48px;
              text-align: center;
              font-size: 50px;
              padding: 16px;
            }
          }
        }
      }

      .status-success {
        color: #89c540;
        border-color: #89c540;
      }

      .status-error {
        color: #c30000;
        border-color: #c30000;
      }
    }
  }
}
