.column-setting {
  width: 500px;
  margin: 16px;
  padding: 0;

  mat-card-content {
    display: flex;

    .f-col {
      flex: 1;
    }

    .nav-setting {
      padding-top: 8px;

      .mat-list-item {
        font-size: 14px;
        height: 36px;
      }
    }

    .checked-colunms {
      padding: 8px 16px;

      mat-form-field {
        height: 50px;
      }

      .colunm-list {
        mat-slide-toggle {
          margin: 6px 0;
          text-transform: capitalize;
        }
      }

      button {
        margin: 8px;
        flex: 1;
      }
    }
  }
}
