mat-card.root {
  user-select: none;
  padding: 0 16px;
  height: 100%;
  overflow: hidden;

  .breadcrum-toolbar {
    align-items: center;
    padding-top: 16px;

    .display-heading-large {
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      line-height: 36px;
    }

    button.mat-flat-button {
      margin-right: 1px;
      min-width: 80px;
    }
  }

  .report-builder {
    height: 100%;

    .builder-container {
      height: calc(100% - 52px - 32px - 70px);
      justify-content: space-between;
      border-width: 1px;
      border-style: solid;
      margin-top: 16px;

      .widget-col {
        width: 200px;
        overflow: auto;
        position: relative;
        border-right-width: 1px;
        border-right-style: solid;
      }

      .col-heading {
        font-weight: 500;
        padding: 8px;
        align-items: center;
        line-height: 36px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }

      .builder-board {
        width: calc(100% - 200px);
        display: flex;
        flex-wrap: wrap;
        padding: 8px;
        position: relative;
        overflow-x: scroll;
        background: radial-gradient(#e0e0e0 1px, transparent 1px) 0 0;
        background-position: 5px 5px;
        border-radius: 0;
      }

      .adjust-property {
        width: calc(100% - 450px);
      }

      .property-col {
        width: 350px;
        height: 100%;
        overflow: auto;
        border-left-width: 1px;
        border-left-style: solid;

        mat-expansion-panel {
          border-radius: 0;

          mat-expansion-panel-header {
            padding: 0 16px;
          }

          mat-expansion-panel-body {
            padding: 0 16px;
          }
        }

        .fields-col {
          padding: 0 16px;

          mat-label {
            font-weight: 500;
            font-size: 0.7rem;
            line-height: 14px;
          }

          mat-form-field.mat-form-field {
            margin-bottom: 8px;

            .input-actions {
              mat-divider.mat-divider {
                height: 40px;
              }
            }
          }

          mat-checkbox {
            margin-bottom: 12px;
          }

          .def-algin {
            align-items: center;
          }
        }

        .add-button {
          justify-content: flex-end;
        }
      }
    }
  }
}

.widget-drag {
  cursor: grab;
  display: flex;
  align-items: center;
  height: 48px;
  box-sizing: border-box;
  padding: 8px;

  .widget-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 16px;
  }
}
