// Define color
$mdo-light-blue: (
  50: #e4ebf3,
  500: #10aeef,
  contrast: (
    500: #fff
  )
);

$mdo-light-grey: (
  500: #e4ebf3,
  contrast: (
    500: #000
  )
);

// Common attributes
$box-shadow: 0 0 3px rgba(108, 124, 139, 0.5);
$inset-box-shadow: inset -7px -6px 2px -6px rgba(108, 124, 139, 0.3);

// App colors
$color-app-offcanvas: #324358;
$color-app-hover: #f2f5f8;
$color-accent: #e4ebf3;
$color-app-border: #e4ebf3;
$color-app-accent: #fafbfc;
$color-app-selected: #828f9f;
$color-app-row: #fafafa;

// Text color
$color-text-canvas: #fff;
$color-text-primary: #272d37;
$color-text-secondary: #646f79;
$color-text-offcanvas: #b7bfce;
$color-text-disabled: #cbcfd3;
$color-text-link: #068adc;

// Status color
$color-status-error: #ff6b6b;
$color-status-success: #51cf67;
$color-status-warning: #ff922b;
$color-status-info: #339af0;

$color-status-error-accent: #fff5f5;
$color-status-success-accent: #ebfcee;
$color-status-warning-accent: #fff4e6;
$color-status-info-accent: #e7f5ff;

// Light theme
$mdo-light-primary: mat-palette($mdo-light-blue, 500, 50);
$mdo-light-accent:  mat-palette($mdo-light-grey, 500,);
$mdo-light-warn:    mat-palette($mat-red, 500);

$mdo-light:   mat-light-theme($mdo-light-primary, $mdo-light-accent, $mdo-light-warn);

// Include the default theme styles.
@include angular-material-theme($mdo-light);
@include pros-cmp-theme($mdo-light);
@include pros-cmp-typography(mat-typography-config());

$custom-typography: mat-typography-config($font-family: '"lato"');

@include mat-core($custom-typography);
