@mixin pros-cmp-theme($theme) {
  // palette properties
  // link https://github.com/angular/components/blob/master/src/material/core/theming/_palette.scss
  // 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200, A300, A400
  // for contrast palette use mat-contrast($palette, properties);
  $primary-palette: map-get($theme, primary);
  $accent-palette: map-get($theme, accent);
  $warn-palette: map-get($theme, warn);
  // fg properties
  // link https://github.com/angular/components/blob/master/src/material/core/theming/_palette.scss
  // base, divider, dividers, disabled, disabled-button, disabled-text, elevation, hint-text, secondary-text
  // icon, icons, text, slider-min, slider-off, slider-off-active
  $foreground-palette: map-get($theme, foreground);
  // bg properties
  // link https://github.com/angular/components/blob/master/src/material/core/theming/_palette.scss
  // status-bar, app-bar, background, hover, card, dialog, disabled-button, raised-button, focused-button
  // selected-button, selected-disabled-button, disabled-button-toggle, unselected-chip, disabled-list-option
  // tooltip
  $background-palette: map-get($theme, background);
  // infinite pulsing of box-shadow mimicing mat-elevation-z6 parameters
  .pulse_opacity_step_10_repeat::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: pulse_opacity_step_10_repeat 2s infinite;
    box-shadow:
      0 3px 5px -1px mat-color($primary-palette, 700, 0.4),
      0 6px 10px 0 mat-color($primary-palette, 700, 0.28),
      0 1px 18px 0 mat-color($primary-palette, 700, 0.24);
    opacity: 0;
  }

  mat-sidenav-container.mat-sidenav-container {
    background-color: mat-color($background-palette, card);
  }

  pros-svg-icon {
    svg.primary path {
      fill: mat-color($primary-palette);
    }

    svg.accent path {
      fill: mat-color($accent-palette);
    }

    svg.warn path {
      fill: mat-color($warn-palette);
    }

    svg.widget path,
    rect,
    polygon {
      fill: mat-color($foreground-palette, text);
    }

    svg.businessrule path,
    rect {
      fill: mat-color($primary-palette);
    }
  }

  pros-container {
    div.root {
      .report-builder {
        .widget-col {
          border-right-color: $color-app-border;
        }

        .builder-container {
          border-color: $color-app-border;

          .property-col {
            border-left-color: $color-app-border;
          }
        }
      }
    }
  }

  // Generic Component SASS
  // Generic dailog
  .cdk-overlay-container .mat-dialog-container {
    padding: 0 16px;
  }

  .change-password-dialog {
    .mat-dialog-container {
      padding: 24px;
    }
  }

  .mat-drawer-container {
    height: 100%;
  }

  .mat-snack-bar-container {
    .mat-simple-snackbar {
      .mat-simple-snackbar-action {
        .mat-button:hover {
          background: transparent;
        }
      }
    }
  }

  // Mat Icon
  mat-icon.mat-icon {
    width: 14px;
    height: 14px;
  }

  // Sidenav bar
  mat-sidenav.mat-drawer {
    overflow-y: visible;
    border: none;
  }

  // Generic breadcrum
  .breadcrum-toolbar {
    background-color: mat-color($background-palette, card);
  }

  //Search-Input
  pros-search-input {
    div.root {
      border-color: $color-app-border;

      &.onfocus {
        border-color: mat-color($primary-palette);
      }

      .mat-input::placeholder {
        color: $color-text-secondary;
        opacity: 1;
      }

      mat-icon.mat-icon {
        color: $color-text-secondary;
      }
    }
  }

  //Form-Input
  pros-form-input,
  .mdo-field {
    .error-validation-field {
      color: $color-status-error;

      mat-error {
        color: $color-status-error;
      }
    }

    .mandatory {
      color: $color-status-error;
    }
  }

  // CDK-Dragdrop
  .cdk-drag-preview {
    box-sizing: border-box;
    box-shadow:
      0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: mat-color($background-palette, card);
    border-radius: 3px;
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drop-list-dragging > div:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .mat-list-option:hover,
  .mat-list-option:focus,
  .mat-nav-list .mat-list-item:hover,
  .mat-nav-list .mat-list-item:focus,
  .mat-action-list .mat-list-item:hover,
  .mat-action-list .mat-list-item:focus {
    background: $color-app-hover;
  }

  // Status colors
  .info-link {
    color: $color-text-link;
    cursor: pointer;
  }

  .info-status {
    background: $color-status-info-accent;
    color: $color-status-info;
  }

  .error-status {
    background: $color-status-error-accent;
    color: $color-status-error;
  }

  .success-status {
    background: $color-status-success-accent;
    color: $color-status-success;
  }

  .warning-status {
    background: $color-status-warning-accent;
    color: $color-status-warning;
  }

  // mat-divider
  mat-divider.mat-divider {
    border-color: $color-app-border;
  }

  // Mat-Form-Field
  mat-form-field.mat-form-field {
    .mat-form-field-wrapper {
      padding-bottom: 0;
      border-radius: 4px;
      background-color: $color-app-accent;
      margin: 0;

      .mat-form-field-flex {
        padding-right: 0;
      }

      .mat-form-field-infix {
        padding: 4px 0 0 0;
        display: flex;
        align-items: center;
        border-top-width: 0;
        min-height: 36px;
        width: auto;

        .mat-input {
          caret-color: $color-text-secondary;
          padding-right: 12px;
          line-height: 16px;
        }

        .mat-input::placeholder {
          color: $color-text-secondary;
          opacity: 1;
        }

        mat-select.mat-select {
          .mat-select-arrow-wrapper {
            .mat-select-arrow {
              margin-top: 8px;
              margin-right: 12px;
              color: $color-text-primary;
            }
          }
        }

        mat-chip-list.mat-chip-list {
          margin: 6px 0 6px 0;
        }

        textarea.mdo-textarea {
          height: 100px;
          resize: none;
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }
    }

    &.mat-form-field-appearance-outline .mat-form-field-outline-thick > div {
      border-width: 1px;
    }

    &.mat-form-field-appearance-outline {
      &.mat-focused {
        .mat-form-field-outline-thick {
          color: $color-app-canvas;
        }
      }
    }

    &.error-matfield {
      .mat-form-field-wrapper {
        background-color: $color-status-error-accent;

        .mat-form-field-flex {
          border-color: $color-status-error;

          .mat-form-field-outline-start,
          .mat-form-field-outline-gap,
          .mat-form-field-outline-end {
            border-color: $color-status-error;
          }
        }

        .mat-form-field-infix {
          .mat-input {
            caret-color: $color-status-error;
            color: $color-status-error;
          }

          .mat-input::placeholder {
            color: $color-status-error;
          }
        }
      }

      &.mat-form-field-appearance-outline .mat-form-field-outline-thick > div {
        border-color: $color-status-error;
      }
    }

    &.error-cell {
      .mat-form-field-wrapper {
        background-color: $color-status-error-accent;
        border-radius: 0;
        margin: 0;

        .mat-form-field-flex {
          border-bottom: 1px solid $color-status-error;
        }

        .mat-form-field-infix {
          .mat-input {
            caret-color: $color-status-error;
            color: $color-status-error;
          }

          .mat-input::placeholder {
            color: $color-status-error;
          }
        }
      }

      .info-arrow {
        color: $color-status-error;
      }
    }

    &.success-cell {
      .mat-form-field-wrapper {
        background-color: $color-status-success-accent;
        border-radius: 0;
        margin: 0;

        .mat-form-field-flex {
          border-bottom: 1px solid $color-status-success;
        }

        .mat-form-field-infix {
          .mat-input {
            caret-color: $color-status-success;
            color: $color-status-success;
          }

          .mat-input::placeholder {
            color: $color-status-success;
          }
        }
      }

      .info-arrow {
        color: $color-status-success;
      }
    }

    &.warning-cell {
      .mat-form-field-wrapper {
        background-color: $color-status-warning-accent;
        border-radius: 0;
        margin: 0;

        .mat-form-field-flex {
          border-bottom: 1px solid $color-status-warning;
        }

        .mat-form-field-infix {
          .mat-input {
            caret-color: $color-status-warning;
            color: $color-status-warning;
          }

          .mat-input::placeholder {
            color: $color-status-warning;
          }
        }
      }

      .info-arrow {
        color: $color-status-warning;
      }
    }

    &.info-cell {
      .mat-form-field-wrapper {
        background-color: $color-status-info-accent;
        border-radius: 0;
        margin: 0;

        .mat-form-field-flex {
          border-bottom: 1px solid $color-status-info;
        }

        .mat-form-field-infix {
          .mat-input {
            caret-color: $color-status-info;
            color: $color-text-link;
          }

          .mat-input::placeholder {
            color: $color-status-info;
          }
        }
      }

      .info-arrow {
        color: $color-text-link;
      }
    }

    &.null-cell {
      .mat-form-field-wrapper {
        background-color: mat-color($background-palette, card);
        border-radius: 0;
        margin: 0;

        .mat-form-field-infix {
          .mat-input {
            caret-color: $color-text-secondary;
            color: $color-text-primary;
          }

          .mat-input::placeholder {
            color: $color-text-secondary;
          }
        }
      }

      .info-arrow {
        color: $color-text-primary;
      }
    }
  }

  .cdk-overlay-container {
    .mat-autocomplete-panel {
      .autodropdown-scroll {
        max-height: 145px;
        overflow: auto;

        .sticky-actions {
          height: 36px;
          display: flex;
          align-items: center;
          // padding: 0 16px;
          cursor: pointer;

          .option-icon {
            font-size: 14px;
            width: 14px;
            height: 14px;
            margin-right: 4px;
          }
        }

        .no-result {
          align-items: center;
          padding: 16px;
        }
      }

      mat-option.mat-option {
        font-size: inherit;
        height: 48px;

        &:hover:not(.mat-option-disabled),
        &:focus:not(.mat-option-disabled) {
          background: $color-app-hover;
        }

        .option-button {
          width: 36px;
        }
      }
    }
  }

  // Tab-Component
  mat-tab-group {
    height: 100%;

    .mat-tab-header {
      margin-bottom: 16px;
      border-color: $color-app-border;

      .mat-tab-list {
        .mat-tab-labels {
          .mat-tab-label {
            padding: 0 12px;
            min-width: 100px;
            opacity: 1;

            .mat-tab-label-content {
              font-weight: normal;

              .mat-tab-count {
                color: mat-color($foreground-palette, secondary-text);
                margin-left: 8px;
              }
            }
          }
        }

        .mat-ink-bar {
          height: 3px;
        }
      }
    }
  }

  // NavTab-Component
  nav.mat-tab-nav-bar,
  nav.mat-tab-header {
    margin-bottom: 16px;

    .mat-tab-link-container {
      .mat-tab-link {
        min-width: 120px;
        font-weight: normal;
        opacity: 1;
      }
    }
  }

  .mat-tab-body-wrapper {
    height: 100%;

    mat-tab-body.mat-tab-body {
      height: 100%;
      padding: 0 4px;
    }
  }

  //ProgressBar
  mat-progress-bar.mat-progress-bar {
    height: 6px;
    border-radius: 10px;
  }

  //MatChip
  mat-chip-list {
    outline: none;

    .mat-chip-list-wrapper {
      margin: 0;

      mat-chip.mat-chip {
        font-weight: normal;
        min-height: 24px;
        border-radius: 30px;
        text-overflow: ellipsis;
        white-space: pre-line;
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        padding: 3px 12px;
        font-size: 0.8rem;

        .mat-info-icon {
          font-size: 12px;
        }

        &.none-stats-chip {
          border: 1px solid $color-app-border;
          background-color: mat-color($background-palette, card);
          white-space: nowrap;
        }

        &.mdo-filter-matchip {
          display: flex;
          height: 35px;
          width: auto;
          cursor: pointer;
          padding: 5px 9px;
          line-height: 0.9em;
          border: 1px solid $color-app-border;
          background-color: mat-color($background-palette, card);
          margin: 1px 4px;

          label {
            margin: 0 4px;
          }

          .info {
            color: $color-text-link;
            margin-right: 3px;
          }
        }

        &.info-status {
          background: $color-status-info-accent;
          color: $color-status-info;
        }

        &.error-status {
          background: $color-status-error-accent;
          color: $color-status-error;
        }

        &.success-status {
          background: $color-status-success-accent;
          color: $color-status-success;
        }

        &.warning-status {
          background: $color-status-warning-accent;
          color: $color-status-warning;
        }

        &.selected {
          background: $color-app-selected;
          border-color: $color-app-selected;
          color: $color-text-canvas;
        }

        &.unselected {
          background: mat-color($background-palette, card);
          border: 1px solid $color-app-border;
          color: $color-text-primary;
        }
      }

      mat-chip.mat-chip.mat-standard-chip::after {
        background: transparent;
      }
    }
  }

  //MDO-Checkbox
  mat-checkbox.mat-checkbox {
    .mat-checkbox-layout {
      align-items: center;

      .mat-checkbox-label {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-line;
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1rem;
      }

      .mat-checkbox-inner-container {
        width: 30px;
        height: 30px;
        background: mat-color($background-palette, card);

        .mat-checkbox-ripple {
          display: none;
        }

        .mat-checkbox-frame {
          border-width: 1px;
          border-color: $color-app-border;
        }

        .mat-checkbox-background {
          margin: 6px;

          .mat-checkbox-checkmark {
            display: none;
          }
        }
      }
    }
  }

  .mat-select-panel {
    .mat-option {
      .mat-pseudo-checkbox {
        width: 30px;
        height: 30px;
        border: 1px solid $color-app-border;
        border-radius: 3px;
        background: transparent;

        &.mat-pseudo-checkbox-checked,
        &.mat-pseudo-checkbox-indeterminate {
          border-color: $color-app-border;
        }
      }

      .mat-pseudo-checkbox::after {
        top: 5px;
        left: 5px;
        width: 18px;
        height: 18px;
        border-left: none;
        background: mat-color($primary-palette);
        transform: none;
      }

      &.mat-selected:not(.mat-option-disabled) {
        color: mat-color($foreground-palette, text);
      }
    }
  }

  //MDO-Radio
  mat-radio-button.mat-radio-button {
    .mat-radio-container {
      height: 30px;
      width: 30px;

      .mat-radio-outer-circle {
        width: 30px;
        height: 30px;
        border-width: 1px;
        border-color: $color-app-border;
      }

      .mat-radio-inner-circle {
        width: 30px;
        height: 30px;
      }

      .mat-radio-ripple {
        display: none;
      }
    }
  }

  mat-radio-button.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
    border-color: $color-app-border;
  }

  //Mat Slide Toggle
  .mat-slide-toggle {
    .mat-slide-toggle-bar {
      width: 44px;
      height: 24px;
      border-radius: 20px;
      background-color: mat-color($background-palette, app-bar);

      .mat-slide-toggle-thumb-container {
        width: 28px;
        height: 28px;
        top: -2px;

        .mat-slide-toggle-thumb {
          height: 28px;
          width: 28px;
        }
      }
    }

    &.mat-primary.mat-checked .mat-slide-toggle-thumb {
      background-color: mat-color($background-palette, card);
    }

    &.mat-primary.mat-checked .mat-slide-toggle-bar {
      background-color: mat-color($primary-palette);
    }
  }

  //Mat-Menu
  .cdk-overlay-pane {
    &.display-dialog {
      display: none;
    }

    .datascope-scroll {
      max-height: 256px;
      overflow-y: scroll;
    }

    .search-row {
      margin: 8px;
    }

    .mat-menu-panel {
      max-width: 300px;
      width: 240px;
      min-height: auto;
      // max-height: 470px;
      margin: 8px 0;
      box-shadow: $box-shadow;

      .mat-menu-content:not(:empty) {
        padding: 0;
      }

      &.date-picker-menu {
        width: 240px;
        height: max-content;
      }

      &.navigation-menu {
        .menu-search-row {
          padding: 8px;
        }

        .menu-customdropdown {
          max-height: 360px;
          min-height: auto;
          overflow: auto;
        }

        mat-divider.mat-divider {
          margin: 4px 0;
        }

        .field-mat-menu {
          padding: 8px;
          display: block;
        }

        button.mat-menu-item {
          height: 36px;
          line-height: 36px;

          .mat-menu-icon {
            font-size: 12px;
            width: 12px;
            color: mat-color($foreground-palette, text);
            margin-right: 4px;
          }

          &.mat-menu-item-submenu-trigger::after {
            color: mat-color($foreground-palette, text);
          }

          &:hover {
            background: $color-app-hover;
          }

          &.mat-menu-item-highlighted {
            background: transparent;
          }

          &.selected {
            background: $color-app-hover;
          }
        }
      }

      &.tooltip-fields-menu {
        padding: 8px;
        border: 1px solid;
        max-width: 180px;

        .top-tiparrow {
          display: flex;
          justify-content: center;
        }

        .top-tiparrow::before {
          content: "";
          border-bottom: 10px solid;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          position: absolute;
          top: -1px;
        }

        .field-label {
          margin-bottom: 6px;
        }

        .field-button {
          width: 100%;
          display: flex;
        }
      }

      .multipickradio {
        .mat-radio-button {
          width: 100%;

          .mat-radio-label {
            margin-right: 0;
          }

          .mat-radio-label-content {
            &.mat-radio-label-before {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              width: 100%;
            }
          }
        }
      }
    }
  }

  //Mat Slider
  mat-slider.mat-slider {
    .mat-slider-wrapper {
      height: 6px;
      top: 21px;

      .mat-slider-track-wrapper {
        height: 6px;
        width: 100%;
        border-radius: 10px;

        .mat-slider-track-background,
        .mat-slider-track-fill {
          height: 6px;
        }

        .mat-slider-track-background {
          background-color: $color-accent;
        }
      }

      .mat-slider-thumb-container {
        height: 3px;

        .mat-slider-thumb {
          width: 28px;
          height: 28px;
          border: 8px solid $color-text-canvas;
          box-shadow: $box-shadow;
          background: mat-color($primary-palette);
        }
      }

      .mat-slider-ticks-container {
        display: none;
      }
    }

    &.mat-slider-horizontal .mat-slider-wrapper::after {
      opacity: 0;
      display: none;
    }
  }

  //MDO-Buttons
  button.mat-button,
  button.mat-flat-button {
    font-weight: 400;
    border-radius: 3px;
    height: 36px;
    line-height: 34px;
  }

  button.mat-icon-button {
    width: 36px;
    height: 36px;

    .mat-icon {
      line-height: 12px;
    }
  }

  button.mat-button {
    padding: 0;
    min-width: 36px;

    &:hover {
      background: $color-app-hover;
    }
  }

  button.mat-fab {
    border-radius: 3px;
    width: 38px;
    height: 36px;
    box-shadow: none;

    .mat-button-wrapper {
      padding: 0;
    }
  }

  button.mat-stroked-button {
    border-radius: 20px;
    padding: 0 6px 0 8px;
    min-width: auto;
    height: 26px;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 400;
  }

  button.mat-raised-button {
    font-weight: 400;
  }

  button.mat-mini-fab {
    width: 36px;
    height: 36px;

    .mat-button-wrapper {
      padding: 0;
    }
  }

  // Group button styling
  .action-iconbtns {
    button.mat-fab,
    button.mat-flat-button {
      margin: 1px 1px 1px 0;
      min-width: 38px;
      padding: 0 12px;
      border-radius: 0;
      box-shadow: none;

      &.mat-button-base:first-of-type {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &.mat-button-base:last-of-type {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  mat-button-toggle-group.mat-button-toggle-group {
    box-shadow: none;
    background-color: $color-app-accent;
    overflow: visible;
    height: 40px;
    line-height: 40px;

    .mat-button-toggle {
      color: $color-text-secondary;
    }

    .mat-button-toggle-checked {
      background-color: mat-color($background-palette, card);
      box-shadow: $box-shadow;
      color: mat-color($foreground-palette, base);
    }
  }

  mat-datepicker-toggle.mat-datepicker-toggle {
    button.mat-icon-button {
      border-radius: 0;
      color: mat-color($foreground-palette, text);
      width: 44px;
      height: 44px;

      svg {
        width: 16px;
        height: 16px;
        margin-top: -3px;
      }
    }
  }

  .mat-datepicker-toggle-active {
    color: mat-color($foreground-palette, text);
  }

  pros-noun-modifier-autocomplete {
    mat-form-field.mat-form-field {
      &.cell {
        .mat-form-field-wrapper {
          .mat-form-field-outline {
            display: none;
          }

          .mat-form-field-infix {
            min-height: 47px;
          }
        }

        mat-icon.info-arrow {
          width: 30px;
        }
      }
    }
  }

  .pros-generic-field-control.has-error .mat-form-field .mat-form-field-wrapper,
  .udr-select-col.has-error {
    border: 1px solid $color-status-error;
  }

  .sidesheetcontent-listing .mandatory {
    margin: initial 5px;
    color: $color-status-error;
  }

  //MDO-Table
  .mat-table {
    .mat-row,
    mat-header-row,
    mat-footer-row {
      border-color: $color-app-border;
    }

    .mat-cell {
      border-right: 1px solid $color-app-border;

      &.mat-table-sticky {
        background: $color-app-accent;
      }

      .grid-cell-editable {
        width: 100%;
      }

      .error-message {
        color: $color-status-error;
      }

      &.correction-cell {
        // background: $color-status-info-accent;
        border-bottom: 1px solid $color-status-info;
        color: $color-status-info;
      }

      &.error-cell {
        // background: $color-status-error-accent;
        border-bottom: 1px solid $color-status-error;
        color: $color-status-error;
      }

      &.edit-mode {
        background-color: mat-color($background-palette, card);
        border-color: $color-app-canvas;
      }

      .text-strike {
        opacity: 0.4;
        pointer-events: none;
        text-decoration: line-through;
      }

      .edit-cell {
        height: 100%;

        .mat-form-field-wrapper {
          .mat-form-field-flex {
            background: mat-color($background-palette, card);
            margin-top: 0;
            padding-left: 0;

            .mat-form-field-outline {
              display: none;
            }
          }

          .mat-form-field-infix {
            min-height: 44px;
          }
        }
      }
    }

    .mat-header-cell {
      font-size: 14px;
      font-weight: 600;

      .mat-sort-header {
        display: inline-block;
      }

      .mandatory {
        color: $color-status-error;
      }
    }

    .mat-row:hover {
      background-color: $color-app-hover;

      .mat-cell.mat-table-sticky {
        background: inherit;
      }
    }

    .not-master-row {
      background-color: $color-app-row;
    }

    .mat-header-cell,
    .mat-cell {
      font-size: 0.8rem;
      line-height: 1rem;
      color: mat-color($foreground-palette, text);
      padding: 0 8px;
      min-width: 200px;
      word-break: break-word;
      align-self: stretch;

      &.fixed-width-c1 {
        min-width: 38px;
        max-width: 38px;
        border-right: none;
      }

      &.fixed-width-c2 {
        min-width: 120px;
        max-width: 120px;
        border-right: none;
      }

      .correction {
        color: $color-status-info;
      }

      &.line-cut {
        text-decoration: line-through;
      }

      &.numeric-cell-right {
        text-align: right;
      }

      .mat-sort-header-content {
        text-align: left;
        align-items: start;
      }

      mat-form-field.mat-form-field {
        width: 100%;

        .mat-form-field-wrapper {
          background-color: transparent;

          .mat-form-field-infix {
            padding: 0;

            .mat-input {
              caret-color: $color-text-secondary;
              padding-top: 4px;
              color: $color-text-primary;
            }
          }

          .mat-form-field-underline {
            display: none;
          }
        }
      }
    }

    .mat-column-___header__collapsible {
      .verticalsub-text {
        border-right-color: $color-app-border;
      }
    }

    .mat-header-cell:first-of-type,
    .mat-cell:first-of-type,
    .mat-cell:last-of-type {
      padding-right: 8px;
      padding-left: 8px;
    }

    .mat-cell:last-of-type {
      border-right: none;
    }

    .resize-holder {
      cursor: col-resize;
      width: 20px;
      height: 100%;
      position: absolute;
      right: -10px;
      top: 0;
      z-index: 101;
    }
  }

  pros-duplicacy {
    .text-correction {
      color: $color-status-info;
    }
  }

  //Mat-Stepper
  mat-horizontal-stepper {
    .mat-horizontal-stepper-header-container {
      display: none;
    }

    .mat-horizontal-content-container {
      padding: 0;
    }
  }

  //Mat-Header with avatar...
  mat-card-header.mat-card-header {
    align-items: center;

    .mat-card-avatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      line-height: 36px;
      font-size: 0.9rem;
      overflow: hidden;
      text-align: center;
      text-transform: uppercase;
      background-color: $color-accent;
      color: $color-text-secondary;
    }

    mat-card-title.mat-card-title {
      margin-bottom: 0;
      font-weight: 400;
      font-size: 0.9rem;
    }
  }

  // Mat-List
  mat-nav-list.mat-list-base,
  mat-list.mat-list-base {
    padding-top: 0;
  }

  // Mat-Accordion
  mat-accordion.mat-accordion {
    .mat-expansion-panel {
      &.mat-expansion-panel-spacing {
        margin: 0;
        outline: none;
      }

      .mat-expansion-panel-header {
        padding: 0 2px;

        &.cdk-focused {
          background: $color-app-hover;
        }

        .mat-expansion-indicator {
          height: 10px;
        }

        .mat-expansion-indicator::after {
          padding: 3px;
          vertical-align: top;
          color: $color-text-primary;
        }
      }

      .mat-expansion-panel-body {
        padding: 0;
      }
    }

    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
      background: $color-app-hover;
    }
  }

  // Mat Tree
  mat-tree.mat-tree {
    button.mat-icon-button {
      border-radius: 3px;
      width: 32px;
      height: 32px;
      line-height: 32px;
      margin-right: 8px;
      box-shadow: none;
    }
  }

  // Bagde error
  .badge-background {
    .mat-badge-content {
      background: transparent;
    }
  }

  .badge-error-value {
    color: $color-status-error;

    .mat-badge-content {
      color: $color-status-error;
    }
  }

  // Error Stackbar
  .error-stackbar {
    background-color: $color-status-error;
    color: $color-text-canvas;
    padding: 12px;
  }

  //DIW Components
  pros-login {
    div.root {
      background: $color-app-offcanvas;

      pros-svg-icon.company-logo {
        path {
          fill: mat-color($background-palette, card);

          &.logo-primary {
            fill: mat-color($primary-palette);
          }
        }
      }
    }
  }

  pros-table-column-settings {
    .colunm-box {
      border-bottom: 1px solid $color-app-border;
    }
  }

  pros-primary-navigation {
    mat-sidenav-content.body-sidecontent {
      height: calc(100% - 60px);
    }

    div.nav-root {
      background: $color-app-offcanvas;

      pros-svg-icon.primary-nav {
        path {
          fill: mat-color($background-palette, card);

          &.logo-primary {
            fill: mat-color($primary-palette);
          }
        }
      }

      mat-nav-list.primary-nav-list {
        mat-list-item.link-items {
          color: $color-text-offcanvas;

          &.selected {
            color: $color-text-canvas;

            &::before {
              background: $color-text-canvas;
            }
          }

          &:hover {
            background-color: $color-app-offcanvas;
          }
        }
      }

      .global-menu {
        color: $color-text-offcanvas;

        .admin-badge {
          .mat-badge-content {
            background: transparent;
            letter-spacing: 0;
            top: -18px;
            left: 6px;
            font-weight: 400;
            font-size: 11px;
            color: $color-text-offcanvas;
            border: none;
            overflow: visible;
          }
        }

        .lib-button.check-data {
          margin-right: 90px;

          .mdo-button.mdo-minor {
            background: $color-text-canvas;
          }
        }
      }
    }
  }

  pros-settings {
    .mat-list-item.selected {
      background-color: $color-app-hover;
    }
  }

  pros-secondary-navbar {
    .root {
      mat-card.secondary-card {
        box-shadow: $inset-box-shadow;

        .nav-tree {
          .mat-list-item {
            &.selected {
              background-color: $color-app-hover;
            }
          }

          .mat-list-item:hover {
            background-color: $color-app-hover;
          }
        }

        .section-header {
          &::after,
          &::before {
            background: $color-app-border;
          }
        }
      }

      .split-arrow {
        background-color: mat-color($background-palette, card);
        box-shadow: $box-shadow;
      }

      mat-expansion-panel-header {
        &.selected,
        &.selected:hover,
        &.selected:focus {
          background-color: $color-app-hover;
        }
      }
    }
  }

  pros-configure-filters {
    .mat-list-base .mat-list-item .mat-list-item-content {
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 12px;
    }

    .selected {
      background-color: $color-app-hover;
    }
  }

  pros-welcome-mdo,
  pros-schema-lists {
    pros-svg-icon.welcome-logo {
      .logo-primary {
        fill: mat-color($primary-palette);
      }
    }

    mat-list.mat-list {
      mat-list-item.mat-list-item {
        .mat-list-item-content {
          padding: 0;

          .short-line {
            color: $color-text-secondary;
          }
        }
      }
    }
  }

  pros-export-report-datatable {
    mat-nav-list.mat-nav-list {
      mat-list-item.mat-list-item {
        border-bottom: 1px solid $color-app-border;

        .mat-list-item-content {
          padding: 0 0 0 8px;

          .mat-card-header-text {
            margin: 0 4px;
          }
        }
      }
    }
  }

  pros-add-filter-menu {
    mat-nav-list {
      .filter-header {
        border-bottom-color: $color-app-border;
      }
    }
  }

  pros-group-data-table {
    div.root {
      .mat-table {
        .active-row {
          background: $color-app-hover;
        }
      }
    }
  }

  pros-setup-duplicate-rule,
  pros-datascope-list-sidesheet {
    .colunm-box {
      &.rule-border-row {
        border-bottom: 1px solid $color-app-border;
      }
    }
  }

  pros-attribute-default-value {
    .colunm-box {
      &.rule-border-row {
        border-bottom: 1px solid $color-app-border;
        padding-left: 12px;
        padding-right: 12px;
      }

      &.value-row:hover {
        background: $color-app-border;
      }
    }
  }

  pros-report-datatable-column-settings {
    .checkedall {
      background: mat-color($background-palette, card);
    }

    .colunm-box:hover {
      background: $color-app-hover;
    }
  }

  pros-upload-dataset {
    mat-card.root {
      .colunm-box {
        &.rule-border-row {
          border-bottom: 1px solid $color-app-border;
        }

        mat-card-header.mat-card-header {
          .mat-card-header-text {
            margin: 0;
          }
        }
      }

      mat-nav-list {
        mat-list-item {
          border-bottom: 1px solid $color-app-border;
        }
      }
    }
  }

  pros-upload-data {
    div.root {
      .field-grid {
        mat-table.mat-table {
          .mat-header-cell,
          .mat-cell {
            border-right: none;
            min-width: 130px;
          }
        }
      }
    }
  }

  pros-br-classification-sidesheet,
  pros-br-duplicatecheck-sidesheet,
  pros-new-duplicate-check,
  pros-string-replace {
    div.root {
      .rowlist {
        border-bottom-color: $color-app-border;
      }

      .colunm-box {
        &.rule-border-row {
          border-bottom: 1px solid $color-app-border;
        }
      }
    }
  }

  pros-collaborator {
    .mat-list.collaborators-list {
      mat-list-item.mat-list-item {
        border-bottom-color: $color-app-border;

        .mat-list-item-content {
          padding: 0;
        }
      }
    }
  }

  pros-datascope-sidesheet {
    mat-list.mat-list {
      &.date-picker-list {
        .mat-radio-button {
          margin-bottom: 0;

          .mat-radio-label {
            height: 48px;
          }
        }

        mat-list-item.mat-list-item {
          &.selected {
            background: $color-app-hover;
          }
        }
      }
    }

    div.root {
      .filter-list {
        border-right-color: $color-app-border;
      }
    }
  }

  pros-schema-summary-sidesheet,
  pros-schema-info {
    div.root {
      .message {
        color: $color-text-canvas;

        &.error-alert {
          background-color: $color-status-error;
        }

        &.info-alert {
          background-color: $color-app-offcanvas;
        }
      }

      .colunm-box {
        mat-card-header.mat-card-header {
          .mat-card-header-text {
            margin: 0;
          }
        }

        &.rule-border-row {
          border-bottom: 1px solid $color-app-border;
        }
      }

      .summary-rowlist {
        mat-list-item.mat-list-item {
          border-bottom-color: $color-app-border;
        }
      }
    }
  }

  pros-report-list {
    mat-card.root {
      mat-list.mat-list {
        mat-list-item.mat-list-item {
          border-color: $color-app-border;

          .mat-list-item-content {
            padding: 0;
          }
        }
      }
    }
  }

  pros-reporting-list {
    mat-paginator.mat-paginator {
      .mat-paginator-container {
        min-height: 50px;
      }

      mat-form-field.mat-form-field.mat-paginator-page-size-select {
        margin: 0;

        .mat-form-field-wrapper {
          .mat-form-field-flex {
            .mat-form-field-infix {
              padding: 2px 0 0 0;
              min-height: 26px;

              mat-select.mat-select {
                padding: 0 6px;

                .mat-select-trigger {
                  .mat-select-arrow-wrapper {
                    .mat-select-arrow {
                      margin: 0;
                    }
                  }
                }
              }
            }
          }

          .mat-form-field-underline {
            display: none;
          }
        }
      }
    }
  }

  .classification-field {
    &.suggested {
      mat-form-field.mat-form-field.null-cell .mat-form-field-wrapper {
        background: $color-status-info-accent;
      }

      mat-form-field.mat-form-field.null-cell .info-arrow,
      mat-form-field.mat-form-field.null-cell .mat-form-field-wrapper .mat-form-field-infix .mat-input,
      mat-form-field.mat-form-field.null-cell .mat-form-field-wrapper .mat-form-field-infix .mat-input::placeholder {
        color: $color-status-info;
      }
    }

    &.unmatched {
      mat-form-field.mat-form-field.null-cell .mat-form-field-wrapper {
        background: $color-status-error-accent;
      }

      mat-form-field.mat-form-field.null-cell .info-arrow,
      mat-form-field.mat-form-field.null-cell .mat-form-field-wrapper .mat-form-field-infix .mat-input,
      mat-form-field.mat-form-field.null-cell .mat-form-field-wrapper .mat-form-field-infix .mat-input::placeholder {
        color: $color-status-error;
      }
    }
  }

  pros-library-mapping-sidesheet {
    div.root {
      .rule-border-row {
        border-bottom: 1px solid $color-app-border;

        .col {
          &.error-cell {
            border-bottom: 1px solid mat-color($primary-palette);
            background-color: mat-color($background-palette, app-bar);
          }

          mat-form-field.customfield-dropdown {
            width: 100%;
            background: transparent;

            .mat-form-field-wrapper {
              .mat-form-field-flex {
                padding-top: 0;
                background: transparent;
              }

              .mat-form-field-infix {
                mat-select.mat-select {
                  .mat-select-value-text {
                    color: mat-color($primary-palette);
                  }
                }
              }

              .mat-form-field-underline {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  pros-brrule-side-sheet,
  pros-new-business-rules {
    div.root {
      .user-defined-set {
        &::before {
          background: $color-accent;
        }

        .defined-row {
          border-color: $color-app-border;

          div.col {
            &.select-col {
              background: $color-accent;
            }

            .mat-select {
              &.udr-form-select {
                box-sizing: border-box;
              }

              // &.ng-touched.ng-invalid {
              //   border: 1px solid $color-status-error;
              //   color: $color-status-error;
              // }
            }

            .pros-generic-field-control.has-error .mat-form-field .mat-form-field-wrapper,
            .udr-select-col.has-error {
              border: 1px solid  $color-status-error;
            }

            .udr-option:hover {
              button.mdo-button:hover {
                background: transparent;

                .mat-button-focus-overlay {
                  opacity: 0;
                }
              }
            }
          }
        }
      }

      .colunm-box {
        &.rule-border-row {
          border-bottom: 1px solid $color-app-border;
        }
      }

      .field-chip-list {
        .lib-chip {
          button.mdo-filter-pill {
            height: 28px;
            margin-top: -1px;
            font-size: 13px;
          }
        }
      }
    }
  }

  pros-widget-color-palette {
    div.root {
      .palette-list {
        mat-list.mat-list {
          mat-list-item.mat-list-item {
            border-bottom-color: $color-app-border;
          }
        }
      }
    }
  }

  pros-quality-rules,
  pros-schema-migration {
    div.root {
      .colunm-box {
        border-bottom: 1px solid $color-app-border;
      }

      .table-vertical {
        tr.mat-row {
          &:nth-child(odd) {
            background: mat-color($background-palette, card);
          }

          .mat-cell {
            border-bottom: 1px solid $color-app-border;
          }
        }
      }
    }
  }

  pros-bar-chart,
  pros-count,
  pros-filter,
  pros-stackedbar-chart,
  pros-html-editor,
  pros-image,
  pros-reporting-list,
  pros-timeseries-widget,
  pros-pie-chart {
    mat-card.widget {
      border: 1px solid $color-app-border;
    }
  }

  pros-new-schema-collaborators,
  pros-subscriber-side-sheet,
  pros-businessrulelibrary-dialog,
  pros-businessrulelibrary-sidesheet {
    div.root {
      .sidesheetcontent-listing {
        mat-list.rule-list {
          mat-list-item {
            border-bottom-color: $color-app-border;

            .mat-list-item-content {
              padding: 0;
            }
          }
        }
      }
    }
  }

  pros-system-tray {
    div.root {
      mat-tab-header.mat-tab-header {
        margin: 0 66px;
      }

      mat-tab-body.mat-tab-body-active {
        height: calc(100% - 50px);
        overflow: auto;
        padding: 0;

        mat-nav-list.mat-nav-list {
          padding: 0 66px;

          mat-list-item.mat-list-item {
            border-bottom: 1px solid $color-app-border;

            &.mat-list-item:hover {
              background-color: $color-app-hover;
            }

            .mat-list-item-content {
              min-height: 48px;
              padding: 0;

              .notify-content,
              .mat-expand-icon {
                color: $color-text-secondary;
              }
            }
          }
        }
      }
    }
  }

  // pros-table-cell-input {
  //   mat-form-field.edit-cell {
  //     background: #;
  //   }
  // }

  pros-classification-builder {
    div.root {
      .listset-navigation {
        border-right-color: $color-app-border;

        .split-panel-mark {
          box-shadow: $box-shadow;
          background-color: mat-color($background-palette, card);
        }
      }
    }
  }

  pros-global-count {
    .sum-collection::after {
      background-color: $color-text-secondary;
    }
  }

  pros-null-state,
  pros-schema-progress {
    .state-container {
      .label-text {
        color: $color-text-secondary;
      }
    }
  }

  pros-schema-details {
    div.root {
      mat-tab-group.mat-tab-group {
        mat-tab-body.mat-tab-body {
          .mat-tab-body-content {
            overflow: hidden;
          }
        }
      }

      .listing-container {
        .listset-navigation {
          border-right-color: $color-app-border;

          .nav-tree {
            mat-accordion {
              .mat-expansion-panel {
                .mat-expansion-panel-header {
                  &.selected {
                    background: $color-app-hover;
                  }
                }
              }
            }

            .mat-nav-list.tree-nav-list {
              .understep-two {
                .mat-list-item-content {
                  padding: 0 0 0 86px;
                }
              }
            }
          }
        }

        .collapse-icon,
        .split-panel-mark {
          box-shadow: $box-shadow;
          background-color: mat-color($background-palette, card);
        }
      }
    }
  }

  .mdo-field.has-error,
  .mdo-form-field.has-error {
    .mdo-field-label {
      color: $color-status-error;
    }

    .mdo-field-input {
      border: 1px solid $color-status-error;
    }
  }

  div.root .summary-sidesheet.sidesheetcontent-listing {
    .lib-input .mdo-field .mdo-field-label {
      font-size: 14px;
    }
  }

  pros-schema-lists {
    table.mat-table {
      &.table-vertical {
        .mat-row {
          td.mat-cell {
            border-bottom-color: $color-app-border;
          }
        }
      }
    }
  }

  /* stylelint-disable */
  .mat-badge {
    .mat-badge-content {
      .status-badge-icon {
        color: $color-text-primary;
        font-size: 12px;

        &.info {
          color: $color-status-info;
        }

        &.success {
          color: $color-status-success;
        }

        &.warning {
          color: $color-status-warning;
        }

        &.error {
          color: $color-status-error;
        }
      }
    }
  }
  /* stylelint-enable */

  pros-overlay-loader {
    position: relative;

    .root {
      position: absolute;
      z-index: 1000;
      opacity: 0.65;
      width: 100vw;
      height: calc(100vh - 60px);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-text-canvas;
    }
  }

  .classification-chip.mdo-filter-matchip {
    .unmatched {
      color: $color-status-error;
    }

    .suggested {
      color: $color-status-info;
    }
  }

  .lib-button.classification-link-question {
    button {
      color: $color-status-error;
    }

    &.mat-badge-medium.mat-badge-overlap.mat-badge-after span.mat-badge-content {
      background: transparent;
      color: $color-status-error;
      right: -5px;
      top: initial;
    }
  }
}

@mixin pros-cmp-typography($config) {
  pros-add-tile .root {
    mat-icon {
      width: mat-font-size($config, display-3);
      height: mat-font-size($config, display-3);
      font-size: mat-font-size($config, display-3);
      font-weight: mat-font-weight($config, display-3);
    }
  }
}

.mdo-schedule-segment {
  mat-radio-group {
    display: flex;
    flex-wrap: wrap;

    mat-radio-button {
      flex: 0 0 25%;
      margin-bottom: 8px;
    }
  }
}

/* home page tasks list menu drag and drop custom styles */
.task-badge {
  .mdo-button:hover {
    background: none;

    .mat-button-focus-overlay {
      opacity: 0 !important;
    }
  }
}

.task-badge.btn-pos {
  .mat-badge-content {
    bottom: -21px !important;
    right: 4px !important;
  }
}

.cdk-drag-preview.task-search-list-drag-el {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 8px;

  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box;
  }

  .task-badge {
    height: 0;
  }

  .task-badge.search-badge {
    .mat-badge-content {
      right: 0 !important;
    }
  }
}

.cdk-drag-preview.tasks-list-drag-el {
  height: auto !important;

  .mat-expansion-panel-content {
    display: none;
  }

  mat-expansion-panel {
    margin: 0;

    .mat-expansion-panel-header {
      padding: 0 0 0 16px;

      mat-panel-title {
        width: 100%;
        margin-right: 0;

        .expand-title {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-size: 0.9rem;
          width: calc(100% - 50px);
        }

        .badge {
          margin: 0 8px;
          font-size: 0.8rem;
        }
      }
    }

    mat-nav-list {
      mat-list-item {
        div.mat-line {
          padding-left: 48px;
          font-size: 0.9rem;
        }
      }
    }
  }

  .mat-expansion-indicator::after {
    padding: 5px;
    vertical-align: top;
  }

  .task-badge {
    position: absolute;
    right: 0;
    height: 0;
  }

  .task-badge.btn-pos {
    .mat-badge-content {
      bottom: -21px !important;
      right: 8px !important;
    }
  }
}

.cdk-drag-placeholder.tasks-list-drag-el {
  .mat-expansion-panel-content {
    display: none;
  }
}

pros-subscriber-invite-sidesheet .lib-input .mdo-field {
  margin-bottom: 17px;
}

.date-picker-option .dropdown-option {
  padding: initial;
}

.hide-input {
  display: none;
}

mat-tooltip-component {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// .schema-info-tabs {
//   mat-tab-group {
//     height: calc(100% - 75px);
//   }
// }
