@mixin pros-cmp-theme($theme) {
  // palette properties
  // link https://github.com/angular/components/blob/master/src/material/core/theming/_palette.scss
  // 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200, A300, A400
  // for contrast palette use mat-contrast($palette, properties);
  $primary-palette: map-get($theme, primary);
  $accent-palette: map-get($theme, accent);
  $warn-palette: map-get($theme, warn);

  // fg properties
  // link https://github.com/angular/components/blob/master/src/material/core/theming/_palette.scss
  // base, divider, dividers, disabled, disabled-button, disabled-text, elevation, hint-text, secondary-text
  // icon, icons, text, slider-min, slider-off, slider-off-active
  $foreground-palette: map-get($theme, foreground);

  // bg properties
  // link https://github.com/angular/components/blob/master/src/material/core/theming/_palette.scss
  // status-bar, app-bar, background, hover, card, dialog, disabled-button, raised-button, focused-button
  // selected-button, selected-disabled-button, disabled-button-toggle, unselected-chip, disabled-list-option
  // tooltip
  $background-palette: map-get($theme, background);

  // infinite pulsing of box-shadow mimicing mat-elevation-z6 parameters
  .pulse_opacity_step_10_repeat::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: pulse_opacity_step_10_repeat 2s infinite;
    box-shadow: 0 3px 5px -1px mat-color($primary-palette, 700, 0.4), 0 6px 10px 0 mat-color($primary-palette, 700, 0.28), 0 1px 18px 0 mat-color($primary-palette, 700, 0.24);
    opacity: 0;
  }

  pros-home-layout mat-toolbar.root {
    button.hdrBtn {
      color: mat-color($primary-palette, 700);
    }

    button.hdrBtn:hover {
      color: mat-color($primary-palette, 600);
    }
  }

  pros-breadcrumb .root {
    a.link {
      color: mat-color($primary-palette);
    }
  }

  pros-add-tile .root {
    background-color: mat-color($background-palette, disabled-button);
    border-color: mat-color($background-palette, disabled-button);

    h3,
    mat-icon {
      color: mat-color($foreground-palette, secondary-text);
    }
  }

  pros-schema-tile .root {
    mat-icon,
    .row1text,
    .week,
    .timestamp {
      color: mat-color($foreground-palette, secondary-text);
    }
  }

  pros-schema-tile .root,
  pros-categories-chart .root,
  pros-overview-chart .root,
  pros-schema-datatable .root {
    mat-toolbar.header h3,
    mat-toolbar.header button {
      color: mat-color($foreground-palette, secondary-text);
    }
  }

  pros-svg-icon {
    svg.primary path {
      fill: mat-color($primary-palette);
    }

    svg.accent path {
      fill: mat-color($accent-palette);
    }

    svg.warn path {
      fill: mat-color($warn-palette);
    }

    svg.widget path,
    rect,
    polygon {
      fill: mat-color($foreground-palette, text);
    }
  }

  pros-schema-datatable {
    table.mat-table td,
    table.mat-table th {
      border-color: mat-color($foreground-palette, divider);
    }
  }

  pros-container {
    .root {
      .builder-container {
        .container-row {
          .widget-col {
            border-color: mat-color($foreground-palette, divider);

            mat-expansion-panel {
              mat-list {
                border-color: mat-color($foreground-palette, divider);
              }
            }
          }

          .builder-board {
            border-color: mat-color($foreground-palette, divider);
          }

          .property-col {
            border-color: mat-color($foreground-palette, divider);
          }
        }
      }
    }
  }

  pros-history-tab {
    .summary-datarows {
      .data-tile {
        .data-topaction {
          .mat-h4 {
            color: mat-color($primary-palette);
          }
        }
      }
    }
  }

  pros-filters-dropdown {
    .filter-slider {
      mat-card-content {
        .fields-action {
          mat-form-field {
            border-color: mat-color($foreground-palette, divider);
          }
        }
      }

      .adv-filter-section {
        .material-nav {
          color: mat-color($primary-palette);
        }
      }
    }
  }

  pros-tasklist-table {
    .tasks-container {
      mat-table {
        .mat-row {
          background-color: mat-color($background-palette, card);
          border-color: mat-color($foreground-palette, divider);

          .mat-cell {
            .additiontags {
              color: mat-color($primary-palette);
            }
          }

          .mat-cell:first-of-type {
            color: mat-color($primary-palette);
          }
        }
      }
    }

    .split {
      border-color: mat-color($foreground-palette, divider);

      .hand-control {
        border-color: mat-color($primary-palette);
        background-color: mat-color($background-palette, card);
      }
    }
  }
}

@mixin pros-cmp-typography($config) {
  pros-add-tile .root {
    mat-icon {
      width: mat-font-size($config, display-3);
      height: mat-font-size($config, display-3);
      font-size: mat-font-size($config, display-3);
      font-weight: mat-font-weight($config, display-3);
    }
  }
}
