@mixin pros-cmp-theme($theme) {
  // palette properties
  // link https://github.com/angular/components/blob/master/src/material/core/theming/_palette.scss
  // 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200, A300, A400
  // for contrast palette use mat-contrast($palette, properties);
  $primary-palette: map-get($theme, primary);
  $accent-palette: map-get($theme, accent);
  $warn-palette: map-get($theme, warn);

  // fg properties
  // link https://github.com/angular/components/blob/master/src/material/core/theming/_palette.scss
  // base, divider, dividers, disabled, disabled-button, disabled-text, elevation, hint-text, secondary-text
  // icon, icons, text, slider-min, slider-off, slider-off-active
  $foreground-palette: map-get($theme, foreground);

  // bg properties
  // link https://github.com/angular/components/blob/master/src/material/core/theming/_palette.scss
  // status-bar, app-bar, background, hover, card, dialog, disabled-button, raised-button, focused-button
  // selected-button, selected-disabled-button, disabled-button-toggle, unselected-chip, disabled-list-option
  // tooltip
  $background-palette: map-get($theme, background);

  // infinite pulsing of box-shadow mimicing mat-elevation-z6 parameters
  .pulse_opacity_step_10_repeat::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: pulse_opacity_step_10_repeat 2s infinite;
    box-shadow:
      0 3px 5px -1px mat-color($primary-palette, 700, 0.4),
      0 6px 10px 0 mat-color($primary-palette, 700, 0.28),
      0 1px 18px 0 mat-color($primary-palette, 700, 0.24);
    opacity: 0;
  }

  // pros-home-layout mat-toolbar.root {
  //   button.hdrBtn {
  //     color: mat-color($primary-palette, 700);
  //   }

  //   button.hdrBtn:hover {
  //     color: mat-color($primary-palette, 600);
  //   }
  // }

  pros-breadcrumb .root {
    a.link {
      color: mat-color($primary-palette);
    }
  }

  pros-add-tile .root {
    background-color: mat-color($background-palette, disabled-button);
    border-color: mat-color($background-palette, disabled-button);

    h3,
    mat-icon {
      color: mat-color($foreground-palette, secondary-text);
    }
  }

  pros-schema-tile {
    .root {
      border-color: mat-color($foreground-palette, divider);
    }

    .highlight {
      background-color: mat-color($background-palette, app-bar);
    }
  }

  pros-schema-list {
    .tiles-container {
      .flex-row-container {
        border-color: mat-color($foreground-palette, divider);
      }
    }
  }

  pros-schema-tile .root,
  pros-categories-chart .root,
  pros-overview-chart .root,
  pros-schema-datatable .root {
    mat-toolbar.header h3,
    mat-toolbar.header button {
      color: mat-color($foreground-palette, secondary-text);
    }
  }

  pros-svg-icon {
    svg.primary path {
      fill: mat-color($primary-palette);
    }

    svg.accent path {
      fill: mat-color($accent-palette);
    }

    svg.warn path {
      fill: mat-color($warn-palette);
    }

    svg.widget path,
    rect,
    polygon {
      fill: mat-color($foreground-palette, text);
    }

    svg.businessrule path,
    rect {
      fill: mat-color($primary-palette);
    }
  }

  pros-schema-datatable {
    table.mat-table td,
    table.mat-table th {
      border-color: mat-color($foreground-palette, divider);
    }
  }

  pros-container {
    .root {
      .builder-container {
        .container-row {
          .widget-col {
            border-color: mat-color($foreground-palette, divider);

            mat-expansion-panel {
              mat-list {
                border-color: mat-color($foreground-palette, divider);
              }
            }
          }

          .builder-board {
            border-color: mat-color($foreground-palette, divider);
          }

          .property-col {
            border-color: mat-color($foreground-palette, divider);
          }
        }
      }
    }
  }

  pros-history-tab {
    .summary-datarows {
      .data-tile {
        .data-topaction {
          .mat-h4 {
            color: mat-color($primary-palette);
          }
        }
      }
    }
  }

  pros-filters-dropdown {
    .filter-slider {
      mat-card-content {
        .fields-action {
          mat-form-field {
            border-color: mat-color($foreground-palette, divider);
          }
        }
      }

      .adv-filter-section {
        .material-nav {
          color: mat-color($primary-palette);
        }

        .nav-checked {
          .load-link {
            color: mat-color($primary-palette);
          }
        }
      }
    }
  }

  pros-duplicate-details {
    .custom-expansion {
      border-color: mat-color($foreground-palette, divider);

      .duplicatedata-table {
        border-color: mat-color($foreground-palette, divider);

        .mat-header-cell,
        .mat-cell {
          border-color: mat-color($foreground-palette, divider);
        }
      }

      .records-labels {
        .dropdownarrow {
          color: mat-color($primary-palette);
        }
      }
    }

    .record-cols {
      border-color: mat-color($foreground-palette, divider);

      .item-list {
        border-top-color: mat-color($foreground-palette, divider);
      }
    }
  }

  pros-task-list {
    .tasks-container {
      mat-table {
        .mat-header-row {
          background-color: mat-color($background-palette, background);
        }

        .mat-row {
          background-color: mat-color($background-palette, card);
          border-color: mat-color($foreground-palette, divider);

          .mat-cell {
            .additiontags {
              color: mat-color($primary-palette);
            }
          }

          .taskid-link {
            color: mat-color($primary-palette);
          }
        }
      }

      .null-content {
        color: mat-color($background-palette, disabled-button);
      }
    }

    .split {
      border-color: mat-color($foreground-palette, divider);

      .hand-control {
        border-color: mat-color($primary-palette);
        background-color: mat-color($background-palette, card);
      }
    }
  }

  pros-columnsetting {
    .column-setting {
      .nav-setting {
        .mat-list-item {
          .listing-icons {
            color: mat-color($foreground-palette, secondary-text);
          }
        }
      }
    }
  }

  pros-duplicate-businessrule {
    .sort-division {
      .active-card {
        border-color: mat-color($primary-palette);
        color: mat-color($primary-palette);

        mat-icon {
          color: mat-color($primary-palette);
        }
      }

      .division-mark {
        .circle-mark {
          background-color: mat-color($background-palette, card);
          border-color: mat-color($foreground-palette, divider);
        }
      }
    }
  }

  pros-upload-data {
    .root {
      .upload-process {
        .fileupload-tile {
          background-color: mat-color($background-palette, disabled-button);
          border-color: mat-color($background-palette, disabled-button);

          mat-icon {
            color: mat-color($background-palette, card);
          }
        }

        .field-grid {
          .mat-table {
            .mat-cell:first-of-type {
              background-color: mat-color($background-palette, app-bar);
            }

            .mat-cell:nth-child(2) {
              background-color: mat-color($background-palette, background);
            }
          }
        }
      }
    }
  }

  pros-execution-summary {
    .execution-counts {
      mat-card {
        border-color: mat-color($foreground-palette, divider);
      }
    }
  }

  pros-create-schema {
    .root {
      .group-containers {
        .categorygroup {
          mat-divider {
            border-color: mat-color($background-palette, card);
          }
        }
      }

      .br-tile {
        border-color: mat-color($foreground-palette, divider);
      }
    }
  }

  pros-list-page {
    .tasklist-container {
      .listing-actions {
        .mat-button {
          color: mat-color($foreground-palette, disabled-button);
        }
      }

      .list-table {
        .mat-header-row {
          background-color: mat-color($background-palette, background);
        }

        .highlighted {
          color: mat-color($primary-palette);
        }
      }
    }
  }

  pros-listcolumnsetting {
    .column-setting {
      .nav-setting {
        .mat-list-item {
          .listing-icons {
            color: mat-color($foreground-palette, secondary-text);
          }
        }

        .active {
          color: mat-color($primary-palette);
        }
      }
    }
  }

  pros-list-filters-dropdown {
    .filter-slider {
      mat-card-content {
        .fields-action {
          mat-form-field {
            border-color: mat-color($foreground-palette, divider);
          }
        }
      }

      .adv-filter-section {
        .material-nav {
          color: mat-color($primary-palette);
        }

        .nav-checked {
          .load-link {
            color: mat-color($primary-palette);
          }
        }
      }
    }
  }

  pros-attachment-tab {
    .attached-box {
      .attached-file {
        background-color: mat-color($background-palette, disabled-button);
      }

      .attachment-name {
        color: mat-color($primary-palette);
      }
    }
  }
}

@mixin pros-cmp-typography($config) {
  pros-add-tile .root {
    mat-icon {
      width: mat-font-size($config, display-3);
      height: mat-font-size($config, display-3);
      font-size: mat-font-size($config, display-3);
      font-weight: mat-font-weight($config, display-3);
    }
  }
}
