<mat-card class="flex-container">
        <div class="flex-col-9">
                <div class="content-row"><pros-breadcrumb [crumbs]="breadcrumb"></pros-breadcrumb></div>
                <pros-admin-tile link2="/admin/interfaces" iconColor="black" link="/admin/integration/sap/idocs" color="#C0C0C0" icon="build" title="IDOCS" text="It is a long established fact that a reader will be distracted by the readable content of" count = "3" chip="Documents"></pros-admin-tile>
                <pros-admin-tile link2="/admin/interfaces" iconColor="black" link="/admin/integration/sap/rfc" color="#C0C0C0" icon="build" title="RFC" text="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout." count = "0" chip=""></pros-admin-tile>
                <pros-admin-tile link2="/admin/interfaces" iconColor="black" link="/admin/integration/sap/odata" color="#C0C0C0" icon="build" title="ODATA" text="It is a long established fact that a reader will" count = "0" chip=""></pros-admin-tile>
        </div>
</mat-card>